<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>{yun:}$title{/yun}</title>
	<meta name=keywords content="{yun:}$keywords{/yun}" />
	<meta name=description content="{yun:}$description{/yun}" />
	<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css" />
	<link rel="stylesheet" href="{yun:}$style{/yun}/style/login.css" type="text/css" />
	<link rel="stylesheet" href="/app/public/css/login/index.css" type="text/css" />
	<link rel="stylesheet" href="/app/public/css/base.css" type="text/css" />
	<script>
		var weburl = "{yun:}$config.sy_weburl{/yun}",
			integral_pricename = '{yun:}$config.integral_pricename{/yun}',
			pricename = '{yun:}$config.integral_pricename{/yun}',
			code_web = '{yun:}$config.code_web{/yun}',
			code_kind = '{yun:}$config.code_kind{/yun}';
	</script>
</head>

<body>
	<div class="top">
		<div class="top_cot">
			<div class="top_cot_content">
				<div class="top_left fl">
					<div class="yun_welcome fl">欢迎来到{yun:}$config.sy_webname{/yun}！</div>
				</div>
				<div class="top_right_re fr">
					<div class="top_right">

						<div class="yun_topNav fr" style="display: none;">
							<a class="yun_navMore" href="javascript:;">网站导航</a>
							<div class="yun_webMoredown none">
								<div class="yun_top_nav_box">
									<ul class="yun_top_nav_box_l">
										{yun:}navmap key=key item=maplist{/yun}

										<li><a href="{yun:}$maplist.url{/yun}" {yun:}if $maplist.eject{/yun}
												target="_blank" {yun:}/if{/yun}>{yun:}$maplist.name{/yun} </a> </li>
												{yun:}/navmap{/yun} </ul> <ul class="yun_top_nav_box_wx">
												{yun:}nav item=navlist_app hovclass=nav_list_hover nid=11{/yun}
										<li> <a class="move_0{yun:}$navlist_app.sort{/yun}" {yun:}if
												$navlist_app.eject{/yun} target="_blank" {yun:}/if{/yun}
												href="{yun:}$config.sy_weburl{/yun}/{yun:}$navlist_app.url{/yun}">{yun:}$navlist_app.name{/yun}</a>
										</li>
										{yun:}/nav{/yun}
									</ul>

								</div>
							</div>
						</div>
						<!--<span class="fr"><a href="{yun:}$config.sy_weburl{/yun}/wap" class="wap_icon" target="_blank">手机版</a><i class="htop_line">|</i><a href="{yun:}url m=subscribe{/yun}" target="_blank" class="top_dy">订阅</a><i class="htop_line_two">|</i></span>-->
						<script language='JavaScript' src='{yun:}url m=ajax c=RedLoginHead{/yun}'></script>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="login_cont">
		<div class="login_w960">
			<div class="login_header ">
				<div class="logo fls" style="position:relative"><a href="{yun:}$config.sy_weburl{/yun}"><img
							src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_logo{/yun}" class="png"></a></div>
				<!--<a href="{yun:}$config.sy_weburl{/yun}" class="logo_fh fr">返回网站首页>></a>-->
			</div>

		</div>
		<div class="clear"></div>

		<div class="logoin_cont_box">
			<div class="login_left">
				<div class="signInBox">
						<div class="logTab">
								<span class="choosed">验证码登录</span>
								<span>密码登录</span>
								<div class="underline"></div>
							</div>
							<div class="formBox">
								<div class="verifyBox">
									<input type="num" class="verTel verify input_nomorl" rule='^\d{11}$' notice='请输入正确的手机号'
										placeholder="请输入手机号">
									<input type="num" class="verifyCode input_nomorl" placeholder="请输入验证码">
									<span class="getCode">获取验证码</span>
								</div>
								<div class="passwordBox">
									<input type="num" class="passTel verify input_nomorl" rule='^\d{11}$' notice='请输入正确的手机号'
										placeholder="请输入手机号">
									<input type="password" class="loginPassword input_nomorl" placeholder="请输入密码">
								</div>
							</div>
							<a class="forgetPass" href='/index.php?m=forgetpw'>忘记密码?</a>
							<button type="button" class="login gradient_1">登录</button>
							<p class="toSignUp">没有账号？<span>立即注册</span></p>
				</div>
				<div class="signUpbox">
						<span class="signUpTab">注册</span>
							<div class="signUp">
									<input type="num" id="singUpTel" class="singUpTel verify input_nomorl" rule='^\d{11}$' notice='请输入正确的手机号'
										placeholder="请输入手机号">
									<input type="num" class="verifyCode2 input_nomorl" placeholder="请输入验证码">
									<input type="num" class="inviCode input_nomorl" placeholder="无邀请码可不填">
									<span class="getCode">获取验证码</span>
							</div>
							<div class="agreeBox"><input type="checkbox" id="agree"/><label for="agree">我已阅读并同意</label><a href="#" title="查看协议内容">《慧猎用户服务协议》</a></div>
							<button type="button" class="signUpBtn gradient_1">注册</button>
							<p class="toSignIn">返回登录<img src="/app/public/imgs/back.png" alt=""></p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--banner-->
		<div class="logoin_banner">
			<div class="flexslider">
				<ul class="slides">
					<li style="background: url(/app/public/imgs/banner_02.png) 50% 0 no-repeat;"> <div
							href="#"
							style="display:block;width:100%;height:100%;"></div> </li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div style="width:1200px; margin:0 auto">
			<dl class="login_list">
				<dt><img src="{yun:}$style{/yun}/images/log_img1.png" class="png" /></dt>
				<dd>
					<div class="login_list_h1">强大的人才库平台</div>
					<div class="login_list_p">5000多万联合人才数据库</div>
				</dd>
			</dl>
			<dl class="login_list">
				<dt><img src="{yun:}$style{/yun}/images/log_img2.png" class="png" /></dt>
				<dd>
					<div class="login_list_h1">固化做单流程,保障服务质量</div>
					<div class="login_list_p">重视每一单托付，只做有结果的招聘
					</div>
				</dd>
			</dl>
			<dl class="login_list">
				<dt><img src="{yun:}$style{/yun}/images/log_img3.png" class="png" /></dt>
				<dd>
					<div class="login_list_h1">不仅招聘，还是人力资源管理专家</div>
					<div class="login_list_p">600多位招聘猎头，为企业建立HR系统
					</div>
				</dd>
			</dl>
		</div>
	</div>
	</div>

	<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
	<script src="{yun:}$style{/yun}/js/reg_ajax.js" type="text/javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/slides.jquery.js" type="text/javascript"></script>
	<script src="{yun:}$style{/yun}/js/jquery.flexslider.js" type="text/javascript"></script>
	<script src="{yun:}$style{/yun}/js/jcarousellite.js" type="text/javascript"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/gt.js"></script>
	<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/pc.js" type="text/javascript"></script>
	<script src="/app/public/js/base.js"></script>

	<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
	DD_belatedPNG.fix('.png,.login_fast,.login_box_tit .login_cur');
</script>
<![endif]-->
	<script>
		$(document).ready(function () {
			let count1 = 59;
			let count2 = 59;
			$('.toSignUp span').click(ev=>{
				$('.signInBox').css('transform','translateZ(-100deg)');
				$('.signUpbox').css('top','-100%')
			})
			$('.toSignIn').click(ev=>{
				$('.signInBox').css('transform','translateZ(0)');
				$('.signUpbox').css('top','0')
			})
			$('.signInBox .getCode').click(ev=>{
                var tel = $('.verTel').val();
				Get('{yun:}url m=register c=checktel{/yun}',{tel: tel}).then(function (res) {
					Get('{yun:}url m=register c=sendtel{/yun}',{tel:tel}).then(function (res) {
						// alert(res.message);
						console.log(1,res);
					}).catch(function (res) {
						// alert(res.message);
						console.log(1,res);
					});
				}).catch(function (res) {
					alert(res.message);
				});
				if(count1==59){
					$(ev.target).html('60s后重试').css('cursor','wait').css('color','#999');
					let timeId = setInterval(()=>{
						if(count1!=0){
							$(ev.target).html(count1+'s后重试').css('cursor','wait').css('color','#999');
							count1--;
						}else{
							$(ev.target).html('获取验证码').css('cursor','pointer').css('color','#3CC1D3');
							clearInterval(timeId);
							count1=59
						}
					},1000)
				}
			})
			$('.signUpbox .getCode').click(ev=>{
                var tel = $('.singUpTel').val();
                Get('{yun:}url m=register c=checktel{/yun}',{tel: tel}).then(function (res) {
					Get('{yun:}url m=register c=sendtel{/yun}',{tel:tel}).then(function (res) {
						// alert(res.message);
						console.log(1,res);
                    }).catch(function (res) {
						// alert(res.message);
                        console.log(1,res);
					});
                }).catch(function (res) {
                    alert(res.message);
                });
				if(count2==59){
					$(ev.target).html('60s后重试').css('cursor','wait').css('color','#999');
					let timeId = setInterval(()=>{
						if(count2!=0){
							$(ev.target).html(count2+'s后重试').css('cursor','wait').css('color','#999');
							count2--;
						}else{
							$(ev.target).html('获取验证码').css('cursor','pointer').css('color','#3CC1D3');
							clearInterval(timeId);
							count2=59
						}
					},1000)
				}
			})

			/****start  edit guo***********************************************************************************************/
            //手机验证码注册账号
            $('.signUpBtn').click(function () {
                var tel = $('.singUpTel').val();
                var code = $('.verifyCode2').val();
                code == '' && alert('请填写验证码');
                var inviCode = $('.inviCode').val();
                Post('{yun:}url m=register c=registcom{/yun}',{tel:tel,code:code,invitecode:inviCode}).then(function (res) {
                    alert(res.message);
                    if(res.success)
                        window.location.href = '../member/index.php';
                        ;
                }).catch(function (res) {
                    alert(res.message);
                });
            });

            $('.login').click(function () {
                if ($('.logTab .choosed+span').length == 0){
                    //手机密码登录
                    var tel = $('.passTel').val();
                    var pass = $('.loginPassword').val();
					Post('{yun:}url m=login c=wt_login{/yun}',{username:tel,password:pass,l_type:2}).then(function (res) {
					    alert(res.message);
						window.location.href = '../member/index.php';  //后台没有成功射入cookie信息，
                    }).catch(function (res) {
                        alert(res.message);
                        window.location.href = '../member/index.php';
					});
                }else{
                    //手机验证码登录
					var verTel = $('.verTel').val();
					var verifyCode = $('.verifyCode').val();
                    Post('{yun:}url m=login c=wt_login{/yun}',{username:verTel,password:verifyCode,l_type:1}).then(function (res) {
                        alert(res.message);
                        window.location.href = '../member/index.php';  //没有跳转成功，后台没有摄入cookie信息
                    }).catch(function (res) {
                        alert(res.message);
                        window.location.href = '../member/index.php';
                    });
                }
            });


            /*******end  edit  guo********************************************************************************************/


			$('.logTab span').click(ev => {
				$('.logTab span').removeClass('choosed');
				$(ev.target).addClass('choosed');
				if ($('.logTab .choosed+span').length == 0) {
					$('.logTab div').css('left','50%')
					$('.passwordBox').css('left', '0')
					$('.verifyBox').css('left', '-100%')
					$('.forgetPass').css('display','inline-block')
				} else {
					$('.logTab div').css('left','0')
					$('.passwordBox').css('left', '100%')
					$('.verifyBox').css('left', '0')
					$('.forgetPass').css('display','none')

				}
			})
			$("#slides").slides({
				preload: true,
				preloadImage: '{yun:}$style{/yun}/images/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});

			$("#username,#txt_CheckCode,#usermoblie,#dynamiccode").focus(function () {
				var txAreaVal = $(this).val();
				if (txAreaVal == this.defaultValue) {
					$(this).val("");
				}
			}).blur(function () {
				var txAreaVal = $(this).val();
				if (txAreaVal == this.defaultValue || $(this).val() == "") {
					$(this).val(this.defaultValue);
				}
			}).keydown(function (e) {
				var ev = document.all ? window.event : e;
				if (ev.keyCode == 13) {
					check_login('{yun:}url m=login c=loginsave{/yun}', 'vcode_imgs');
				} else {
					return;
				}
			});

			$("#password2").focus(function () {
				$("#password").show();
				$("#password").focus();
				$("#password2").hide();
			})
			$("#password").blur(function () {
				if ($("#password").val() == "") {
					$("#password2").show();
					$("#password").hide();
				}
			}).keydown(function (e) {
				var ev = document.all ? window.event : e;
				if (ev.keyCode == 13) {
					check_login('{yun:}url m=login c=loginsave{/yun}', 'vcode_imgs');
				} else {
					return;
				}
			});
			var setval;
			$('.wxcode_login').click(function (data) {
				$('.wxcode_login').hide();
				$('.normal_login').show();
				$('#login_normal').hide();
				$('.login_box_h_list').hide();
				$('.wx_login_show').show();
				$.post('{yun:}url m=login c=wxlogin{/yun}', {
					t: 1
				}, function (data) {
					if (data == 0) {
						$('#wx_login_qrcode').html('二维码获取失败..');
					} else {
						$('#wx_login_qrcode').html('<img src="' + data +
							'" width="100" height="100">');
						setval = setInterval("wxorderstatus()", 2000);
					}
				});
			});
			$('.normal_login').click(function (data) {
				$('.wxcode_login').show();
				$('.normal_login').hide();
				$('#login_normal').show();
				$('.login_box_h_list').show();
				$('.wx_login_show').hide();
				clearInterval(setval);
			});
			//账号登录和手机登录tab选择
			$('#acount_login').click(function (data) {
				$('#acount_login').removeClass().addClass('login_box_h_list_cur');
				$('#mobile_login').removeClass();
				$('#login_normal_box').show();
				$('#login_sj_box').hide();
				$('#login_sjyz_box').hide();
				$('#act_login').val('0');
			});
			$('#mobile_login').click(function (data) {
				$('#mobile_login').removeClass().addClass('login_box_h_list_cur');
				$('#acount_login').removeClass();
				$('#login_sj_box').show();
				$('#login_sjyz_box').show();
				$('#login_normal_box').hide();
				$('#act_login').val('1');
			});
		});

		$(window).load(function () {
			$('.flexslider').flexslider({
				directionNav: true,
				pauseOnAction: false
			});
		});

		function wxorderstatus() {
			$.post('{yun:}url m=login c=getwxloginstatus{/yun}', {
				t: 1
			}, function (data) {
				var data = eval('(' + data + ')');
				if (data.url != '' && data.msg != '') {
					layer.msg(data.msg, 2, 9, function () {
						window.location.href = data.url;
					});
				} else if (data.url) {
					window.location.href = data.url;
				}
			});
		}
	</script>
	{yun:}include file="$tplstyle/footer.htm"{/yun}