.pwConBox{
    width: 100%;
}
.steps{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#999;
    margin: 50px auto;
}
.step span:nth-child(1){
    width: 19px;
    line-height: 19px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
    border: solid 1px #efefef;
}
.steps .hover{
    color: #3CC1D3;
}
.steps .hover span:nth-child(1){
    background: #3CC1D3;
    border-color: #3CC1D3;
    color: #fff;
}
.formBox{
    width: 400px;
    margin: 50px auto;
    position: relative;
}
.formBox>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formBox input{
    margin-top: 28px;
    padding-left: 15px;
}
.form_notice{
    width: 385px;
    padding-left: 145px;
}
.getCode{
    top: 132px;
    left: 250px;
    position: absolute;
    font-size: 13px;
    color: #3CC1D3;
    cursor: pointer;
}
.first{
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
}
.formBox .form2{
    display: none;
}