.login_header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
.login_left{
    background: #fff;
    border-radius: 8px;
    width: 330px;
    height: 367px;
    transition: 0.2s;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
}
.logTab{
    margin: 0 30px;
    color: #666666;
    font-size: 16px;
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(238,238,238,1);;
}
.logTab span{
    display: inline-block;
    flex: 1;
    line-height: 51px;
    text-align: center;
    cursor: pointer;
}
.logTab span.choosed{
    color: #3CC1D3;
}
.logTab div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background: rgba(60,193,211,1);
    transition: 0.2s;
}
.formBox{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 188px;
}
.passwordBox,.verifyBox{
    width: 100%;
    box-sizing: border-box;
    padding: 40px 30px;
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
}
.passwordBox{
    left: 100%;
}
.passTel,.loginPassword,.verTel,.verifyCode,.verifyCode2,.singUpTel,.inviCode{
    padding-left: 39px;

}
.passTel,.verTel,.singUpTel{
background: url(/app/public/imgs/user.png) 10px center no-repeat;
}
.loginPassword{
    margin-top: 28px;
    background: url(/app/public/imgs/password.png) 10px center no-repeat;
}
.verifyCode,.verifyCode2{
    margin-top: 28px;
    background: url(/app/public/imgs/verify_code.png) 10px center no-repeat;
}
.verifyCode2{
    margin-top: 26px;
}
.inviCode{
    margin-top: 26px;
    background: url(/app/public/imgs/invition.png) 10px center no-repeat;
}
.forgetPass{
    display: none;
    margin: 0 35px  -13px  241px;
    line-height: 13px;
    font-size: 12px;
    color: #333;
    text-align: right;
    cursor: pointer;
}
.login,.signUpBtn{
    width: 270px;
    display: block;
    box-sizing: border-box;
    margin: 20px auto 0;
    height: 41px;
    border-radius: 22px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 41px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.toSignUp{
    display: block;
    text-align: center;
    color: #333;
    font-size: 13px;
    margin-top: 22px;
}
.toSignUp span{
    color: #3CC1D3;
    cursor: pointer;
}
.signInBox{
    height: 100%;
    overflow: hidden;
    background: #fff;
    transition: 0.2s;
}
.signUpbox{
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;
    transition: 0.2s;
    top: 0;
}
.signUpTab{
    display: block;
    margin: 0 97px;
    line-height: 50px;
    border-bottom: 1px solid rgba(60,193,211,1);
    text-align: center;
    color:rgba(60,193,211,1);
    font-size: 16px;
}
 .signUp{
    padding: 20px 30px;
}
.signUpBtn{
    margin-top: 15px;
}
.agreeBox{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}
.agreeBox input{
    cursor: pointer;
    margin-right: 5px;
}
.agreeBox label{
    cursor: pointer;
}
.agreeBox a{
    color: #3CC1D3;
    cursor: pointer;
}
.toSignIn{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 5px;
    cursor: pointer;
    color: #3CC1D3;
}
.toSignIn img{
    margin-left: 5px;
}
.form_notice{
    margin-left: 40px;
}
.getCode{
    position: absolute;
    top: 119px;
    left: 216px;
    display: inline-block;
    font-size: 13px;
    color: #3CC1D3;
    cursor: pointer;
}
.signUpbox .getCode{
    top: 149px;
}
.blocks{
    width: 100%;
    height: 900px;
}
.blocks span:nth-child(1){
    display: block;
    margin-top: 105px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #333;
    text-align: center;
}
.blocks span:nth-child(2){
    display: block;
    margin-bottom: 137px;
    color: #999;
    text-align: center;
}
.imgs{
    display: flex;
    width: 1200px;
    margin: 0 auto 180px;
}
.imgs div{
    width: 240px;
}
.imgs img{
}
.imgs img:nth-child(2){
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin-left: -50px;
    margin-top: -58px;
    position: relative;
    z-index: 2;
}
.imgs div:hover img:nth-child(1){
    display: none;
}
.imgs div:hover img:nth-child(2){
    display: block;
}
.sec2{
    width: 100%;
    height: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 132px;
    width: 100%;
    overflow: hidden;
}
.sec3 span{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 146px;
    margin-bottom: 113px;
}
.sec4{
    padding-top: 105px;
    padding-bottom: 169px;
    background: #f9f9f9;
}
.sec4>span{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 115px;
}
.sec4 div{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.div3 span:nth-child(2){
    display: block;
    margin-top: 47px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
    font-size: 30px;
}
.div3 img{

}
.div3 span:nth-child(3){
    color: #999;
}
.sec5{
    padding-top: 146px;
    padding-bottom: 224px;
}
.sec5>span{
    display: block;
    margin-bottom: 75px;
    color: #333;
    font-size: 30px;
    text-align: center;
}
.row1{
    width: 1000px;
    margin: auto;
    display: flex;
    height: 186px;
    justify-content: space-between;
    margin-bottom: -82px;
}
.row1 div{
    width: 186px;
    height: 186px;
    display: flex;
    align-items: center;
}
.row2{
    width: 1200px;
    margin: 0 auto -82px ;
    display: flex;
    height: 186px;
    justify-content: space-between;
}
.row2 div{
    width: 186px;
    height: 186px;
    display: flex;
    align-items: center;
}
.sec5 img{
    margin: auto;
}
.sec5 img:nth-child(2){
    display: none;
}
.sec5 >div>div:hover  img:nth-child(2){
    display: block;
}
.sec5 >div>div:hover  img:nth-child(1){
    display: none;
}
.logoin_cont_box{
    position: relative;
    z-index: 99;
}
.agreementMask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    display: none;
}
.agreementBox{
    width: 756px;
    margin: 74px auto 0;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 30px;
}
.amTitle{
    padding-left: 38px;
    padding-top: 57px;
    padding-bottom: 46px;
    display: flex;
    align-items: center;
}
.amClose{
    float: right;
    margin: 14px;
    cursor: pointer;
    display: block;
}
.am{
    margin: 0 50px 42px;
    height: 614px;
    overflow-y: scroll;
    line-height: 26px;
    font-size: 14px;
    color: #333;
}
.am b{
    font-size: 16px;
    line-height: 48px;
}
.agreementBox .btn{
    width: 129px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.sec2{
    position: relative;
}
.sec2 span{
    position: absolute;
    display: block;
    top: 165px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.sec2 span:nth-child(1){
    font-size: 30px;
    top: 106px;
}
