<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<link href="./images/reset.css" rel="stylesheet" type="text/css" />
<link href="./images/system.css" rel="stylesheet" type="text/css" />
<link href="./images/table_form.css" rel="stylesheet" type="text/css" /> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<title></title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>

<div class="admin_Prompt">
<div class="admin_Prompt_span">
    <b>提示：</b>套餐服务关乎用户使用扣费问题，请添加后编辑服务套餐，谨慎修改并注意整体的合理性。
</div>
<div class="admin_Prompt_close"></div></div>
<div class="infoboxp_top">
	<h6>添加套餐类型</h6>
</div>
<div style=" background: #FFFFFF; border: 1px solid #DCE3ED;">
<div class="">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="myform" target="supportiframe" action="index.php?m=admin_comrating&c=save" method="post" id="myform" onSubmit="return checkform();">
<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
<table width="100%" class="table_form table_form_thr" style="background:#fff;">
    <tr>
        <th align="right" width="150">慧猎套餐名称：</th>
        <td>
            <input type="text" name="name" id="name" class="input-text tips_class" size="30">
            <span class="admin_web_tip">如：慧面试</span>
        </td>
        <th align="right">状态：</th>
        <td>
            <input type="radio" name="display" value="1" id="RadioGroup1_0" {yun:}if $row.display==1{/yun}checked{yun:}/if{/yun}>
            <label for="RadioGroup1_0">启用</label>
            <input type="radio" name="display" value="0" id="RadioGroup1_1" {yun:}if $row.display==0{/yun}checked{yun:}/if{/yun}>
            <label for="RadioGroup1_1">不启用</label>
            <span class="admin_web_tip">前台是否可见</span>
        </td>
    </tr>
    <tr>
        <th align="right" width="150">慧猎套餐主内容：</th>
        <td>
            <div class="yun_admin_select_box zindex200">
                <input type="button" value="慧沟通" class="yun_admin_select_box_text" id="staple_product_name" onclick="select_click('staple_product');">
                <input name="staple_product" type="hidden" id="staple_product_val" value="resume">
                <div class="yun_admin_select_box_list_box dn" id="staple_product_select">
                    <div class="yun_admin_select_box_list">
                        <a href="javascript:;" onclick="select_new('staple_product','resume','慧沟通')">慧沟通</a>
                    </div>
                    <div class="yun_admin_select_box_list">
                        <a href="javascript:;" onclick="select_new('staple_product','interview','慧面试')">慧面试</a>
                    </div>
                </div>
            </div>
        </td>
        <th align="right">&nbsp;</th>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th align="right" width="150">慧猎套餐赠送内容：</th>
        <td>
            <div class="yun_admin_select_box zindex100">
                <input type="button" value="慧面试" class="yun_admin_select_box_text" id="welfare_product_name" onclick="select_click('welfare_product');">
                <input name="welfare_product" type="hidden" id="welfare_product_val" value="interview">
                <div class="yun_admin_select_box_list_box dn" id="welfare_product_select">
                    <div class="yun_admin_select_box_list">
                        <a href="javascript:;" onclick="select_new('welfare_product','interview','慧面试')">慧面试</a>
                    </div>
                    <div class="yun_admin_select_box_list">
                        <a href="javascript:;" onclick="select_new('welfare_product','resume','慧沟通')">慧沟通</a>
                    </div>
                </div>
            </div>
        </td>
        <th align="right">&nbsp;</th>
        <td>&nbsp;</td>
    </tr>
    <tr class="admin_table_trbg">
<td colspan="4" align="center">
	<input name="id" type="hidden" value="{yun:}$row.id{/yun}">
	<input class="admin_submit4" name="useradd" type="submit" value="提交" id="dosubmit">
</td>
 </table>
 </form>
</div>
</div>
</div>
<script> 
function checkform(){
	if($("#name").val()==""){
		parent.layer.msg("慧猎套餐名称不能为空",2,8);
		return false;
	}
}
$(".tips_class").hover(function(){ 
	var msg_id=$(this).attr('id'); 
	var msg=$('#'+msg_id+' + font').html();
	if($.trim(msg)!=''){
		layer.tips(msg, this, {
		guide: 1, 
		style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC']
		}); 
		$(".xubox_layer").addClass("xubox_tips_border");
	} 
},function(){
	var msg_id=$(this).attr('id');
	var msg=$('#'+msg_id+' + font').html();
	if($.trim(msg)!=''){
		layer.closeTips();
	} 
});
</script>
</body>
</html>