{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/comapply/comapply.css">
<div class="ba"></div>
<div class="comapply">
  <div class="title_">职位详情</div>
  <div class="line_2"></div>
  <br>
  <div class="combox">
    <div class="comTitle">公司信息</div>
    <img src="/app/public/imgs/9_03.png" class="comLogo" alt="">
    <span class="comName">
      重庆南方新华企业管理咨询有限公司
    </span>
    <div class="comInfo">
      <div class="div1">
        <img src="/app/public/imgs/9_18.png" alt="">
        <span>广告·传媒·教育·文化</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_23.png" alt="">
        <span>重庆</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_27.png" alt="">
        <span>上市公司</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_29.png" alt="">
        <span>1000人以上</span>
      </div>
    </div>
  </div>
  <div class="cvbox">
    <span class="postName">运营总监</span>
    <span class="salary">￥10000-15000</span>
    <div class="div1">
      <img src="/app/public/imgs/9_06.png" alt="">
      <span>重庆航航航网络股份有限公司</span>
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_09.png" alt="">
      <span>不限经验 | 大专学历 | 不限到岗 | 年龄不限 | 性别不限 | 婚况不限 </span>
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_11.png" alt="">
      <span>江苏-南京-鼓楼区 | 2019年08月21日结束招聘 </span>
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_11.png" alt="">
      <span class="tag">奖励计划</span>
      <span class="tag">五险一金</span>
      <span class="tag">员工体检</span>
    </div>
    <div class="div1 tag1">
      <img src="/app/public/imgs/9_11.png" alt="">
      <span class="tag">奖励计划</span>
      <span class="tag">五险一金</span>
      <span class="tag">员工体检</span>
    </div>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>职位描述
    </div>
    <p class="description">

      1.全面负责项目产品线的规划、设计和生命周期管理；

      2.带领项目产品团队，协调技术开发团队，项目运营团队，市场团队完成相关工作；

      3. 研究国内外行业最新动态，保证产品处于行业领先地位。

      4.跟踪线上产品的市场效果、用户反馈、收集和主动挖掘改进需求，根据业务需要持续改进产品，提升用户体验；

      岗位要求：

      1.计算机相关专业，3年以上产品部门负责人岗位经验。有较强的技术基础，有游戏、电商等相关行业经验者优先。

      2.能负责产品部门所有事宜，精通产品设计基本知识，对布局、交互、信息、视觉有深刻理解。

      3.具有同时管理WEB, 移动端产品经验，有海外市场产品经验者优先。

      4.熟悉“Java、Python、PHP、C 、C#”中至少一门程序开发语言。

      5.具有很强的逻辑思维能力、学习能力，良好的语言表达能力和技术讲解能力。

      6.具备良好跨部门沟通能力，对于团队管理有一定的经验。

      7.具有广阔的视野及前瞻性。
    </p>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>其他信息
    </div>
    <div class="div2">
      <span>所属行业：<span>广告·传媒·教育·文化</span></span>
      <span>企业性质：<span>上市公司</span></span>
      <span>企业规模：<span>1000人以上</span></span>
      <span>行业要求：<span>广告·传媒·教育·文化</span></span>
    </div>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>薪酬福利
    </div>
    <div class="div2">
      <span>职位年薪：<span>12-18万</span></span>
      <span>薪酬发放月数：<span>14月</span></span>
      <span>年薪福利：<span>国家标准</span></span>
      <span>社保福利：<span>国家标准</span></span>
      <span>通讯交通：<span>不确定</span></span>
    </div>
  </div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}