{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/comapply/comapply.css">
<div class="ba"></div>
<div class="comapply">
  <div class="title_">职位详情</div>
  <div class="line_2"></div>
  <br>
  <div class="combox">
    <div class="comTitle">公司信息</div>
    <img src="/app/public/imgs/9_03.png" class="comLogo" alt="">
    <span class="comName">
      {yun:}if $Info.identity<>3{/yun}
                <a href="{yun:}$Info.com_url{/yun}" target="_blank" class="">{yun:}$Info.com_name|mb_substr:0:13:'gbk'{/yun}</a>
                {yun:}else{/yun}
                <label style="display:block;text-align: left;width: 100%;margin-left: 10px;">{yun:}$Info.com_name|mb_substr:0:13:'gbk'{/yun}</label>
                {yun:}/if{/yun}
                {yun:}if $Info.yyzz_status=='1'{/yun}
                <img src="{yun:}$style{/yun}/images/disc_icon10.png" title="营业执照已审核" class="png"/>
                {yun:}/if{/yun}
    </span>
    <div class="comInfo">
      <div class="div1">
        <img src="/app/public/imgs/9_18.png" alt="">
        <span>{yun:}$Info.job_hy{/yun}</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_23.png" alt="">
        <span>{yun:}$Info.com_city{/yun}</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_27.png" alt="">
        <span>{yun:}$Info.job_pr{/yun}</span>
      </div>
      <div class="div1">
        <img src="/app/public/imgs/9_29.png" alt="">
        <span>{yun:}$Info.job_mun{/yun}</span>
      </div>
    </div>
  </div>
  <div class="cvbox">
    <span class="postName">{yun:}$Info.jobname{/yun}</span>
    <span class="salary">￥{yun:}$Info.minsalary{/yun}-{yun:}$Info.maxsalary{/yun}</span>
    <div class="div1">
      <img src="/app/public/imgs/9_06.png" alt="">
      <span>{yun:}$Info.com_name|mb_substr:0:13:'gbk'{/yun}</span>
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_09.png" alt="">
      {yun:}if $Info.job_exp{/yun}<span class="Company_Basic_information_l">{yun:}$Info.job_exp{/yun}经验</span>{yun:}/if{/yun}
      {yun:}if $Info.job_edu{/yun}<i class="Company_Basic_information_line">&nbsp;|&nbsp;</i><span class="Company_Basic_information_l">{yun:}$Info.job_edu{/yun}学历</span>{yun:}/if{/yun}
      {yun:}if $Info.job_report{/yun}<i class="Company_Basic_information_line">&nbsp;|&nbsp;</i><span class="Company_Basic_information_l">{yun:}$Info.job_report{/yun}到岗</span> {yun:}/if{/yun}
      {yun:}if $Info.job_age{/yun}<i class="Company_Basic_information_line">&nbsp;|&nbsp;</i><span class="Company_Basic_information_l">年龄{yun:}$Info.job_age{/yun}</span>{yun:}/if{/yun}
      {yun:}if $Info.sex{/yun}<i class="Company_Basic_information_line">&nbsp;|&nbsp;</i><span class="Company_Basic_information_l">性别{yun:}$Info.sex{/yun}</span> {yun:}/if{/yun}
      {yun:}if $Info.job_marriage{/yun}<i class="Company_Basic_information_line">&nbsp;|&nbsp;</i><span class="Company_Basic_information_l">婚况{yun:}$Info.job_marriage{/yun}</span>{yun:}/if{/yun}
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_11.png" alt="">
      <span>{yun:}if $Info.job_city_one||$Info.job_city_two||$Info.job_city_three{/yun}
           {yun:}$Info.job_city_one{/yun}-{yun:}$Info.job_city_two{/yun}{yun:}if $Info.job_city_three{/yun}-{yun:}$Info.job_city_three{/yun}
           {yun:}/if{/yun}{yun:}/if{/yun}{yun:}if $Info.job_number{/yun}<i class="Company_Basic_information_line">|</i><span class="Company_Basic_information_l">招聘{yun:}$Info.job_number{/yun}</span> {yun:}/if{/yun}
            <i class="Company_Basic_information_line">&nbsp;|&nbsp;</i>{yun:}$Info.edate{/yun}结束招聘</span>
    </div>
    <div class="div1">
      <img src="/app/public/imgs/9_11.png" alt="">
      {yun:}if $Info.welfare_info{/yun}
          {yun:}foreach from=$Info.welfare item=wlist{/yun}
          <span>{yun:}$comclass_name[$wlist]{/yun}</span>{yun:}/foreach{/yun}
      {yun:}/if{/yun}
    </div>
    <div class="div1 tag1">
      <img src="/app/public/imgs/9_11.png" alt="">
      {yun:}foreach from=$Info.lang item=langlist{/yun} <span class="yun_com_fl_dy ">{yun:}$comclass_name[$langlist]{/yun}</span> {yun:}/foreach{/yun}
    </div>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>职位描述
    </div>
    <p class="description">

      {yun:}$Info.description{/yun}
    </p>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>其他信息
    </div>
    <div class="div2">
      {yun:}if $Info.detail_report{/yun}
      <label class="qtstyle666">汇报对象：<span class="resultss">{yun:}$Info.detail_report{/yun}</span></label>
      {yun:}/if{/yun}

      {yun:}if $Info.detail_subordinate{/yun}
      <label class="qtstyle666">下属人数：<span class="resultss">{yun:}$Info.detail_subordinate{/yun}人</span></label>
      {yun:}/if{/yun}

      {yun:}if $Info.com_hy{/yun}
      <label class="qtstyle666">所属行业：<span class="resultss">{yun:}$industry_name[$Info.com_hy]{/yun}</span></label>
      {yun:}/if{/yun}

      {yun:}if $Info.detail_dept_id{/yun}
      <label class="qtstyle666">所属部门：<span class="resultss">{yun:}$Info.detail_dept_id{/yun}</span></label>
      {yun:}/if{/yun}

      {yun:}if $Info.com_pr{/yun}
      <label class="qtstyle666">企业性质：<span class="resultss">{yun:}$comclass_name[$Info.com_pr]{/yun}</span></label>
      {yun:}/if{/yun}
      {yun:}if $Info.com_mun{/yun}
      <label class="qtstyle666">企业规模：<span class="resultss">{yun:}$comclass_name[$Info.com_mun]{/yun}</span></label>
      {yun:}/if{/yun}
      {yun:}if $Info.job_hy{/yun}
      <label class="qtstyle666">行业要求：<span class="resultss">{yun:}$Info.job_hy{/yun}</span></label>
      {yun:}/if{/yun}
    </div>
    <img src="/app/public/imgs/0_03.png" alt="" class="divide">
    <div class="title2">
      <div class="line_1"></div>薪酬福利
    </div>
    <div class="div2">
      <label class="qtstyle666">职位年薪：<span class="resultss">{yun:}$Info.salary_n{/yun}</span></label>
      <label class="qtstyle666">薪酬发放月数：<span class="resultss">{yun:}$Info.ejob_salary_month{/yun}月</span></label>
      <label class="qtstyle666">年薪福利：<span class="resultss">国家标准</span></label>
      <label class="qtstyle666">社保福利：<span class="resultss">国家标准</span></label>
      <label class="qtstyle666">通讯交通：<span class="resultss">不确定</span></label>
    </div>
  </div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}