{yun:}include file="$ltstyle/header.htm"{/yun}
<link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css"/>
<div class="top_nav_list">
    {yun:}include file="$ltstyle/left.htm"{/yun}
</div>

<div class="w1000">
<div class="admin_mainbody" style="margin-top: 20px;">
  <div class=down_box style="margin-top: 0px;">
    <div class=admincont_box>

        <div class="Search_jobs_form_list" >
            <div class="yun_job_search">
                <div class="Search_jobs_sub">
                    <input type="text" name="keyword" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入关键字,如:职位名,公司名...{yun:}/if{/yun}" onclick="if(this.value=='请输入关键字,如:职位名,公司名...'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键字,如:职位名,公司名...'}" class="Search_jobs_text "/>
                    <input type="submit" value="搜索" class="Search_jobs_submit yun_bg_color" style="background: #5f75a3;height: 40px;"/>
                </div>
            </div>
        </div>

        <div class="Search_jobs_form_list search_more">
            <div class="shaixuan">筛选条件：</div>
            <div class="Search_jobs_sub" style="margin-left: 50px;margin-top: 14px;">
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}行业类别{yun:}/if{/yun}</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_hylist none">
                        <ul>
                            {yun:}foreach from=$industry_index item=v key=key{/yun}
                            <li><a href="javascript:;"  class="Search_jobs_cxz">{yun:}$industry_name[$v]{/yun}</a> </li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
                <div class="Search_jobs_more_chlose">
          <span class="Search_jobs_more_chlose_s">工作地点</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none" style="width: 415px;">
                        <ul>
                            {yun:}foreach from=$city_index key=j item=v{/yun}
                            <li style="width: inherit;"><a href="javascript:;"  class="Search_jobs_cxz">{yun:}$city_name[$v]{/yun}</a> </li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>

                <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">年薪范围</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none">
                        <ul>
                            <li> <a href="javascript:;" class="Search_jobs_cxz width110">10万以内</a></li>
                            <li> <a href="javascript:;" class="Search_jobs_cxz width110">10-20万</a></li>
                            <li> <a href="javascript:;" class="Search_jobs_cxz width110">20-30万以内</a></li>
                            <li> <a href="javascript:;" class="Search_jobs_cxz width110">30-50万以内</a></li>
                            <li> <a href="javascript:;" class="Search_jobs_cxz width110">50万以上</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Search_jobs_more_chlose">
                    <span class="Search_jobs_more_chlose_s">{yun:}if $uptime[$smarty.get.uptime]{/yun}{yun:}$uptime[$smarty.get.uptime]{/yun}{yun:}else{/yun}更新时间{yun:}/if{/yun}</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none">
                        <ul>
                            {yun:}foreach from=$uptime item=v key=key{/yun}<li>
                            <a href="javascript:;" class="Search_jobs_cxz width110">{yun:}$v{/yun}</a> </li>{yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
                <div class="paixu_btn">
                    <label class="pxbtn">年薪从高到低</label>
                    <label class="pxbtn pxcur">更新时间从新到旧</label>
                </div>
            </div>
        </div>

        <div class="left_job_all fl">
            <div class="job_left_sidebar" style="width: 1000px;margin-left: 50px;">
                <div class="job_news_list" style="background: #f1f8ff">
                    <span class="job_news_list_span job_w245" style="text-align:left;padding-left: 10px;">职位</span>
                    <span class="job_news_list_span job_w130">工作地点</span>
                    <span class="job_news_list_span job_w110">年薪</span>
                    <span class="job_news_list_span job_w110">更新时间</span>
                    <span class="job_news_list_span job_w260">
                        <label class="num_tj">
                            <img src="{yun:}$lt_style{/yun}/images/icol0.png">
                            <label class="jieshiico">服务猎头</label>
                        </label>
                        <label class="num_tj w36">
                            <img src="{yun:}$lt_style{/yun}/images/icol1.png">
                            <label class="jieshiico">推荐候选人</label>
                        </label>
                        <label class="num_tj w36">
                            <img src="{yun:}$lt_style{/yun}/images/icol2.png">
                            <label class="jieshiico">HR已查看</label>
                        </label>
                        <label class="num_tj w41">
                            <img src="{yun:}$lt_style{/yun}/images/icol3.png">
                            <label class="jieshiico">HR已下载</label>
                        </label>
                        <label class="num_tj w41">
                            <img src="{yun:}$lt_style{/yun}/images/icol4.png">
                            <label class="jieshiico">HR已拒绝</label>
                        </label>
                    </span>
                    <span class="job_news_list_span job_w135">操作</span>
                </div>


                {yun:}foreach from=$rows item=job_list{/yun}

                <div class="job_news_list line_heigh45" pid="{yun:}$job_list.id{/yun}">
                <span class="job_news_list_span  job_w245 line_heigh23" style="text-align:left;padding-left: 10px;">
                        <a class="job_namer nowrap" href="{yun:}$job_list.job_url{/yun}" target="_blank">{yun:}$job_list.name_n{/yun}</a><label class="job_status">（已停招）</label><br>
                        <a class="com_namer nowrap" href="{yun:}$job_list.com_url{/yun}" target="_blank">{yun:}$job_list.com_n{/yun}</a>
                </span>
                    <span class="job_news_list_span job_w130">
                    <label class="tj_time">{yun:}$job_list.job_city_one{/yun}-{yun:}$job_list.job_city_two{/yun}</label>
                </span>
                    <span class="job_news_list_span job_w110 line_heigh23">
                        <label class="salery_s" href="#">{yun:}if $job_list.job_salary!='面议'{/yun}￥{yun:}/if{/yun}{yun:}$job_list.job_salary{/yun}</label><br>
                        <label class="com_namer" href="#">年薪制</label>
                    </span>
                    <span class="job_news_list_span job_w110">
                        <label class="tj_nums" href="#">今天</label>
                    </span>
                    <span class="job_news_list_span job_w260 line_heigh23">
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">猎头</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">候选人</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR查看</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR下载</span></label>
                        <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR拒绝</span></label>
                    </span>
                    <span class="job_news_list_span job_w135">
                        <a href="{yun:}url m=job c=search c=comapply id='`$zd_list.id`'{/yun}" target="_blank" class="btn_hxr w70b">推荐候选人</a>
                        <label class="btn_hxr w58b">+关注</label>
                    </span>
                </div>

                {yun:}/foreach{/yun}
                {yun:}if $total!=0 || is_array($zd_list){/yun}

                <div class="clear"></div>
                <div class="search_pages">
                    <div class="pages">{yun:}$pagenav{/yun}</div>
                </div>
                <input value='{yun:}$smarty.get.ltype{/yun}' type='hidden' id='ltype'/>
                {yun:}else{/yun}
                <!--没搜索到-->
                <div class="seachno">
                    <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"></div>
                    <div class="listno-content"> <strong>很抱歉，没有找到满足条件的职位</strong><br>
                        <span> 建议您：<br>
                        1、适当减少已选择的条件<br>
                        2、适当删减或更改搜索关键字<br>
                        </span>
                        <span> 热门关键字：<br>
                        {yun:}key limit=7 recom=1 type=3 item=klist{/yun} <a href="{yun:}listurl  type=keyword v=$klist.key_title{/yun}" class="jos_tag_a" title="{yun:}$klist.key_title{/yun}">{yun:}$klist.key_name{/yun}</a> {yun:}/key{/yun}
                        </span>
                    </div>
                </div>
                {yun:}/if{/yun} </div>
        </div>
      </div>
          
      </div>
    </div>
  </div> 
<script>

$(document).ready(function(){
	$(".job_share").hover(function(){
		
		var html=$(this).find('.job_share_img').html();
		layer.tips(html, this, {
			guide: 1,
			style: ['background-color:#5EA7DC;', '#5EA7DC']
		});
		$(".xubox_layer").addClass("xubox_tips_border");
	},function(){layer.closeTips();}); 
		
	$(".job_list_extension_box").hover(function(){
		$(this).find('.job_list_extension_box_list').show();
	},function(){
		$(this).find('.job_list_extension_box_list').hide();
	}) 
	$(".job_tck_list").click(function(){
		var cron = $(this).attr('data-cron');
		var name = $(this).attr('data-name');
		$("#autotype").val(cron);
		$(".job_box_in").html(name);
		$(".job_tck_box_pot").hide();
	});
	$(".job_box_in").click(function(e){
		$(".job_tck_box_pot").toggle();
	});
	$(document).bind("click",function(e){
		if(e.target.className != 'job_box_in'){
			$(".job_tck_box_pot").hide();
		}
	}); 
});
</script> 
<!--延期天数弹出框-->
<div id="gotime"  style="display:none; width:230px; ">
  <div class="job_box_div"   style="width:300px; ">
    <div class="job_box_msg" style="margin-left:10px;_margin-left:5px;padding:5px;">
      <p id="gotime_edate"></p>
    </div>
    <form action='index.php?c=job&act=opera' target="supportiframe" method="post" id='gotimef'>
      <input type="hidden" name="gotimeid" id="gotimeid" value=""/>
      <div class="job_box_inp"  style="padding:10px 5px 5px 20px"> <span style="float:left; margin-right:0px;">延期天数：</span>
        <input name="day" value="" class="com_info_text placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width:100px;"/>
        <span class="fltL box_infobox_span" style="padding-left:10px;">天</span> </div>
      <span class="job_box_botton" style="width:100%;"> <a class="job_box_yes job_box_botton2" href="javascript:void(0);" onclick="setTimeout(function(){$('#gotimef').submit()},0);">确定</a> </span>
    </form>
  </div>
</div>
<!--延期天数弹出框end-->
<script src="{yun:}$style{/yun}/js/com_index.js" language="javascript"></script>
<script src="/js/search.js" language="javascript"></script>
{yun:}include file="$ltstyle/jobserver.htm"{/yun}
{yun:}include file="$tplstyle/footer.htm"{/yun}