{yun:}include file="$ltstyle/header.htm"{/yun}
<link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css"/>
<style>
    .signdiv{display: block}
</style>
<script>
function Close(id){
	$("#"+id).hide();
	$("#bg").hide();
}
function Next(){
	$("#one_tip").hide();
	$("#two_tip").show();
}
function Close_yds() {
	 $("#shuaxin").hide();
	 $("#bg").hide();
}

function break_job(num){
	if(num=='0'){
		layer.confirm('每个正常职位将扣除{yun:}$config.integral_jobefresh{/yun}{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}，确定要刷新？',function(){
			layer.load('执行中，请稍候...',0);
			$.post("{yun:}$config.sy_weburl{/yun}/member/index.php?m=ajax&c=Refresh_job",{},function(data){
				layer.closeAll();
				if(data==1){
					layer.msg("职位刷新成功！",2,9,function(){location.reload();});
				}else{
					layer.msg(data,2,8);
				}
			})
		});
	}else{
		layer.load('执行中，请稍候...',0);
		$.post("{yun:}$config.sy_weburl{/yun}/member/index.php?m=ajax&c=Refresh_job",{},function(data){
			layer.closeAll();
			if(data==1){
				layer.msg("职位刷新成功！",2,9,function(){location.reload();});
			}else{
				layer.msg(data,2,8);
			}
		})
	}
}
</script>
<div class="w1000">
<div style="position:relative; z-index:1005">
  <div class="Description_Layer">
    <div class="Tip_Information" id="one_tip" {yun:}if $lietou.name!="" {/yun}style="display:none"{yun:}/if{/yun}>
      <div class="Tip_Information_cont">
        <div class="re">
          <div class="Tip_Information_close" onclick="Close('one_tip');"></div>
        </div>
        <div class="Tip_Information_p">
          <p>{yun:}if $lietou.name{/yun}
       {yun:}$lietou.name{/yun}{yun:}else{/yun}{yun:}$username{/yun}{yun:}/if{/yun}，您已成功注册猎头账号！
   </p>
   <p><span class="tip_wt">有问题可拨打客服电话：<em>{yun:}$config.sy_freewebtel{/yun}</em> </span><a class="tip_fk" href="{yun:}url m=advice{/yun}" target="_blank">点击这里在线反馈</a>
   </p>

        </div>
        <div class="Tip_Information_bot"><a class="tip_ws" href="{yun:}$config.sy_weburl{/yun}/member/?c=info" >完善猎头资料</a> </div>
      </div>
    </div>
    <div class="Recruitment_Layer" id="two_tip"  style="display:none">
      <div class="Tip_Information">
        <div>
          <div class="Tip_Information_gl"></div>
          <div class="Tip_Information_jt2"></div>
          <div class="Recruitment_fb"></div>
        </div>
        <div class="Tip_Information_cont">
          <div class="re">
            <div class="Tip_Information_close" onclick="Close('two_tip');"></div>
          </div>
          <div class="Tip_Information_p">明确招聘需求，细化招聘条件，精准锁定人才！</div>
          <div class="Tip_Information_bot"><a href="javascript:Close('two_tip');" class="Tip-next">知道了</a> </div>
        </div>
      </div>
    </div>
  </div>    </div>

<!--  首页-->
<div class="com_m_index_left">
<div class="com_m_index_info">
<div class="com_m_index_logo">  <a href="/lietou"><img src="{yun:}if $lietou.logo{/yun}.{yun:}$lietou.logo{/yun}{yun:}else{/yun} {yun:}$config.sy_weburl{/yun}/app/template/member/lietou/images/lienopic.png {yun:}/if{/yun}" width="100" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_lt_icon{/yun}','2')"/>
<i class="com_m_index_logo_xg"></i></a></div>
<div class="com_m_index_comname">{yun:}if $lietou.name{/yun}
       {yun:}$lietou.name{/yun}{yun:}else{/yun}
        <a href="index.php?c=info" style="color:#f60; text-decoration:underline">您还未完善猎头信息，点击完善！</a>
        {yun:}/if{/yun}</div>
    <div style="margin-left: 25px;">我的{yun:}$config.integral_pricename{/yun}：<label>{yun:}$statis.integral{/yun}</label>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}  <a href="index.php?c=pay&type=integral" style="color:#f60;margin-left: 20px; ">去充值</a><br>  <a href="index.php?c=paylog&consume=ok" class="com_m_index_vip_a" style="color:#f60;margin-left: 20px; ">积分明细</a>  <a href="/member/index.php?c=paylog" class="com_m_index_vip_a" style="color:#f60;margin-left: 20px; ">充值记录</a></div>
        <div class="clear"></div>

<div class="clear"></div>
  <div class="com_m_index_logintime">上次登录时间：{yun:}$member.login_date|date_format:'%Y-%m-%d %H:%M'{/yun} </div>
       <div class="clear"></div>
    <div class="com_index_bj_box">
  <div class="com_index_bj"><a href="/member/index.php?c=info"><i class="com_index_bjicon com_index_bjiconbj"></i>账号设置</a></div>
  <div class="com_index_bj"><a href="/member/index.php?c=yj"> <i class="com_index_bjicon com_index_bjiconyl"></i>业绩统计</a></div>
  <div class="com_index_bj com_index_bjend"><a href="index.php?c=resume&act=input" target="_blank"><i class="com_index_bjicon com_index_bjiconsz"></i>上传简历</a></div>

    </div>
</div>
<div class="com_index_sign" style="display: none;">{yun:}sign{/yun}</div>
    <div class="today_state">
        <div class="sta_top">今日可用权限</div>
        <div class="tonjinuu">
            <div class="ttjnum" style="border-right: 1px solid #eee;">
                <p>下载简历</p>
                <p class="colo999">
                    <span class="ccss2">20</span>/20</p>
            </div>
            <div class="ttjnum">
                <p>修改简历</p>
                <p class="colo999"><span class="ccss2">4</span>/5</p>
            </div>
        </div>
    </div>



{yun:}if $guweninfo.id{/yun}
<div class="com_index_kf">
<div class="com_m_index_h1"><span class="com_m_index_h1_s">招聘顾问</span></div>
<div class="com_index_kf_box">
<div class="com_index_kf_box_user">
<div class="com_index_kf_box_user_photo"><img src="{yun:}$guweninfo.logo{/yun}" style="width:64px;height:64px"></div>
<div class="com_index_kf_box_username">{yun:}$guweninfo.username{/yun}</div>
<div class="">
{yun:}if $guweninfo.qq{/yun}
<a target="_blank" href="tencent://message/?uin={yun:}$guweninfo.qq{/yun}&Site={yun:}$config.sy_webname{/yun}&Menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=1:{yun:}$guweninfo.qq{/yun}:12" alt="点击这里给我发消息"></a>
{yun:}/if{/yun}</div>
</div>
<div class="com_index_kf_p">电话：{yun:}$guweninfo.mobile{/yun}</div>
<div class="com_index_kf_p">微信：{yun:}$guweninfo.weixin{/yun}</div>
<div class="com_index_kf_p">Q Q：{yun:}$guweninfo.qq{/yun}</div>
<div class="com_index_kf_p">
	{yun:}if $atn.uid{/yun}
	<a href="javascript:void(0)" class="com_index_kf_dz">已点赞</a>
	{yun:}else{/yun}
	<a href="javascript:void(0)" onclick="zan('{yun:}$guweninfo.id{/yun}');" class="com_index_kf_dz">点赞</a>
	{yun:}/if{/yun}
    {yun:}if is_array($report)&& !$report.result{/yun}
    <a href="index.php?c=report&act=show"  class="com_index_kf_ts">已投诉</a>
    {yun:}else{/yun}
	<a href="javascript:void(0)" onclick="reportgw('{yun:}$guweninfo.id{/yun}','投诉顾问');"  class="com_index_kf_ts">投诉</a>
    {yun:}/if{/yun}</div>
</div>
</div>

{yun:}else{/yun}
<div class="com_index_kf" style="display: none;">
<div class="com_m_index_h1"><span class="com_m_index_h1_s">我的等级</span></div>
    <div class="com_index_kf_box">
        <div class="com_index_kf_p">业绩积分：<label class="result_color">125分</label></div>
        <div class="com_index_kf_p">客户评分：<label class="result_color">125分</label></div>
        <div class="com_index_kf_p">综合业绩：<label class="result_color">125分</label></div>
    </div>
    <div class="com_index_kf_box fontcolor" style="border-bottom: none;">
        <div class="com_index_kf_p">业绩积分：</div>
        <div class="com_index_kf_p">HR下载数量*5</div>
        <div class="com_index_kf_p">客户积分：</div>
        <div class="com_index_kf_p">HR评分总数</div>
        <div class="com_index_kf_p">综合业绩：</div>
        <div class="com_index_kf_p">业绩积分*70%+客户评分*30%</div>
    </div>
</div>

{yun:}/if{/yun}


</div>
<div class="com_m_index_right">
    {yun:}if $member.status != 1{/yun}
   	<!--<div class="com_index_wsh fltL">-->

   		<!--<div class="com_index_wsh_box">-->
        <!--<div class="com_index_wsh_box_p">您的帐号尚未通过审核。</div>-->
   		<!--未审核的猎头用户无法查看人才简历的联系方式。<br/>-->
   		<!--您可联系客服电话（{yun:}$config.sy_freewebtel{/yun}）让我们尽快审核。-->
 	<!--</div>-->

   	<!--</div>-->
    {yun:}/if{/yun}









<script type="text/javascript">
function jobshuaxin(id){
	{yun:}if $shuaxuanjobs{/yun}
	var i={yun:}$des_shuaxuanjobs{/yun};
			var num="{yun:}$config.integral_jobefresh{/yun}";
			var breakmsg = '本次共刷新'+i+'个职位,需扣除'+i+'个刷新数量,或消耗'+(num*i)+'{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}！';
			layer.confirm(breakmsg,function(){
				$.post("{yun:}$config.sy_weburl{/yun}/member/index.php?m=ajax&c=Position_job",{idk:i,ids:id},function(data){
					if(data==1){
						layer.msg("刷新成功！",2,9,function(){window.location.reload();});
					}else{
						layer.msg(data,2,8);
					}
				})
	});
	{yun:}else{/yun}
		layer.msg('您暂无发布的职位！', 2, 8);
	{yun:}/if{/yun}
}

</script>

    <div class="com_m_index_resume" style="margin-top: 20px;">
        <div class="com_m_index_h1">
            <a class="com_m_index_h1_s hovers bg_current" href="/member/index.php?c=index">工作统计</a>
            <a class="com_m_index_h1_s hovers" href="/member/index.php?c=index&act=newjobs">最新职位</a>
            <a class="com_m_index_h1_s hovers" href="/member/index.php?c=index&act=ranking">猎头排行榜</a>
            <a href="index.php?c=attention_me" class="com_m_index_h1_s_a" target="_blank" style="display: none;">查看关注我公司的人才>></a>
        </div>
        <div class="tj_content show_content">
            <form action="/member/index.php?c=index" method="post">
            <div class="kuang_sou">
                <input type="text" name="keyword" class="inputk" placeholder="请输入您近期服务公司或职位" value="{yun:}$smarty.post.keyword{/yun}">
            </div>

            <input id="sdate" class="tongji_info_text" type="text" readonly="" size="15" value="{yun:}$sdate|date_format:'%Y-%m-%d'{/yun}" name="sdate">
            <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">
            <script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
            <input id="edate" class="tongji_info_text" type="text" readonly="" size="15" value="{yun:}$edate|date_format:'%Y-%m-%d'{/yun}" name="edate">
            <script type="text/javascript">
                var checkin = $('#sdate').fdatepicker({
                    format: 'yyyy-mm-dd',startView:4,minView:2
                }).on('changeDate', function (ev) {
                    if (ev.date.valueOf() > checkout.date.valueOf()) {
                        var newDate = new Date(ev.date)
                        newDate.setDate(newDate.getDate() + 1);
                        checkout.update(newDate);
                    }
                    checkin.hide();
                    $('#edate')[0].focus();
                }).data('datepicker');
                var checkout = $('#edate').fdatepicker({
                    format: 'yyyy-mm-dd',startView:4,minView:2,
                    onRender: function (date) {
                        return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
                    }
                }).on('changeDate', function (ev) {
                    checkout.hide();
                }).data('datepicker');
            </script>

            <input type="submit" value="搜索" class="tongji_info_text_sub"/>
            </form>
            <div class="tongj_box">
                <div class="tongj_list"><div class="tongj_list_name">日期</div><div class="tongj_list_b">总计<span class="tongj_list_b_n">{yun:}$day{/yun}</span>天</div></div>
                <div class="tongj_list"><div class="tongj_list_name"> 服务企业数</div><div class="tongj_list_b">总计<span class="tongj_list_b_n">{yun:}$service_com_count{/yun}</span>家</div></div>
                <div class="tongj_list"><div class="tongj_list_name"> 推荐职位数</div><div class="tongj_list_b">总计<span class="tongj_list_b_n">{yun:}$service_job_count{/yun}</span>个</div></div>
                <div class="tongj_list"><div class="tongj_list_name"> 推荐简历数</div><div class="tongj_list_b">总计<span class="tongj_list_b_n">{yun:}$service_resume_count{/yun}</span>份</div></div>
                <div class="tongj_list tongj_list_last"><div class="tongj_list_name"> 简历下载率</div><div class="tongj_list_b"><span class="tongj_list_b_n">{yun:}$down_resume_odds{/yun}</span></div></div>
            </div>

            <div class="job_news_list listtop">
                <span class="job_news_list_span job_w90" style="padding-left: 10px;">职位编号</span>
                <span class="job_news_list_span job_w440 p_l10" style="text-align:left">职位信息</span>
                <!--<span class="job_news_list_span job_w150">推荐时间</span>-->
                <span class="job_news_list_span job_w110 text_cen">推荐简历数</span>
                <span class="job_news_list_span job_w110 text_cen">简历下载量</span>
            </div>
            {yun:}if $recommend.rows{/yun}
            {yun:}foreach from=$recommend.rows item=list{/yun}
            <div class="job_news_list line_heigh35">
                <span class="job_news_list_span job_w90" style="padding-left: 10px;">{yun:}$list.id{/yun}</span>
                <span class="job_news_list_span  job_w440 p_l10 line_heigh18 posirel">
                    <!--判断职位发布者-->
                    {yun:}if $list.identity==3{/yun}
                    <img src="{yun:}$style{/yun}/images/ico_lie.png" class="ico_flag"/>
                    {yun:}else{/yun}
                    <img src="{yun:}$style{/yun}/images/ico_qi.png" class="ico_flag"/>
                    {yun:}/if{/yun}
                    <div>
                        <a class="job_namer nowrap" href="/job/index.php?c=comapply&id={yun:}$list.id{/yun}" target="_blank" style="font-size:18px;vertical-align: bottom;">{yun:}$list.name{/yun}</a>
                        <label class="lastupdate">{yun:}_format_date($list.lastupdate){/yun}更新</label>
                    </div>
                    <div class="mat_10">
                        <label class="salery_s" href="#">{yun:}$list.salary{/yun}</label><span class="xianshu">|</span>
                        <label class="tj_time">{yun:}$list.job_city_one{/yun}-{yun:}$list.job_city_two{/yun}
                            {yun:}if $list.job_city_three{/yun}
                            -{yun:}$list.job_city_three{/yun}
                            {yun:}/if{/yun}
                        </label>
                        {yun:}if $list.job_edu{/yun}
                        <span class="xianshu">|</span>
                        <label class="tj_time">学历:{yun:}$list.job_edu{/yun}</label>
                        {yun:}/if{/yun}

                        {yun:}if $list.exp{/yun}
                        <span class="xianshu">|</span>
                        <label class="tj_time">工作经验:{yun:}$list.job_exp{/yun}</label>
                        {yun:}/if{/yun}
                    </div>
                    <div class="mat_10">
                        {yun:}if $list.identity==3{/yun}
                        <label class="com_style">{yun:}$list.com_name{/yun}</label>
                        {yun:}else{/yun}
                        <a class="com_style" href="/company/index.php?c=show&id={yun:}$list.uid{/yun}" target="_blank">{yun:}$list.com_name{/yun}</a>
                        {yun:}/if{/yun}
                    </div>
                </span>
                <span class="job_news_list_span job_w110 text_cen linh72">
                    <a class="tj_nums" href="/member/index.php?c=progress&job_id={yun:}$list.id{/yun}">{yun:}$list.recommend_count{/yun}份简历</a></span>
                <span class="job_news_list_span job_w110 text_cen linh72">
                    <a class="tj_nums" href="/member/index.php?c=progress&w=2&job_id={yun:}$list.id{/yun}">{yun:}$list.resume_count{/yun}份简历</a>
                </span>
            </div>
            {yun:}/foreach{/yun}

            <div class="pages pages_btns"> {yun:}$recommend.pagenav{/yun}</div>
            {yun:}else{/yun}
                <div class="seachno" style="width: 660px;">
                <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"></div>
                <div class="listno-content" style="width: 400px;line-height: 24px;"> <strong>暂无相关工作内容</strong><br><br>
                    <span style="margin-top: 10px;">立即前往<a href="/member/index.php?c=job" class="linkds">平台职位库</a>浏览职位，推荐候选人
                        </span>
                    <span>
                </div>
            </div>
            {yun:}/if{/yun}
        </div>
    </div>



</div></div>
</div>
 <!----end--->
  <!--刷新职位提示弹出框-->

<div id="shuaxin" style="display:none;">
<div class="sx_pd">
<div class="sx_top">
<dl>
   <dt></dt>
   <dd>
       <div>今天还没刷新，刷新职位将<em class="sx_bot_or">职位排名提前</em><br/>让人才更容易看到你，<em class="sx_bot_or">提高职位申请率！</em></div>
       <div class="sx_top_t">
            <em class="sx_top_t_tt">刷新前请确认以下信息准确完整：</em>
            <p>联系电话：{yun:}$lietou.linktel{/yun}</p>
            <p>上次刷新时间：{yun:}$jobs.lastupdate|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</p>
            <p>招聘职位：{yun:}$jobs.name{/yun} </p>
       </div>
    </dd>
</dl>
</div>
</div>
<div class="sx_bot">
     <a class="sx_bot_sx" href="javascript:void(0)" onclick="jobrefresh({yun:}$jobs.id{/yun});">刷新</a>
     <a class="sx_bot_qx" href="javascript:layer.closeAll();">取消</a>
</div>

</div>
<!--提示弹出框 end-->
<!--投诉顾问弹出框-->
<div id="{yun:}$guweninfo.id{/yun}" style="display:none;">
  <div class="Binding_pop_box" style="padding:10px;width:330px;height:200px; background:#fff;">
    <div class="Binding_pop_box_msg">您要投诉的顾问是：{yun:}$guweninfo.username{/yun}</div>
    <div class="popjb_tip">为了能够给您提供高质量的服务，反馈具体情况，我们会第一时间给您答复！</div>

      <div class="">
     	 <textarea id="reason" name="reason" class="popjb_text"></textarea>
      </div>
      <div class="Binding_pop_sub" style="margin-top:15px;"> <span class="Binding_pop_box_list_left">&nbsp;</span>
        <input class="com_pop_bth_qd" onclick="reportSub('index.php?c=report')" type="button" value="确定">
		<input type='hidden' value="{yun:}$guweninfo.id{/yun}" id='eid' name='eid'>
        <input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
      </div>
  </div>
</div>
<script type="text/javascript">

{yun:}if $lietou.hy!="" && $jobs.name!="" && $jobs.lastupdate<$time && $smarty.cookies.jobrefresh!='1'{/yun}
	$.layer({
		type : 1,
		title : '刷新职位',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['500px','320px'],
		page : {dom :"#shuaxin"}
	});

{yun:}/if{/yun}

function reportgw(eid,title){
	$.layer({
		type : 1,
		title :title,
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['350px','auto'],
		page : {dom :"#"+eid}
	});
}
function reportSub(url){
	var reason=$("#reason").val();
	var eid=$("#eid").val();
	if(reason==''){
		layer.msg('请填写投诉内容！', 2, 8);return false;
	}
	$.post(url,{reason:reason,eid:eid},function(data){
		layer.closeAll();
		if(data=='0'){
			layer.msg('投诉失败！', 2, 8);
		}else if(data=='1'){
			layer.msg('投诉成功！', 2, 9,function(){window.location.reload();});
		}else if(data=='2'){
			layer.msg('已投诉成功，等待管理员回复！', 2, 8);
		}
	});
}
function zan(id){
	$.post("index.php?m=ajax&c=guwenZan",{id:id},function(data){
		if(data=='2'){
			layer.msg('请不要重复点赞！', 2, 8);
		}else if(data=='1'){
			layer.msg('点赞成功！',2,9,function(){window.location.reload();});
			//layer.msg("刷新成功！",2,9,function(){window.location.reload();});
		}
	});
}

$(function () {
    $(".inputk").on("focus",function () {
       $(this).parent(".kuang_sou").css("border","1px solid rgb(117, 146, 193)");
    });
    $(".inputk").on("blur",function () {
        $(this).parent(".kuang_sou").css("border","1px solid #dddddd");
    })
})

</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}