{yun:}include file="$ltstyle/header.htm"{/yun}
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/index.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lssave.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/imgareaselect.css" type="text/css"/>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/jquery.imgareaselect.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/ajaxfileupload.js"></script>
<script src="{yun:}$config.mapurl{/yun}"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/map.js"></script>
<script language="javascript">
    var userstyle='{yun:}$user_style{/yun}';
    var editor;
    KindEditor.ready(function(K){
        editor = K.create('#content',{
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : ['source',
                'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist','emoticons']
        });
    });
    var id= $("#id").val();
    var content= $("#content").val();
    var start = 30;
    var step = -1;
    if(!id && !content){
        function count(){
            $("#atime").click(function(){ start=30});
            $("#totalSecond").html(start);
            start += step;
            if(start < 0 ){
                savecomform();
                start = 30;
            }
            setTimeout("count()",1000);
        }
        window.onload = count;
    }
    function checkpostcom(){
        {yun:}if $row.email_status==1{/yun}
            ifemail = true;
            {yun:}else{/yun}
                var mail=document.myform.linkmail.value;
                if(mail==""){
                    ifemail = true;
                }else{
                    ifemail = check_email(mail);
                }
                {yun:}/if{/yun}
            {yun:}if $row.moblie_status==1{/yun}
                ifmoblie = true;
                {yun:}else{/yun}
                    ifmoblie = isjsMobile(document.myform.linktel.value);
                    {yun:}/if{/yun}

                if(document.myform.phonetwo.value){
                    if(document.myform.phoneone.value==''){
                        layer.msg('请填写区号！', 2, 8);return false;
                    }else if(document.myform.phoneone.value.length>4){
                        layer.msg('请正确填写区号！', 2, 8);return false;
                    }else if(document.myform.phonethree.value){
                        var linkphone = document.myform.phoneone.value+'-'+document.myform.phonetwo.value+'-'+document.myform.phonethree.value;
                    }else{
                        var linkphone = document.myform.phoneone.value+'-'+document.myform.phonetwo.value;
                    }
                }



                var html = editor.text();
                var mun = $('#munid').val();
                var ifcheck=check_form(ifemail==false,'by_linkmail')&check_form(myform.linkman.value=="",'by_linkman')&check_form(myform.address.value=="",'by_address')&check_form(mun=="",'by_mun')&check_form(myform.citysid.value=="",'by_cityid')&check_form(myform.pr.value=="",'by_pr')&check_form(myform.hy.value=="",'by_hy')&check_form(myform.name.value=="",'by_name')

                if(ifcheck==0){return false;}
                if(!document.myform.linktel.value && !linkphone){
                    layer.msg('联系手机和固定电话必填一项！', 2, 8);return false;
                }else if(ifmoblie==false && document.myform.linktel.value!=''){
                    layer.msg('联系手机格式不正确！', 2, 8);return false;
                }
                var ifcheck=check_form(html=="",'by_content')

                var website=$.trim($("#website").val());
                if(website!=''){
                    if(check_url(website)==false){
                        layer.msg('猎头网址格式不正确！', 2, 8);return false;
                    }
                }
                var qq=$.trim($("#linkqq").val());
                if(qq!=''&&isQQ(qq)==false){
                    layer.msg('QQ格式不正确！', 2, 8);return false;
                }
                layer.load('执行中，请稍候...',0);
            }
</script>
<div class="w1000">
  <div class="admin_mainbody">
    {yun:}include file="$ltstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
        <form name="myform" method="post" target="supportiframe" action="index.php?c=info&act=save" onsubmit="return checkpostcom();" enctype="multipart/form-data">
          <div class="com_tit"><span class="com_tit_span">猎头基本信息</span><span class="com_tit_right"><span class="ff0">*</span>为必填项</span></div>
          {yun:}if $save{/yun}
          <div id="forms" class="text_tips">您有上次未提交成功的数据 <!--<a href="index.php?c=info&act=saveform" class="text_tips_a">--><a href="javascript:;" onclick="savecom();" class="text_tips_a">恢复数据</a> <i id="close" class="text_tips_close"></i></div>
          {yun:}/if{/yun}
          <div class="admin_textbox_02">
            <div class="info_logo" style="top: 80px;"><img src="{yun:}if $lietou.logo{/yun}.{yun:}$lietou.logo{/yun}{yun:}else{/yun} {yun:}$config.sy_weburl{/yun}/app/template/member/lietou/images/uploadlietou.png {yun:}/if{/yun}" width="90" height="90" id="logo" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_lt_icon{/yun}','2')"/>
              <div class="info_logo_p" style="width: 90px;">
                <div class="logo_submit" style="background: none;position: relative;">上传头像<input id="image" class="logo_submit_f" type="file" name="image" onchange="ajaxfile();"style="position: absolute;left: 0;top: 0;">
                </div></div></div>
            <ul>
              <li>
                <div class=tit><font color="#FF0000">*</font> 真实姓名：</div>
                <div class=textbox>
                  <input type="text" size="45" id="name" maxlength="5" name="name" value="{yun:}$row.name{/yun}" class="com_info_text" style="width:280px;"/>
                  <span id="by_name" class="errordisplay">猎头全称不能为空</span></div>
              </li>
              <li>
                <div class=tit><font color="#FF0000">*</font> 擅长行业：</div>
                <div class=textbox>
                  <div class="text_seclet text_seclet_cur" style="z-index:400">
                    <input id="qyhy" class="SpFormLBut text_seclet_w250 " type="button" onclick="search_show('job_qyhy');" {yun:}if $industry_name[$row.hy]==''{/yun} value="请选择擅长服务的行业"  {yun:}else{/yun} value="{yun:}$industry_name[$row.hy]{/yun}" {yun:}/if{/yun} >
                    <input id="qyhyid" type="hidden" name="hy" {yun:}if $row.hy{/yun} value="{yun:}$row.hy{/yun}" {yun:}/if{/yun}  >
                    <div id="job_qyhy" class="cus-sel-opt-panel" style="display:none; z-index:301">
                      <div style="width:100%;  overflow:auto; overflow-x:hidden">
                        <ul>
                          {yun:}foreach item=v from=$industry_index key=k{/yun}
                          <li> <a onclick="selects('{yun:}$v{/yun}','qyhy','{yun:}$industry_name[$v]{/yun}');" href="javascript:;"> {yun:}$industry_name[$v]{/yun}</a> </li>
                          {yun:}/foreach{/yun}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <span id="by_hy" class="errordisplay">请选择擅长行业</span> </div>
              </li>



              <li>
                <div class=tit> 联系手机：</div>
                <div class=textbox id="bdphone">
                  {yun:}if $row.moblie_status==1{/yun}
                  <input type="text" size="35" id="linktel" name="linktel" value="{yun:}$row.linktel{/yun}" class="com_info_text" style="width:250px;background:#D3D3D3;" readonly="readonly"/>
                  <a href="javascript:void(0)"  onclick="getshow('moblie','绑定手机号码');" class="com_set_a" >重新绑定</a>
                  {yun:}else{/yun}
                  <input type="text" id="linktel" name="linktel" size="25" value="{yun:}$row.linktel{/yun}" onkeyup="this.value=this.value.replace(/[^0-9-]/g,'')" class="com_info_text"/>
                  <span id="by_linktel" class="errordisplay">手机格式不正确</span>
                  {yun:}/if{/yun}
                </div>
              </li>

              <li>
                <div class=tit> 所在公司：</div>
                <div class=textbox>
                  <div class="text_seclet text_seclet_cur" style="z-index:300">
                    <input id="bcom" class="SpFormLBut text_seclet_w250 " name="com_name" readonly  type="text" onclick="search_show('job_bcom');"  value="{yun:}if $row.com_name{/yun}{yun:}$row.com_name{/yun}{yun:}else{/yun}请选择所在公司{yun:}/if{/yun}" >
                    <input id="bcomid" type="hidden" name="bcom" {yun:}if $row.bcom{/yun} value="{yun:}$row.bcom{/yun}" {yun:}/if{/yun}  >
                    <div id="job_bcom" class="cus-sel-opt-panel" style="display:none; z-index:301">
                      <div style="width:100%;  overflow:auto; overflow-x:hidden">
                        <ul>
                          <li> <a onclick="selects('{yun:}$v{/yun}','bcom','重庆南方新华信息咨询有限公司');" href="javascript:;">重庆南方新华信息咨询有限公司</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </li>

              <li>
                <div class=tit> 部门：</div>


                <div class=textbox>
                  <div class="text_seclet text_seclet_cur2 fltL">
                    <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.depart{/yun} value="{yun:}$dpclass_name[$row.depart]{/yun}" {yun:}else{/yun}value="请选择部门性质"{yun:}/if{/yun} id="depart" onclick="search_show('lie_depart');">
                    <input type="hidden" id="departid" name="departid" value="{yun:}$row.depart{/yun}" />
                    <div id="lie_depart" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none">
                      <div style="width:100%;  overflow:auto; overflow-x:hidden">
                        <ul class="Search_Condition_box_list">
                          {yun:}foreach from=$dpdata key=key item=v{/yun}
                          <li><a href="javascript:;" onclick="select_department('{yun:}$key{/yun}','depart','{yun:}$dpclass_name[$key]{/yun}','department');"> {yun:}$dpclass_name[$key]{/yun}</a></li>
                          {yun:}/foreach{/yun}
                          <!--<li><a href="javascript:;" onclick="select_department('25','depart','专业猎头','department');">专业猎头</a></li>-->
                        </ul>
                      </div>    </div>
                  </div>
                  <div class="text_seclet text_seclet_cur2 fltL">
                    <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.department{/yun} value="{yun:}$dpclass_name[$row.department]{/yun}"{yun:}else{/yun}value="请选择部门"{yun:}/if{/yun} id="department" onclick="search_show('lie_department');">
                    <input type="hidden" id="departmentid" name="departmentid" value="{yun:}$row.department{/yun}" />
                    <div id="lie_department" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display:none">
                      <div style="width:100%;  overflow:auto; overflow-x:hidden">
                        <ul class="Search_Condition_box_list">
                          {yun:}foreach from=$dpdata[$row.depart] key=j item=v{/yun}
                          <li><a href="javascript:;"  onclick="select_department('{yun:}$v{/yun}','department','{yun:}$dpclass_name[$v]{/yun}');"> {yun:}$dpclass_name[$v]{/yun}</a></li>
                          {yun:}/foreach{/yun}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </li>

              <li>
                <div class=tit>猎头简介：</div>
                <div class=textbox>
                  <textarea name="content" id="content" class="com_info_textarea" style="width:100%" rows="10">{yun:}$row.content{/yun}</textarea>
                  <span id="by_content" class="errordisplay">请填写相关猎头简介</span> </div>
              </li>


          <li>
            <div class="admin_submit">
              <div class="condition">&nbsp;</div>
              <div class="sub_btn">
                <input class="btn_01" style="_margin-left:-3px" type="submit" name="submitbtn" value="保存信息">
              </div>
              <input id="save" name="save" value="{yun:}$row.linkman{/yun}" type="hidden"/>
            </div>
          </li>
          </ul>
          <div class="clear"></div>
      </div>
      {yun:}if !$row.linkman && !$row.content{/yun}
      <div class="text_tips_bc">
        <div class="text_tips_bc_h1"> 信息保存</div>
        <div class="text_tips_bc_cont"> {yun:}if $save.time{/yun}
          <div class="text_tips_bc_l">信息已于{yun:}$save.time{/yun}保存</div>
          {yun:}/if{/yun}
          <div class="text_tips_bc_r">
            <div class="text_tips_bc_time"> <span id="totalSecond"></span>s后将自动保存<br>
              已填信息</div>
            <a  id="atime" href="javascript:;" onclick="savecomform();" class="text_tips_bc_bth">临时保存信息</a> </div>
        </div>
      </div>
      {yun:}/if{/yun}
      <div class="clear"></div>
      </form>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
<div id="yyzz" style=" display:none;">
  <div class="Binding_pop_box" style="padding:10px;width:530px;height:250px; overflow:auto; overflow-x:hidden; background:#fff;">
    <div class="Binding_pop_box_msg">营业执照验证，有利于更好的招聘人才!<br>营业执照中的猎头名称、年检章等需清晰可辨别，否则不能通过验证。</div>
    <div class="Binding_pop_box_msg_cont">
      <form name="MyForm" id="certform">
        <div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>猎头全称：</span>
          <input type="text" value="{yun:}$company.name{/yun}" name="company_name" id="company_name" class="Binding_pop_box_list_text Binding_pop_box_list_textw200" />
        </div>
        <div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>营业执照：</span>
          <input type="file" name="pic" onchange="ajaxcert()" id="pic" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">

        </div>
        <div class="Binding_pop_box_msg_cont_pic" {yun:}if !$cert.check{/yun}style="display:none"{yun:}/if{/yun} id="preview">
        <img src="{yun:}$cert.check{/yun}" id="imghead" width="140" height="160"/>
        <a target="_blank" id="imga" href="{yun:}$cert.check{/yun}" class="Binding_pop_box_msg_cont_pic_p">查看原图</a>
    </div>
    <div class="clear"></div>

    <div class="Binding_pop_sub" style="margin-top:20px;"> <span class="Binding_pop_box_list_left">&nbsp;</span>
      <input id="com_cert" name="com_cert" type="hidden" value="{yun:}$cert.check{/yun}">
      <input class="com_pop_bth_qd" name="upfile" type="submit" value="保存">
      <input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
    </div>
    </form>
  </div>
</div>
</div>
<!--绑定手机弹出框-->
<div id="moblie" style=" display:none;">
  <div class="Binding_pop_box" style="padding:10px;width:480px;height:200px; background:#fff;">
    <div class="Binding_pop_box_msg">绑定完成后，您可以使用该手机号码找回密码</div>
    <div>
      <div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>手机号码：</span>
        <input type="text" name="moblie" class="Binding_pop_box_list_text Binding_pop_box_list_textw200">
        <input type="hidden" name="mobile" value="{yun:}$tel.check{/yun}">
      </div>
      <div class="Binding_pop_box_list"><span class="Binding_pop_box_list_left"><i class="Binding_pop_box_list_left_i">*</i>短信验证码：</span>
        <input type="text" id="moblie_code" class="Binding_pop_box_list_text" style="width:90px;">
        <a href="javascript:;" class="Binding_pop_bth duanxibtn" id="time">免费发送验证码</a></div>
      <div class="Binding_pop_sub" style="margin-top:20px;"> <span class="Binding_pop_box_list_left">&nbsp;</span>
        <input class="com_pop_bth_qd" onclick="check_moblie();" type="button" value="保存">
        <input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.closeAll();">
        <input type="hidden" value="1" id="info">
      </div>
    </div>
  </div>
</div>




<script>
    function showcomstatusbody(){
        $.layer({
            type : 1,
            title : '审核说明',
            closeBtn : [0 , true],
            border : [10 , 0.3 , '#000', true],
            area : ['300px','auto'],
            page : {dom :"#showcomstatusbody"}
        });
    }
    function ajaxfile() {
        if($("#image").val() != '') {
            var i=layer.load('头像上传中，请稍候....', 0);
            $.ajaxFileUpload({
                url: 'index.php?c=uppic&act=ajaxfileupload',
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'image', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                data:{'type':'info'},
                success: function (data, status){  //服务器成功响应处理函数
                    layer.close(i);
                    if (data.s_thumb) {
                        layer.msg(data.s_thumb, 2, 8);
                    } else {
                        $('#logo').attr('src',data.url);
                    }
                }
            })
        }
    }

    function ajaxcert() {
        if($("#pic").val() != '') {
            var i=layer.load('图片上传中，请稍候....', 0);
            $.ajaxFileUpload({
                url: 'index.php?c=binding&act=save',
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'pic', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                data:{'uppic':'1'},
                success: function (data, status){  //服务器成功响应处理函数
                    layer.close(i);
                    if (data.msg) {
                        layer.msg(data.msg, 2, 8);
                    } else {
                        $('#preview').show();
                        $('#imghead').attr('src',data.url);
                        $('#imga').attr('href',data.url);
                        $('#com_cert').attr('value',data.url);
                    }
                }
            })
        }
    }
    //ajax提交表单
    $(function () {
        $('#certform').submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var company_name=$.trim($("#company_name").val());
            var com_cert=$('#com_cert').val();
            if(company_name==''){
                layer.msg('猎头全称不能为空！',2,8);
                return false;
            }
            if(com_cert==''){
                layer.msg('请上传营业执照！',2,8);
                return false;
            }
            var i=layer.load('执行中，请稍候...',0);
            $.post("index.php?c=binding&act=save", {
                company_name: company_name,
                com_cert: com_cert,
                upfile: 'info'
            }, function (res) {
                layer.close(i);
                if (res) {
                    $("#dcert").remove();
                    $("#cdiv").append(" <div id=\'dcert\' class=\'Binding_list_text  Binding_mt\' style=\'width:300px;\'>营业执照已上传，请等待审核</div>");
                    layer.msg('营业执照已上传成功！', 2, 9);
                }
            });
            setTimeout(layer.closeAll(),2000);
        });
    });



</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}