{yun:}include file="$ltstyle/header.htm"{/yun}
<div class="top_nav_list">
    {yun:}include file="$ltstyle/left.htm"{/yun}
</div>
<div class="w1000">
  <div class="admin_mainbody">
      <link rel="stylesheet" href="{yun:}$style{/yun}/style/job.css" type="text/css"/>
    <link href="{yun:}$com_style{/yun}/images/index_style.css" type=text/css rel=stylesheet>
    <div class=down_box>
      <div class=admincont_box>
          <div class="Search_jobs_box" style="width: 1100px;">
              <form method="get" id="form" action="{yun:}if !$config.sy_resumedir{/yun}index.php{yun:}else{/yun}{yun:}url m=resume{/yun}{yun:}/if{/yun}" onsubmit="return search_keyword(this,'请输入关键字');">
                  {yun:}if !$config.sy_resumedir{/yun}
                  <input type="hidden" name="m" value="resume" />
                  {yun:}/if{/yun}
                  <input type="hidden" name="c" value="search" />
                  {yun:}foreach from=$finder item=v key=key{/yun}
                  <input type="hidden" name="{yun:}$key{/yun}" value="{yun:}$v{/yun}" />
                  {yun:}/foreach{/yun}
                  <div class="Search_jobs_form_list" >
                      <div class="yun_job_search">
                          <div class="Search_jobs_sub">
                              <input type="text" name="keyword"  style="width:760px;" value="{yun:}if $smarty.get.keyword!=""{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入关键字，如：姓名、期望工作地…{yun:}/if{/yun}" onclick="if(this.value=='请输入关键字，如：姓名、期望工作地…'){this.value=''}" onblur="if(this.value==''){this.value='请输入关键字，如：姓名、期望工作地…'}" class="Search_jobs_text"/>
                              <input type="submit" value="搜索" class="Search_jobs_submit yun_bg_color"  style="background: #4b6e88;height: 40px;"/>
                              <a class="rk_resume"  href="index.php?c=resume&act=input" target="_blank">
                                  <img src="{yun:}$lt_style{/yun}/images/rk_ico.png" style="margin-top: 11px;"/>
                                  <label class="rk_zizi" style="vertical-align: top;">入库简历</label>
                              </a>
                          </div>
                      </div>
                  </div>

                  <div class="Search_jobs_form_list search_more">
                      <div class="shaixuan">
                          <label class="sxtitle">筛选条件：</label>
                          <label class="select_hy">
                              <a class="Search_jobs_c_a disc_fac mtop0">行业：计算机/互联网</a>
                          </label>
                          <label class="select_city"><a class="Search_jobs_c_a disc_fac mtop0">行业：计算机/互联网</a></label>
                          <label class="select_salery"><a class="Search_jobs_c_a disc_fac mtop0">行业：计算机/互联网</a></label>
                          <label class="select_time"></label>
                      </div>
                      <div class="Search_jobs_sub" style="margin-left: 50px;margin-top: 14px;">

                          <div class="Search_jobs_more_chlose">
                              <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}期望行业{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_hylist none">
                                  <ul>
                                      {yun:}if $config.fz_type!='2'&&$config.hyclass==''{/yun}
                                      <div class="Search_jobs_form_list">
                                          {yun:}foreach from=$industry_index item=v key=key{/yun}
                                          <li><a href="javascript:;" class="Search_jobs_sub_a" onclick="showurl('{yun:}listurl m=resume type=hy v=$v{/yun}')">{yun:}$industry_name[$v]{/yun}</a> </li>
                                          {yun:}/foreach{/yun}
                                      </div>
                                      {yun:}/if{/yun}
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose">
                              <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}期望工作地{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_hylist none">
                                  <ul>
                                      {yun:}foreach from=$city_index key=j item=v{/yun}
                                      <li style="width: inherit;"><a class="Search_jobs_sub_a" href="/member/index.php?c=job&w=1&city={yun:}$v{/yun}">{yun:}$city_name[$v]{/yun}</a> </li>
                                      {yun:}/foreach{/yun}
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose">
                              <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}期望年薪{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_hylist none">
                                  <ul>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.minsalary==''&&$smarty.get.maxsalary==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">全部</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='0_2000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.maxsalary==2000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">2000以下</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='2000_4000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==2000&&$smarty.get.maxsalary==4000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">2000-4000</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='4000_6000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==4000&&$smarty.get.maxsalary==6000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">4000-6000</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='6000_8000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==6000&&$smarty.get.maxsalary==8000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">6000-8000</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='8000_10000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==8000&&$smarty.get.maxsalary==10000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">8000-10000</a></li>
                                      <li style="width: inherit;"><a href="{yun:}listurl m=resume type=salary v='10000'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==10000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}">10000以上</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose">
                              <span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.hy{/yun}{yun:}$industry_name[$smarty.get.hy]{/yun}{yun:}else{/yun}工作年限{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      <li><a href="{yun:}listurl m=resume type=work v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.minsalary==''&&$smarty.get.maxsalary==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">全部</a></li>
                                      <li><a href="{yun:}listurl m=resume type=work v='1'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.maxsalary==2000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">1年以内</a></li>
                                      <li><a href="{yun:}listurl m=resume type=work v='1'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.maxsalary==2000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">1-3年</a></li>
                                      <li><a href="{yun:}listurl m=resume type=work v='2'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==2000&&$smarty.get.maxsalary==4000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">3-5年</a></li>
                                      <li><a href="{yun:}listurl m=resume type=work v='3'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==4000&&$smarty.get.maxsalary==6000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">5-10年</a></li>
                                      <li><a href="{yun:}listurl m=resume type=work v='4'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==6000&&$smarty.get.maxsalary==8000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">10年以上</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="Search_jobs_more_chlose"><span class="Search_jobs_more_chlose_s">{yun:}if $smarty.get.edu{/yun}{yun:}$userclass_name[$smarty.get.edu]{/yun}{yun:}else{/yun}学历{yun:}/if{/yun}</span><i class=""></i>
                              <div class="Search_jobs_more_chlose_list none">
                                  <ul>
                                      <li><a href="{yun:}listurl m=resume type=edu v=0{/yun}" class="Search_jobs_sub_a {yun:}if $smarty.get.minsalary==''&&$smarty.get.maxsalary==''{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">全部</a></li>
                                      <li><a href="{yun:}listurl m=resume type=edu v='1'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.maxsalary==2000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">博士</a></li>
                                      <li><a href="{yun:}listurl m=resume type=edu v='2'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==2000&&$smarty.get.maxsalary==4000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">硕士</a></li>
                                      <li><a href="{yun:}listurl m=resume type=edu v='3'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==4000&&$smarty.get.maxsalary==6000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">本科</a></li>
                                      <li><a href="{yun:}listurl m=resume type=edu v='4'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==6000&&$smarty.get.maxsalary==8000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">专科</a></li>
                                      <li><a href="{yun:}listurl m=resume type=edu v='5'{/yun}" class="Search_jobs_cxz {yun:}if $smarty.get.minsalary==8000&&$smarty.get.maxsalary==10000{/yun}Search_jobs_sub_cur{yun:}/if{/yun}" style="width: 110px;">专科以下</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="paixu_btn">
                              <label class="pxbtn">工作年限从高到低</label>
                              <label class="pxbtn pxcur">期望薪资从高到低</label>
                          </div>
                      </div>
                  </div>

                  {yun:}if $smarty.get.job1||$smarty.get.job1_son||$smarty.get.job_post||$smarty.get.provinceid||$smarty.get.cityid||$smarty.get.three_cityid||$smarty.get.hy||$smarty.get.minsalary||$smarty.get.maxsalary||$smarty.get.edu||$smarty.get.exp||$smarty.get.tag||$smarty.get.sex||$smarty.get.type||$smarty.get.report||$smarty.get.uptime||$smarty.get.keyword||$smarty.get.idcard||$smarty.get.work{/yun}
                  <div class="Search_close_box">
                      <div>
                          <div class="Search_clear"> <a href="{yun:}url m=resume{/yun}"> 清除所选</a></div>
                          <span class="Search_close_box_s">已选条件：</span>
                      </div>
                      {yun:}if $smarty.get.job1{/yun} <a href="{yun:}listurl m=resume untype='job1'{/yun}" class="Search_jobs_c_a disc_fac">职位分类：{yun:}$job_name[$smarty.get.job1]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.job1_son{/yun} <a href="{yun:}listurl m=resume untype='job1_son'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$job_name[$smarty.get.job1_son]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.job_post{/yun} <a href="{yun:}listurl m=resume untype='job_post'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$job_name[$smarty.get.job_post]{/yun}</a> {yun:}/if{/yun}

                      {yun:}if $config.cityid=='' &&  $config.three_cityid==''{/yun}
                      {yun:}if $smarty.get.provinceid{/yun} <a href="{yun:}listurl m=resume untype='provinceid'{/yun}" class="Search_jobs_c_a disc_fac">工作地点：{yun:}$city_name[$smarty.get.provinceid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.cityid{/yun} <a href="{yun:}listurl m=resume untype='cityid'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.cityid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.three_cityid{/yun} <a href="{yun:}listurl m=resume untype='three_cityid'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$city_name[$smarty.get.three_cityid]{/yun}</a> {yun:}/if{/yun}
                      {yun:}/if{/yun}

                      {yun:}if $industry_name[$smarty.get.hy]{/yun} <a href="{yun:}listurl m=resume untype='hy'{/yun}" class="Search_jobs_c_a disc_fac">行业：{yun:}$industry_name[$smarty.get.hy]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.minsalary && $smarty.get.maxsalary{/yun}
                      <a href="{yun:}listurl m=resume untype='salary'{/yun}" class="Search_jobs_c_a disc_fac">薪资：{yun:}$smarty.get.minsalary{/yun}-{yun:}$smarty.get.maxsalary{/yun}</a>
                      {yun:}elseif $smarty.get.minsalary && !$smarty.get.maxsalary{/yun}
                      <a href="{yun:}listurl m=resume untype='salary'{/yun}" class="Search_jobs_c_a disc_fac">薪资：{yun:}$smarty.get.minsalary{/yun}及以上</a>
                      {yun:}elseif !$smarty.get.minsalary && $smarty.get.maxsalary{/yun}
                      <a href="{yun:}listurl m=resume untype='salary'{/yun}" class="Search_jobs_c_a disc_fac">薪资：{yun:}$smarty.get.maxsalary{/yun}及以下</a>
                      {yun:}/if{/yun}
                      {yun:}if $smarty.get.edu{/yun} <a href="{yun:}listurl m=resume untype='edu'{/yun}" class="Search_jobs_c_a disc_fac">学历：{yun:}$userclass_name[$smarty.get.edu]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.exp{/yun} <a href="{yun:}listurl m=resume untype='exp'{/yun}" class="Search_jobs_c_a disc_fac">工作经验：{yun:}$userclass_name[$smarty.get.exp]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.tag{/yun} <a href="{yun:}listurl m=resume untype='tag'{/yun}" class="Search_jobs_c_a disc_fac">个人标签：{yun:}$userclass_name[$smarty.get.tag]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.sex{/yun} <a href="{yun:}listurl m=resume untype='sex'{/yun}" class="Search_jobs_c_a disc_fac">性别：{yun:}$arr_data1{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.type{/yun} <a href="{yun:}listurl m=resume untype='type'{/yun}" class="Search_jobs_c_a disc_fac">工作类型：{yun:}$userclass_name[$smarty.get.type]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.report{/yun} <a href="{yun:}listurl m=resume untype='report'{/yun}" class="Search_jobs_c_a disc_fac">到岗时间：{yun:}$userclass_name[$smarty.get.report]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.adtime{/yun} <a href="{yun:}listurl m=resume untype='adtime'{/yun}" class="Search_jobs_c_a disc_fac">发布时间：{yun:}$adtime[$smarty.get.adtime]{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.uptime{/yun} <a href="{yun:}listurl m=resume untype='uptime'{/yun}" class="Search_jobs_c_a disc_fac">更新时间：{yun:}$uptime[$smarty.get.uptime]{/yun}</a> {yun:}/if{/yun}

                      {yun:}if $smarty.get.keyword{/yun} <a href="{yun:}listurl m=resume untype='keyword'{/yun}" class="Search_jobs_c_a disc_fac">{yun:}$smarty.get.keyword{/yun}</a> {yun:}/if{/yun}
                      {yun:}if $smarty.get.idcard{/yun}<a href="{yun:}listurl m=resume untype='idcard'{/yun}" class="Search_jobs_c_a disc_fac">有身份验证</a>{yun:}/if{/yun}
                      {yun:}if $smarty.get.work{/yun}<a href="{yun:}listurl m=resume untype='work'{/yun}" class="Search_jobs_c_a disc_fac">有作品</a>{yun:}/if{/yun}
                      &nbsp; </div>

                  {yun:}/if{/yun}

                  <div class="left_job_all fl">
                      <div class="job_left_sidebar"  style="width: 1000px;margin-left: 50px;"> {yun:}if $pagenum<2{/yun}
                          {yun:}userlist limit=5 topdate=1 minsalary='auto.minsalary' maxsalary='auto.maxsalary' idcard='auto.idcard' edu='auto.edu' order='auto.order' work='auto.work' exp='auto.exp' tag='auto.tag' sex='auto.sex' keyword='auto.keyword' hy='auto.hy' provinceid='auto.provinceid' report='auto.report' cityid='auto.cityid' three_cityid='auto.three_cityid' adtime='auto.adtime' jobids='auto.jobids' pic='auto.pic' typeids='auto.typeids' type='auto.type' job1='auto.job1' job1_son='auto.job1_son' job_post='auto.job_post' uptime='auto.uptime' post_len=14 item=user2 name=userlist2{/yun}
                          {yun:}if $smarty.get.pic{/yun}
                          <div class="resume_list" >
                              <dl class="resume_list_dl">
                                  <dt><a href="{yun:}url m=resume c=show id=$user2.id{/yun}" target="_blank"><img src="{yun:}$user2.photo{/yun}" width="80" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"/><i class="user_photo_bg"></i></a></dt>
                                  <dd>
                                      <div class="resume_list_p2_l fl">
                                          <div class="resume_list_p1"><a href="{yun:}url m=resume c=show id=$user2.id{/yun}" class="resume_list_name yun_text_color" target="_blank">{yun:}if in_array($user2.id,$eid){/yun}{yun:}$user2.uname{/yun}{yun:}else{/yun}{yun:}$user2.username_n{/yun}{yun:}/if{/yun}</a> </div>

                                          <div class="company_det">
                                              <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$arr_data['sex'][$user2.sex]{/yun}</em></span><span class="search_job_list_box_line">|</span> <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}if $user2.age==0{/yun}保密{yun:}else{/yun}{yun:}$user2.age{/yun}岁{yun:}/if{/yun}</em></span><span class="search_job_list_box_line">|</span>
                                              <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user2.exp_n{/yun}经验</em></span><span class="search_job_list_box_line">|</span> <span class="search_job_list_box_s"><em class="com_search_job_em"> {yun:}$user2.edu_n{/yun}学历</em></span></div>
                                          {yun:}if $user2.tag{/yun}
                                          <div class="job_welfare_tag">
                                              {yun:}foreach from=$user2.tag key=key item=v{/yun}
                                              {yun:}if $key<5{/yun}
                                              <span class="job_welfare_tag_s">
                <i class="job_welfare_tag_s_icon"></i>
				{yun:}$v{/yun}
				</span>
                                              {yun:}/if{/yun}
                                              {yun:}/foreach{/yun}
                                          </div>
                                          {yun:}else{/yun}
                                          <div class="job_describe_p">{yun:}$user2.user_jobstatus_n{/yun}  </div>
                                          {yun:}/if{/yun}
                                      </div>
                                      <div class="resume_list_p2_r">
                                          {yun:}if $user2.expectjob{/yun}
                                          <div class="tx_yxjob">意向职位：
                                              {yun:}foreach from=$user2.expectjob item=v key=key{/yun}
                                              {yun:}if $key<5{/yun}
                                              <span class="resume_job_tag"><i class="resume_job_tag_icon"></i>{yun:}$v{/yun}</span>
                                              {yun:}/if{/yun}
                                              {yun:}/foreach{/yun}
                                          </div>
                                          {yun:}/if{/yun}
                                          <div class="">意向城市：{yun:}$user2.job_city_one{/yun}-{yun:}$user2.job_city_two{/yun}</div>
                                          <div class="resume_list_p2">期望薪资：<span class="resume_list_p2_xz">{yun:}$user2.salary_n{/yun}</span></div>

                                      </div>
                                  </dd>
                                  <span class="resume_list_jlzd" ><span style="color:red;">置顶</span></span>
                              </dl>
                          </div>
                          {yun:}else{/yun}
                          <div class="search_user_list {yun:}if $key%2!='0'{/yun}{yun:}/if{/yun}">
                              <div class="user_photo_left"><a href="{yun:}url m=resume c=show id=$user2.id{/yun}" target="_blank"><img src="{yun:}$user2.photo{/yun}" width="80" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"/><i class="user_photo_bg"></i></a></div>
                              <div class="usersearch_job_left_siaber"> <a href="{yun:}url m=resume c=show id=$user2.id{/yun}" target="_blank" class="fl search_job_jobs_name yun_text_color">  {yun:}if in_array($user2.id,$eid){/yun}{yun:}$user2.uname{/yun}{yun:}else{/yun}{yun:}$user2.username_n{/yun}{yun:}/if{/yun}</a>

                                  {yun:}if $user2.idcard_status=='1'{/yun}<img src="{yun:}$style{/yun}/images/sf.png" title="身份已认证"  class="user_rz_img png fl"/>{yun:}/if{/yun}
                                  {yun:}if $user2.ispic{/yun}<img src="{yun:}$style{/yun}/images/profile.png" title="有形象照" class="user_rz_img png fl"/>{yun:}/if{/yun}

                                  {yun:}if in_array($user2.id,$lookresume){/yun}<span class="co_fav"><i></i><em>已浏览</em></span>{yun:}/if{/yun}
                                  {yun:}if in_array($user2.id,$talentpool){/yun}<span class="co_fav"><i></i><em>已收藏</em></span>{yun:}/if{/yun}
                                  {yun:}if in_array($user2.uid,$useridmsg){/yun}<span class="co_fav"><i></i><em>已邀请</em></span>{yun:}/if{/yun}

                                  {yun:}if $job_list.rec_time>time(){/yun}<img width="15" height="15" src="{yun:}$style{/yun}/images/tui.png" title="站长推荐"/>{yun:}/if{/yun}
                                  <div class="company_det">
                                      <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$arr_data['sex'][$user2.sex]{/yun}</em> </span><span class="search_job_list_box_line">|</span>
                                      <span class="search_job_list_box_s"><em class="com_search_job_em"> {yun:}if $user2.age==0{/yun}保密{yun:}else{/yun}{yun:}$user2.age{/yun}岁{yun:}/if{/yun}</em> </span><span class="search_job_list_box_line">|</span><span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user2.exp_n{/yun}经验</em> </span><span class="search_job_list_box_line">|</span><span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user2.edu_n{/yun}学历</em></span>
                                  </div>
                                  {yun:}if $user2.tag{/yun}
                                  <div class="company_bq">
                                      <div class="job_welfare_tag" >

                                          {yun:}foreach from=$user2.tag key=key item=v{/yun}
                                          {yun:}if $key<5{/yun}
                                          <span class="job_welfare_tag_s"><i class="job_welfare_tag_s_icon"></i>
			{yun:}$v{/yun}
			</span>
                                          {yun:}/if{/yun}
                                          {yun:}/foreach{/yun}
                                      </div>
                                  </div>
                                  {yun:}else{/yun}
                                  <div class="job_describe_p">{yun:}$user2.user_jobstatus_n{/yun}  </div>
                                  {yun:}/if{/yun}
                              </div>
                              <div class="user_det_c_name">
                                  <span class="search_job_list_box_user">意向城市：<em class="com_search_job_em">{yun:}$user2.job_city_one{/yun}-{yun:}$user2.job_city_two{/yun} </em></span>
                                  <span class="search_job_list_box_user search_job_list_box_userpd">期望薪资：<em class="com_search_job_em com_search_job_em_pay">{yun:}$user2.salary_n{/yun}</em> </span>

                                  {yun:}if $user2.expectjob{/yun}
                                  <div class="resume_yx_job"><span class="resume_yx_job_name">意向职位：</span>
                                      {yun:}foreach from=$user2.expectjob item=v key=key{/yun}
                                      {yun:}if $key<5{/yun}
                                      <span class="resume_job_tag"><i class="resume_job_tag_icon"></i>{yun:}$v{/yun}</span>
                                      {yun:}/if{/yun}
                                      {yun:}/foreach{/yun}
                                  </div>
                                  {yun:}/if{/yun}
                              </div>
                              <div class="yun_user_operation_l"> <span class="resume_list_jobzd" ><span style="color:red;">置顶</span></span> </div>
                              <div class="yun_user_operation">
                                  <div class="user_a_search_time"> <a href="{yun:}url m=resume c=show id=$user2.id{/yun}" target="_blank" class="yun_user_lok_bth ">查看</a> </div>
                              </div>
                          </div>
                          {yun:}/if{/yun}
                          {yun:}/userlist{/yun}
                          {yun:}/if{/yun}
                          {yun:}userlist limit=20 minsalary='auto.minsalary' maxsalary='auto.maxsalary' noid=1 idcard='auto.idcard' edu='auto.edu' order='auto.order' work='auto.work' exp='auto.exp' tag='auto.tag' sex='auto.sex' keyword='auto.keyword' hy='auto.hy' provinceid='auto.provinceid' report='auto.report' cityid='auto.cityid' three_cityid='auto.three_cityid' adtime='auto.adtime' jobids='auto.jobids' pic='auto.pic' typeids='auto.typeids' type='auto.type' job1='auto.job1' job1_son='auto.job1_son' job_post='auto.job_post' uptime='auto.uptime' post_len=14 ispage=1 item=user key=key name=userlist1{/yun}

                          {yun:}if $smarty.get.pic{/yun}
                          <div class="resume_list" >
                              <dl class="resume_list_dl">
                                  <dt><a href="{yun:}url m=resume c=show id=$user.id{/yun}" target="_blank"><img src="{yun:}$user.photo{/yun}" width="80" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"/><i class="user_photo_bg"></i></a></dt>
                                  <dd>
                                      <div class="resume_list_p2_l fl">
                                          <div class="resume_list_p1"><a href="{yun:}url m=resume c=show id=$user.id{/yun}" class="resume_list_name yun_text_color" target="_blank">{yun:}if in_array($user.id,$eid){/yun}{yun:}$user.uname{/yun}{yun:}else{/yun}{yun:}$user.username_n{/yun}{yun:}/if{/yun}</a></div>
                                          <div class="company_det">
                                              <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}if $user.sex==152{/yun}女{yun:}elseif $user.sex==153{/yun}男{yun:}else{/yun}{yun:}$arr_data['sex'][$user.sex]{/yun}{yun:}/if{/yun}</em> </span><span class="search_job_list_box_line">|</span>
                                              <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}if $user.age==0{/yun}保密{yun:}else{/yun}{yun:}$user.age{/yun}岁{yun:}/if{/yun}</em> </span><span class="search_job_list_box_line">|</span>
                                              <span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user.exp_n{/yun}经验</em> </span><span class="search_job_list_box_line">|</span><span class="search_job_list_box_s"><em class="com_search_job_em">{yun:}$user.edu_n{/yun}学历</em></span></div>
                                          {yun:}if $user.tag{/yun}
                                          <div class="company_bq">
                                              <div class="job_welfare_tag" >

                                                  {yun:}foreach from=$user.tag key=key item=v{/yun}
                                                  {yun:}if $key<5{/yun}
                                                  <span class="job_welfare_tag_s"><i class="job_welfare_tag_s_icon"></i>
			{yun:}$v{/yun}
			</span>
                                                  {yun:}/if{/yun}
                                                  {yun:}/foreach{/yun}
                                              </div></div>
                                          {yun:}else{/yun}
                                          <div class="job_describe_p">{yun:}$user.user_jobstatus_n{/yun}  </div>
                                          {yun:}/if{/yun}
                                      </div>
                                      <div class="resume_list_p2_r">
                                          {yun:}if $user.expectjob{/yun}
                                          <div class="tx_yxjob">意向职位：
                                              {yun:}foreach from=$user.expectjob item=v key=key{/yun}
                                              {yun:}if $key<5{/yun}
                                              <span class="resume_job_tag"><i class="resume_job_tag_icon"></i>{yun:}$v{/yun}</span>
                                              {yun:}/if{/yun}
                                              {yun:}/foreach{/yun}
                                          </div>
                                          {yun:}/if{/yun}
                                          <div class="tx_yxcity">意向城市：{yun:}$user.job_city_one{/yun}-{yun:}$user.job_city_two{/yun}</div>
                                          <div class="resume_list_p2">期望薪资：<span class="resume_list_p2_xz">{yun:}$user.salary_n{/yun}</span></div>

                                      </div>
                                  </dd>
                                  <span class="resume_list_data">
        {yun:}if $user.redtime==1 || $user.time=='昨天'{/yun}
        	<span style="color:red;">{yun:}$user.time{/yun}</span>
        {yun:}else{/yun}
        	{yun:}$user.time{/yun}
        {yun:}/if{/yun}
        </span>
                              </dl>
                          </div>
                          {yun:}else{/yun}
                          <div class="job_news_list line_heigh45" pid="{yun:}$job_list.id{/yun}">
                            <span class="job_news_list_span  job_w150 line_heigh23" style="text-align:left;padding-left: 10px;">
                                    <a class="job_namer nowrap"  href="{yun:}url m=resume c=show id=$user.id{/yun}" target="_blank">{yun:}if in_array($user.id,$eid){/yun}{yun:}$user.uname{/yun}{yun:}else{/yun}{yun:}$user.username_n{/yun}{yun:}/if{/yun}</a><label class="job_status">（先生）</label><br>
                                    <label class="tel_num"><img src="{yun:}$lt_style{/yun}/images/sj_ico.png">13767678989</label>
                            </span>
                              <span class="job_news_list_span job_w66">
                                <label class="tj_time">{yun:}if $user.age==0{/yun}保密{yun:}else{/yun}{yun:}$user.age{/yun}岁{yun:}/if{/yun}</label>
                            </span>
                              <span class="job_news_list_span job_w66">
                                <label class="tj_time">{yun:}$user.edu_n{/yun}</label>
                            </span>
                              <span class="job_news_list_span job_w99">
                                <label class="tj_time">{yun:}$user.exp_n{/yun}</label>
                            </span>
                              <span class="job_news_list_span job_w174 line_heigh23">
                                    <label class="salery_s" href="#">{yun:}$user.salary_n{/yun}</label><br>
                                    <label class="com_namer font_14" href="#">{yun:}$user.job_city_one{/yun}</label>
                                </span>
                              <span class="job_news_list_span job_w141">
                                    <label class="tj_time" href="#">
                                        {yun:}if $user.redtime==1 || $user.time=='昨天'{/yun}
                                            <span style="color:red;">{yun:}$user.time{/yun}</span>
                                        {yun:}else{/yun}
                                            {yun:}$user.time{/yun}
                                        {yun:}/if{/yun}
                                    </label>
                                </span>
                              <span class="job_news_list_span job_w174 line_heigh23">
                                    <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">猎头</span></label>
                                    <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">推荐职位</span></label>
                                    <label class="num_tj"><span class="color_333">12</span><br><span class="color_999">HR下载</span></label>
                                </span>
                              <span class="job_news_list_span job_w110">
                                    <label class="ico_btn">
                                        <img src="{yun:}$lt_style{/yun}/images/xiazai.png">
                                        <label class="jieshiico">下载</label>
                                    </label>
                                    <label class="ico_btn">
                                        <img src="{yun:}$lt_style{/yun}/images/shoucang.png">
                                        <label class="jieshiico">收藏</label>
                                    </label>
                                    <label class="ico_btn">
                                        <img src="{yun:}$lt_style{/yun}/images/bianji.png">
                                        <label class="jieshiico">简历编辑</label>
                                    </label>
                                </span>
                          </div>
                          {yun:}/if{/yun}
                          {yun:}/userlist{/yun}
                          <div class="clear"></div>
                          {yun:}if $total!=0 || is_array($user2){/yun}
                          <div class="search_pages">
                              <div class="pages">{yun:}$pagenav{/yun}</div>
                          </div>
                          {yun:}else{/yun}
                          <div class="seachno">
                              <div class="seachno_left"><img src="{yun:}$style{/yun}/images/search-no.gif" width="144" height="102"/></div>
                              <div class="listno-content"> <strong>很抱歉，没有找到满足条件的人才</strong><br>
                                  <span> 建议您：<br>
        1、适当减少已选择的条件<br>
        2、适当删减或更改搜索关键字<br>
        </span> <span> 热门关键字：<br>
        {yun:}key limit=10 recom=1 type=5 item=klist{/yun}<a href="{yun:}listurl m=resume type=keyword v=$klist.key_title{/yun}" title="{yun:}$klist.key_title{/yun}">{yun:}$klist.key_name{/yun}</a> {yun:}/key{/yun}</span> </div>
                          </div>
                          {yun:}/if{/yun} </div>
                  </div>
              </form>
              <div class="clear"></div>
          </div>


    </div>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
	$(".browsebj").click(function(){
		var browse=$(this).attr('browse');
		var id=$(this).attr('name');
		$.post("index.php?c=hr&act=hrset",{id:id,browse:browse},function(data){
			location.reload();
		});
	});
});
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/search.js" type="text/javascript"></script>
{yun:}include file="$ltstyle/yqms.htm"{/yun}
{yun:}include file="$tplstyle/footer.htm"{/yun}