<link href="{yun:}$style{/yun}/style/search.css" type=text/css rel=stylesheet>
<link href="{yun:}$style{/yun}/style/job.css" type=text/css rel=stylesheet>
<style>
    .shaixuan .mtop0{margin-top: 4px;}
    .yun_resume_popup_chose_box_text {
        float: left;
        width: 300px;
        height: 28px;
        line-height: 28px;
        border: none;
        text-align: left;
        text-indent: 10px;
        background: #fff url(/app/template/member/user/images/yun_select.jpg) no-repeat 280px center;
    }
</style>
<div class="Search_jobs_box search_content" style="width: 1040px;margin-top: 20px;">
    {yun:}foreach from=$finder item=v key=key{/yun}
    <input type="hidden" name="{yun:}$key{/yun}" value="{yun:}$v{/yun}" />
    {yun:}/foreach{/yun}
    <div class="Search_jobs_form_list" style="padding-bottom: 0;">
        <div class="yun_job_search" style="background: #edf6fc;margin-bottom: 20px;">
            <div class="Search_jobs_sub">
                {yun:}if $js_def==8{/yun}
                    <div class="shaixuan" style="font-weight: inherit;height: 32px;line-height: 32px;float: left;margin-left: 10px;">关键词：</div>
                    <div class="Search_jobs_sub" style="float: left;width: 460px;">
                        <input type="text" name="keyword" id="keyword" value="{yun:}$search.keyword{/yun}" class="Search_jobs_more_chlose" style="padding-left: 10px;cursor: inherit;width: 470px;" placeholder="多个关键词直接使用空格隔开">
                    </div>
                    <input type="submit" onclick="post_search(1,'keyword')" class="sousuo_btns" style="height: 30px;margin-left: 20px;line-height: 30px;" value="搜索">
                {yun:}if $usertype==3{/yun}
                <div class="Search_jobs_more_chlose" style="float: right;width: 240px;">
                    <span class="Search_jobs_more_chlose_s" style="height: 30px;background: #fff;width: 210px;">{yun:}if $smarty.post.searcher_id{/yun}{yun:}$search.name{/yun}{yun:}else{/yun}选择快捷搜索条件{yun:}/if{/yun}</span><i class=""></i>
                    <div class="Search_jobs_more_chlose_list none" style="width: 240px;">
                        <ul class="listtj">
                            <li><a href="#" class="Search_jobs_sub_a " style="width: 220px;">全部</a></li>
                            {yun:}foreach from=$searcher item=list{/yun}
                            <li><a class="Search_jobs_cxz searcher" style="width: 220px;" data-id="{yun:}$list.id{/yun}">{yun:}$list.name{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
                {yun:}/if{/yun}
                {yun:}else{/yun}
                    <div class="shaixuan" style="font-weight: inherit;height: 32px;line-height: 32px;float: left;margin-left: 10px;">关键词：</div>
                    <div class="Search_jobs_sub" style="float: left;width: 660px;">
                        <input type="text" name="keyword" id="keyword" value="{yun:}$search.keyword{/yun}" class="Search_jobs_more_chlose" style="padding-left: 10px;cursor: inherit;width: 670px;" placeholder="多个关键词直接使用空格隔开">
                    </div>
                    <input type="submit" onclick="post_search(1,'keyword')" class="sousuo_btns" style="height: 30px;margin-left: 20px;line-height: 30px;" value="搜索">
                <a class="rk_resume" href="index.php?c=resume&amp;act=input" target="_blank" style="height: 30px;line-height: 30px;">
                    <img src="/app/template/member/lietou/images/rk_ico.png">
                    <label class="rk_zizi" style="vertical-align: top;">上传简历</label>
                </a>
                {yun:}/if{/yun}
            </div>
        </div>
    </div>
    <div class="shaixuan">
        {yun:}if $search.hy||$search.job_name ||$search.com_name||$search.jobs_id||$search.hope_city||$search.location||$search.minage ||$search.maxage||$search.minsalary||$search.maxsalary||$search.sex||$search.exp||$search.jobstatus||$search.edu{/yun}
        <label class="sxtitle">筛选条件：</label>

        {yun:}if $search.job_name{/yun}
        <label class="select_hy">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'job_name');">职位名称：{yun:}$search.job_name{/yun}</a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.status{/yun}
        <label class="select_hy">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'status');">求职状态：{yun:}$userclass_name[$search.status]{/yun}</a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.com_name{/yun}
        <label class="select_hy">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'com_name');">公司名称：{yun:}$search.com_name{/yun}</a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.hy{/yun}
        <label class="select_hy">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'hy');">行业：{yun:}$industry_name[$search.hy]{/yun}</a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.jobs_id{/yun}
        <label class="select_hy">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'jobs_id');">期望职能：{yun:}$job_name[$search.jobs_id]{/yun}</a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.hope_city{/yun}
        <label class="select_city"><a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'hope_city');">期望工作地：{yun:}$city_name[$search.hope_city]{/yun}</a></label>
        {yun:}/if{/yun}
        {yun:}if $search.location{/yun}
        <label class="select_city"><a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'location');">现居住地：{yun:}$city_name[$search.location]{/yun}</a></label>
        {yun:}/if{/yun}
        {yun:}if $search.minsalary || $search.maxsalary{/yun}
        <label class="select_salary">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'salary');">
                期望年薪：
                {yun:}if $search.minsalary && $search.maxsalary{/yun}
                    {yun:}$search.minsalary{/yun}-{yun:}$search.maxsalary{/yun}万
                {yun:}elseif $search.minsalary && empty($search.maxsalary){/yun}
                    {yun:}$search.minsalary{/yun}万以上
                {yun:}elseif $search.maxsalary && empty($search.minsalary){/yun}
                    {yun:}$search.maxsalary{/yun}万以下
                {yun:}/if{/yun}
            </a>
        </label>
        {yun:}/if{/yun}

        {yun:}if $search.minage || $search.maxage{/yun}
        <label class="select_salary">
            <a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'age');">
                年龄：
                {yun:}if $search.minage && $search.maxage{/yun}
                {yun:}$search.minage{/yun}-{yun:}$search.maxage{/yun}岁
                {yun:}elseif $search.minage && empty($search.maxage){/yun}
                {yun:}$search.minage{/yun}岁以上
                {yun:}elseif $search.maxage && empty($search.minage){/yun}
                {yun:}$search.maxage{/yun}岁以下
                {yun:}/if{/yun}
            </a>
        </label>
        {yun:}/if{/yun}
        {yun:}if $search.exp{/yun}
        <label class="select_work"><a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'exp');">工作年限：{yun:}if $userclass_name[$search.exp]{/yun}{yun:}$userclass_name[$search.exp]{/yun}{yun:}else{/yun}无{yun:}/if{/yun}</a></label>
        {yun:}/if{/yun}
        {yun:}if $search.sex{/yun}
        <label class="select_work"><a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'sex');">性别：{yun:}if $search.sex==1{/yun}男{yun:}elseif $search.sex==2{/yun}女{yun:}else{/yun}无限{yun:}/if{/yun}</a></label>
        {yun:}/if{/yun}
        {yun:}if $search.edu{/yun}
        <label class="select_work"><a class="Search_jobs_c_a disc_fac mtop0" onclick="post_search(2,'edu');">学历：{yun:}$userclass_name[$search.edu]{/yun}</a></label>
        {yun:}/if{/yun}
        {yun:}/if{/yun}
    </div>

    <div class="zhankai zkbtn" {yun:}if empty($search.open){/yun}style="display:block;"{yun:}else{/yun}style="display:none;"{yun:}/if{/yun}>
        <label><img src="{yun:}$style{/yun}/images/xiala.png"/></label>
        <span onclick="post_search(1,'open');">展开搜索条件</span>
    </div>

    <div class="Search_jobs_form_list search_more" {yun:}if $smarty.post.open{/yun}style="padding-bottom: 20px;display: block;"{yun:}else{/yun}style="padding-bottom: 20px;display: none;"{yun:}/if{/yun}>
        <div class="hangseach">
            <label class="cccsss posirel" style="width: 550px;">
                <div class="shaixuan zuostyle">职位名称：</div>
                <div class="Search_jobs_sub" style="float: left;width: 400px;">
                    <input type="text" class="Search_jobs_more_chlose" style="padding-left: 10px;cursor: inherit;width: 390px;" name="jobname" id="jobname" value="{yun:}$search.job_name{/yun}" placeholder="最多可输入3个职位名称关键词进行搜索，以空格隔开">
                    <div class="btnhover"  style="width: 550px;right: 0px;left: inherit;top: -10px;">
                        <div class="btnsss" data-type="1" onclick="post_search(1,'job_name');">确定</div>
                    </div>
                    <span class="tipser"></span>
                </div>
            </label>
        </div>
        <div class="hangseach">
            <label class="cccsss posirel" style="width: 550px;">
                <div class="shaixuan zuostyle">公司名称：</div>
                <div class="Search_jobs_sub" style="float: left;width: 400px;">
                    <input type="text" class="Search_jobs_more_chlose" style="padding-left: 10px;cursor: inherit;width: 390px;" name="com_name" id="com_name" value="{yun:}$search.com_name{/yun}" placeholder="请输入公司名称">
                    <div class="btnhover" style="width: 550px;right: 0px;left: inherit;top: -10px;">
                        <div class="btnsss" data-type="2" onclick="post_search(1,'com_name');">确定</div>
                    </div>
                    <span class="tipser"></span>
                </div>
            </label>
        </div>
        <div class="hangseach">
            <div class="shaixuan zuostyle">期望行业：</div>
            <div class="Search_jobs_more_chlose" style="width: 300px;">
                              <span class="Search_jobs_more_chlose_s">
                                  {yun:}if $search.hy{/yun}
                                    {yun:}$industry_name[$search.hy]{/yun}
                                  {yun:}else{/yun}
                                    期望行业
                                  {yun:}/if{/yun}
                              </span>
                <input type="hidden" class="inputre" name="qwhy" id="qwhy" value="{yun:}$search.hy{/yun}">
                <i class=""></i>
                <div class="Search_jobs_more_chlose_hylist none">
                    <ul>
                        {yun:}if $config.fz_type!='2'&&$config.hyclass==''{/yun}
                        <div class="Search_jobs_form_list">
                            {yun:}foreach from=$industry_index item=v key=key{/yun}
                            <li><a onclick="post_search(1,'hy',this);" class="Search_jobs_sub_a" data-id="{yun:}$v{/yun}">{yun:}$industry_name[$v]{/yun}</a> </li>
                            {yun:}/foreach{/yun}
                        </div>
                        {yun:}/if{/yun}
                    </ul>
                </div>
            </div>
            <div class="shaixuan zuostyle" style="margin-left: 90px;">职能类别：</div>
            <div class="Search_jobs_more_chlose" style="width: 300px;">
                <input type="hidden" name="job_post" id="job_post" value="{yun:}$search.jobs_id{/yun}">
                <input class="Search_jobs_more_chlose_s" placeholder="请选职能类别" value="{yun:}$job_name[$search.jobs_id]{/yun}" readonly="readonly" style="border: none;outline: none;height: 30px;" name="qwznlb" id="qwznlb"    onclick="index_job(1,'#qwznlb','#job_post','left:100px;top:100px; position:absolute;','{yun:}$row.job_post{/yun}');"/>
                <i class=""></i>
            </div>
        </div>
        <div class="hangseach">
            <div class="shaixuan zuostyle">期望工作地：</div>
            <div class="Search_jobs_more_chlose" style="width: 300px;">


                <input type="button"  class="yun_resume_popup_chose_box_text" {yun:}if $search.hope_city{/yun}value="{yun:}$search.hope_cityname{/yun}"{yun:}else{/yun}value="请选择"{yun:}/if{/yun} style="float:left;" class="news_expect_bth_big" onclick="index_city(3,'#city','#city_class','left:100px;top:100px; position:absolute;');" id="city" >
                <input name='city_class' id='city_class' value="{yun:}$resume.hope_city{/yun}"  type='hidden' />

            </div>
            <div class="shaixuan zuostyle" style="margin-left: 90px;">现居住地：</div>
            <div class="Search_jobs_more_chlose" style="width: 300px;">
                <input type="button"  {yun:}if $resume.living{/yun}value="{yun:}$city_name[$resume.living]{/yun}"{yun:}else{/yun}value="请选择"{yun:}/if{/yun} style="float:left;" class="yun_resume_popup_chose_box_text" onclick="index_city(1,'#living','#living_class','left:100px;top:100px; position:absolute;');" id="living" >
                <input name='living' id='living_class' value="{yun:}$resume.living{/yun}"  type='hidden' />
            </div>
        </div>
        <div class="hangseach">
            <label class="cccsss posirel">
                <div class="shaixuan zuostyle">期望年薪：</div>
                <div class="Search_jobs_sub" style="float: left;width: 130px;">
                    <input type="text" class="Search_jobs_more_chlose inputkk"  id="salery_low" value="{yun:}$search.minsalary{/yun}" placeholder="万" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                </div>
                <label class="heng" style="margin-left: 20px;"></label>
                <div class="Search_jobs_sub" style="float: left;width: 130px;">
                    <input type="text" class="Search_jobs_more_chlose inputkk"  id="salery_up" value="{yun:}$search.maxsalary{/yun}" placeholder="万" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                </div>
                <div class="btnhover" style="width: 490px;right: -10px;left: inherit;top: -10px;">
                    <div class="btnsss" data-type="3" onclick="post_search(1,'salary');">确定</div>
                </div>
                <span class="tipser"></span>
            </label>
            <label class="cccsss posirel">
                <div class="shaixuan zuostyle">年龄：</div>
                <div class="Search_jobs_sub" style="float: left;width: 130px;">
                    <input type="text" class="Search_jobs_more_chlose inputkk" name="age_low" id="age_low" value="{yun:}$search.minage{/yun}" placeholder="岁" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                </div>
                <label class="heng" style="margin-left: 20px;"></label>
                <div class="Search_jobs_sub" style="float: left;width: 130px;">
                    <input type="text" class="Search_jobs_more_chlose inputkk" name="age_up" id="age_up" value="{yun:}$search.maxage{/yun}" placeholder="岁" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                </div>
                <div class="btnhover" style="width: 470px;right: -10px;left: inherit;top: -10px;">
                    <div class="btnsss" data-type="4" onclick="post_search(1,'age');">确定</div>
                </div>
                <span class="tipser"></span>
            </label>
        </div>
        <div class="hangseach">
            <div class="shaixuan zuostyle">学历：</div>
            <div class="Search_jobs_more_chlose" style="width: 130px;">
                              <span class="Search_jobs_more_chlose_s">
                                  {yun:}if $search.edu{/yun}
                                    {yun:}$userclass_name[$search.edu]{/yun}
                                  {yun:}else{/yun}
                                    学历
                                  {yun:}/if{/yun}
                              </span><i class=""></i>
                <input type="hidden" class="inputre" name="edu" id="edu" value="{yun:}$search.edu{/yun}">
                <div class="Search_jobs_more_chlose_list none">
                    <ul>
                        <li><a onclick="post_search(2,'edu',this);" class="Search_jobs_sub_a " style="width: 110px;">全部</a></li>
                        {yun:}foreach from=$userdata['user_edu'] item=list{/yun}
                        <li><a  onclick="post_search(1,'edu',this);" class="Search_jobs_cxz " style="width: 110px;" data-id="{yun:}$list{/yun}">{yun:}$userclass_name[$list]{/yun}</a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </div>
            <div class="shaixuan zuostyle">工作年限：</div>
            <div class="Search_jobs_more_chlose" style="width: 130px;">
                              <span class="Search_jobs_more_chlose_s">
                                  {yun:}if $search.exp{/yun}
                                    {yun:}$userclass_name[$search.exp]{/yun}
                                  {yun:}else{/yun}
                                    工作年限
                                  {yun:}/if{/yun}
                              </span>
                <i class=""></i>
                <input type="hidden" class="inputre" name="exp_year" id="exp_year" value="{yun:}$search.exp{/yun}">
                <div class="Search_jobs_more_chlose_list none">
                    <ul>
                        <li><a onclick="post_search(2,'exp',this);" class="Search_jobs_sub_a " style="width: 110px;">全部</a></li>
                        {yun:}foreach from=$userdata['user_work'] item=list{/yun}
                        <li><a  onclick="post_search(1,'exp',this);" class="Search_jobs_cxz " style="width: 110px;" data-id="{yun:}$list{/yun}">{yun:}$userclass_name[$list]{/yun}</a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </div>
            <div class="shaixuan zuostyle">性别：</div>
            <div class="Search_jobs_more_chlose" style="width: 130px;">
                              <span class="Search_jobs_more_chlose_s">
                                  {yun:}if $search.sex==1{/yun}
                                    男
                                   {yun:}elseif $search.sex==2{/yun}
                                  女
                                  {yun:}else{/yun}
                                    不限
                                  {yun:}/if{/yun}
                              </span>
                <i class=""></i>
                <input type="hidden" class="inputre" name="sex" id="sex" value="{yun:}$search.sex{/yun}">
                <div class="Search_jobs_more_chlose_list none">
                    <ul>
                        <li><a  onclick="post_search(2,'sex');" class="Search_jobs_sub_a " style="width: 110px;">不限</a></li>
                        <li><a  onclick="post_search(1,'sex',this);" data-id="1" class="Search_jobs_sub_a " style="width: 110px;">男</a></li>
                        <li><a  onclick="post_search(1,'sex',this);" data-id="2" class="Search_jobs_sub_a " style="width: 110px;">女</a></li>
                    </ul>
                </div>
            </div>
            <div class="shaixuan zuostyle">求职状态：</div>
            <div class="Search_jobs_more_chlose" style="width: 180px;">
                              <span class="Search_jobs_more_chlose_s">
                                  {yun:}if $search.status{/yun}
                                    {yun:}$userclass_name[$search.status]{/yun}
                                  {yun:}else{/yun}
                                    求职状态
                                  {yun:}/if{/yun}
                              </span>
                <i class=""></i>
                <input type="hidden" class="inputre" name="qzzt" id="qzzt" value="{yun:}$search.status{/yun}">
                <div class="Search_jobs_more_chlose_list none" style="width: 180px;">
                    <ul>
                        <li><a class="Search_jobs_sub_a " style="width: 180px;" onclick="post_search(2,'status',this);">全部</a></li>
                        {yun:}foreach from=$userdata['user_jobstatus'] item=list{/yun}
                        <li><a  onclick="post_search(1,'status',this);" class="Search_jobs_cxz " style="width: 180px;" data-id="{yun:}$list{/yun}">{yun:}$userclass_name[$list]{/yun}</a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </div>

        </div>
        <div class="hangseach">
            {yun:}if $js_def==8{/yun}
            <div class="baocundao">
                <img src="{yun:}$style{/yun}/images/daochu.png" style="vertical-align: middle;">
                保存为搜索条件
            </div>
            {yun:}/if{/yun}
            <div class="zhankai shouqibtn" style="width: 1040px;margin-left: -20px;">
                <label><img src="{yun:}$style{/yun}/images/shouqi.png"/></label>
                <span>收起搜索条件</span>
            </div>
        </div>

    </div>
</div>
<div  class="infoboxp22"  id="infobox2" style="display:none; ">
    <div>

            <div class="jb_infobox" style="width: 100%;margin-top: 40px;margin-left: 36px;">
                <label class="pjnr">搜索条件命名：</label>
                <input class="mingming" id="mingming" placeholder="请为搜索条件命名（18字以内）" maxlength="18"/>
            </div>
            <div class="jb_infobox" style="width: 100%;margin-top: 20px;">
                <button type="button"  value='1' class="submit_btn" id="mmbtn" style="margin-left: 170px;">确定</button>
                <button type="button"  value='1' class="submit_btn cancel_btn" style="margin-left: 15px;">取消</button>
            </div>

    </div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/city.cache.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/searchbox.js" type="text/javascript"></script>
<script>
    function post_search(status,name,e) {
        var data = [];
        data['keyword'] = $("#keyword").val();
        data['job_name'] = $("#jobname").val();
        data['com_name'] = $("#com_name").val();
        data['hy'] = $("#qwhy").val();
        data['jobs_id'] = $("#job_post").val();
        data['hope_city'] = $("#qwaddress").val();
        data['location'] = $("#qwcity").val();
        data['minsalary'] = $("#salery_low").val();
        data['maxsalary'] = $("#salery_up").val();
        data['minage'] = $("#age_low").val();
        data['maxage'] = $("#age_up").val();
        data['sex'] = $("#sex").val();
        data['edu'] = $("#edu").val();
        data['status'] = $("#edu").val();
        data['location'] = $("#qwcity").val();
        data['exp'] = $("#exp_year").val();
        var open = $(".search_more").css("display");
       if(open=="none"){
           data['open'] =0;
       }else{
           data['open'] =1;
       }

        data['status'] = $("#qzzt").val();
        if(status==2){
            data[name] = "";
            if(name=="age"){
                data['minage']="";
                data['maxage']="";
            }
            if(name=="salary"){
                data['minsalary']="";
                data['maxsalary']="";
            }
        }else{
            if(name=="keyword" && data['keyword']==""){
                layer.msg("请输入搜索内容",2,8);return;
            }

            if(name=="job_name" && data['job_name']==""){
                return;
            }

            if(name=="com_name" && data['com_name']==""){
                return;
            }

            if(name=="hy"){
                data['hy'] = $(e).attr("data-id");
            }

            if(name=="open"){
                data['open'] = 1;
                return;
            }
            if(name=="status"){
                data['status'] = $(e).attr("data-id");
            }

            if(name=="sex"){
                data['sex'] = $(e).attr("data-id");
            }

            if(name=="exp"){
                data['exp'] = $(e).attr("data-id");
            }

            if(name=="edu"){
                data['edu'] = $(e).attr("data-id");
            }

            if(name=="hope_city"){
                data['hope_city'] = $(e).attr("data-id");
            }

            if(name=="location"){
                data['location'] = $(e).attr("data-id");
            }

            if(name=="jobs_id"){
                data['jobs_id'] = $(e).attr("data-id");
            }
            
        }
        standardPost(location,data);
    }

    $(".searcher").click(function () {
        var data = [];
        data['searcher_id'] = $(this).attr("data-id");
        standardPost("/member/index.php?c=resume",data);
    })

    function standardPost (url,args)
    {
        var form = $("<form method='post'></form>");
        form.attr({"action":url});
        for (arg in args)
        {
            var input = $("<input type='hidden'>");
            input.attr({"name":arg});
            input.val(args[arg]);
            form.append(input);
        }
        $("html").append(form);
        form.submit();
    }

    $("body").on("click","#btnSubmitJobsort",function () {
        var data_id=$("#job_post").val();
        $(this).attr('data-id',data_id);
        post_search(1,'jobs_id',this);
    })
</script>