<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>慧猎高级人才服务系统-关于我们</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/news.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/linkus.css" type="text/css">
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/article/css/style.css" type="text/css">
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="bannerab"></div>
<div class="yun_content">
    <!--<div class="current_Location  com_current_Location png"><div class="fl">您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url c=aboutus{/yun}">关于我们</a></div></div>-->
<div class="linkus_content">
    <div class="lk_con" style="margin-top: 0px;">
        <div class="lk_title">
            <label class="bott">关于我们</label>
        </div>
        <p  class="linhei1"> <span class="fonsizc">慧猎高级人才服务系统</span>（www.huiliewang.com）是国内一家强调“极速+优质”为一体的智慧招聘网站。最快24小时内招聘到位；慧猎“快招模式”由慧猎高级人才服务系统猎头整合全国各大综合招聘网站资源、移动招聘资源、人脉及内部人才数据库、行业数据库资源，为HR提供快速服务的同时，避免简历浪费，降低招聘成本。慧猎“优质猎头模式”由资深猎头用6步32类95项标准为企业中高端职位提供招聘服务。慧猎模式让HR和候选人都能感受到人性化猎头服务，感受到对人才的尊重，候选人无需主动投递简历，HR也无需做太多筛选简历工作，而是由猎头线下调研及测评，然后人工匹配到线上。HR只用1分钟免费发布职位，就有上百个猎头协作交付。</p>
        <img src="{yun:}$style{/yun}/images/about1.png" class="about_pic">
        <p class="linhei1">
            <span class="fonsizc">南方新华</span>即重庆南方新华企业管理咨询有限公司，专注于高级人才猎头服务及企业人力资源管理咨询。
            南方新华是国际猎头服务标准的典范，24小时极速交付属国内首创，同时，为HR提供专业的人力资源培训服务及企业人力资源系统管理咨询服务。
            南方新华拥有一支高学历、工作经验丰富、规模领先的人力资源服务专家团队，中层管理人员由毕业于国内名牌大学经济、金融、工商管理、理工科研究生及以上学历的骨干成员组成。截止2017年4月，人力资源专家服务团队规模突破600人，已跃居国内前列。
            南方新华成为一流人力资源服务机构，离不开和君集团的支持。和君咨询：亚洲最大的咨询公司之一。持续经营十几年，累计服务数千家企业和政府客户，包括央企和民企，跨国公司、500强和中小企业，遍布国内和国外，客户满意率达到98%以上。目前，平均每个工作日签约2-3单，全年执行管理咨询和投资银行类项目超过500个， 在数十个行业里积累有丰富的案例和经验。和君资本：以VC、PE和PIPE的方式，为企业提供资金和资本运作的系统解决方案，为高净值人士或机构提供财富管理服务。累计管理基金百亿元，管理上海市政府、福建省政府、重庆市政府等多个政府引导基金和产业基金。累计投资了100多家创新企业、拟上市企业和上市公司。
            目前，已有1万多家企业选用南方新华人力资源服务。南方新华将继续依托和君新华顶尖管理咨询专家团队，及人民大学校友会基金资源，巩固和扩大人才服务优势，成为中国企业高级人才猎头服务及人力资源专业服务的首选品牌。
        </p>
        <div class="cstitl">
            创始人简介：
        </div>
        <p class="linhei1">创始人张勇，毕业于中国人民大学商学院，后留学法国，获马赛高等商学院国际管理硕士学位。曾担任某顶尖管理咨询公司咨询师，人力资源咨询中心总监，某500强上市公司董事长高级秘书、人力资源总监等职务。</p>

        <img src="{yun:}$style{/yun}/images/about2.png" class="about_pic">

    </div>

</div>

 

</div>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/article/imageslide.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/article/prototype.js" language="javascript"></script>
<script>
new ImageSlide({
	project:"#focusImage",
	content:".contents li",
	tigger:".triggers a",
	dot:".icon-dot a",
	watch:".link-watch",
	auto:!0,
	hide:!0
})
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}