<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>慧猎高级人才服务系统-联系我们</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/news.css" type="text/css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/linkus.css" type="text/css">
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/article/css/style.css" type="text/css">
</head>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
    <!--<div class="current_Location  com_current_Location png"><div class="fl">您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url c=linkus{/yun}">联系我们</a></div></div>-->
<div class="linkus_content">
    <div class="lk_con">
        <div class="lk_title">
            <label class="bott">联系我们</label>
        </div>
        <p>您好！欢迎联系慧猎高级人才服务系统，24小时极速招聘，我们将热心为您服务，期待您的出现！</p>
        <p class="linhei">
            总部地址：中国  . 重庆市 . 沙坪坝区 . 康田国际企业港22层<br>
            服务热线：023-88597927<br>
            服务手机：13718767011<br>
            服务QQ：36457224<br>
            服务邮箱：jxxhhr@163.com<br>
            统一网络营销电话：137-1876-7011<br>
            微信公众号搜索“慧猎高级人才服务系统”或者扫描下方二维码：<br>
        </p>
        <img src="{yun:}$style{/yun}/images/erweima.png" class="erweima_pic">
        </div>

</div>

 

</div>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/article/imageslide.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/article/prototype.js" language="javascript"></script>
<script>
new ImageSlide({
	project:"#focusImage",
	content:".contents li",
	tigger:".triggers a",
	dot:".icon-dot a",
	watch:".link-watch",
	auto:!0,
	hide:!0
})
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}