.title{
    display: flex;
    align-items: center;
}
.infoFi{
    width: 400px;
    margin: 58px auto 63px;
}
.sp1{
    width: 100px;
    text-align: right;
    display: inline-block;
    color: #333;
    font-size: 13px;
}
.upBox,.imgBox{
    display: flex;
    align-items: center;
    width: 400px;
    margin-bottom: 40px;
}
.uploadBox{
    font-size: 70px;
    line-height: 70px;
    color: #3CC1D3;
    text-align: center;
    font-weight: 100;
    border: 1px solid #eee;
    width: 78px;
    height: 80px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 4px;
}
.uploadBox span{
    line-height: 0px;
    font-size: 14px;
    font-weight: 500;
}
.uploadBox:hover{
    border: 1px solid #3CC1D3;
}
.sp2{
    margin-top: 43px;
}
.sec>div{
    margin-bottom: 20px;
}
.sec .notice{
    color:rgba(102,102,102,1);
    font-size: 12px;
    white-space: nowrap;
}
.sec2{
    padding-top: 65px;
}
.sec2>span{
    white-space: nowrap;
    font-size: 12px;
    padding-left: 20px;
}
.sp3{
    color: #3CC1D3;
}
.sp4{
    width: 100px;
    text-align: right;
    display: inline-block;
    color: #999;
    font-size: 13px;
    padding-right: 20px;
}
.sec2>div{
    margin-top: 20px;
}
.sec2 img{
    width: 127px;
}
.selectBox,.selectBox2{
    position: relative;
    z-index: 100;
    display: inline-block;
}
.selectBox input,.selectBox2 input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #fff url(/admin-huilie/images/com_select.jpg) no-repeat 160px center;
    margin: 0;
    float: none;
}
.selectBox2 input{
    background: #fff url(/admin-huilie/images/com_select.jpg) no-repeat 240px center;

}
.selectBox>div{
    width: 182px;
}
.selectBox2>div{
    width: 265px;
}
input{
    padding-left: 15px;
}
#certify_from div{
    margin-bottom: 28px;
}