.inner_header{
    height: 110px;
}

.content_list .c_table .c_td{
    width: 16.666666667%;
   max-width: 16.666666667%;
}

.content_detail .c_detail_cont{
    width: 1059px;
    margin:20px auto 0;
    box-shadow:1px 2px 6px 0px rgba(4,0,0,0.11);
    padding:20px 30px;
}
.content_detail .c_detail_cont.mb_80{
    margin-bottom: 80px;
}
.content_detail .c_detail_cont .dl{
    min-height: 77px;
    line-height: 77px;
}
.content_detail .c_detail_cont .dl .dt,.content_detail .c_detail_cont .dl .dd{
    float: left;
    min-width: 90px;

}
.content_detail .c_detail_cont .dl .dd{
    min-width: 200px;
    max-width:80%;
}

.content_detail .c_detail_cont .dl .dd.c_money{
    font-size: 18px;
    color:#f60;
    font-weight:bold;
}

.content_detail .c_detail_cont .dl .dd label{
    display: inline-block;
    margin:0 10px 10px 0;
    border:1px solid #ffffff;
    position: relative;
}

.content_detail .c_detail_cont .dl .dd label i{
    display: none;
    width: 32px;
    height: 32px;
    background:url("../../imgs/c_r_tick.png") right bottom no-repeat;
    position: absolute;
    right:0;
    bottom:0;
}

.content_detail .c_detail_cont .dl .dd label:hover,.content_detail .c_detail_cont .dl .dd label.current{
    border:1px solid #3CC1D3;
}
.content_detail .c_detail_cont .dl .dd label:hover i,.content_detail .c_detail_cont .dl .dd label.current i{
    display: inline-block;
}

.content_detail .c_detail_cont .tips_more{
    margin-top:50px;
    color:#999999;
}
.content_detail .c_detail_cont .tips_more .tips_cont{
    text-indent: 24px;
    line-height: 28px;
}
#c_shade .c_true_module .c_module img{
    margin:0;
}

/**我的套餐页面*/

.content_list .c_tc_show{
    margin:20px auto 80px;
}

.content_list .c_tc_show .c_show_one{
    width: 515px;
    padding-bottom: 100px;
    margin-right:29px;
    box-shadow:2px 3px 9px 0px rgba(4,0,0,0.11);
}
.content_list .c_tc_show .c_show_one.c_show_two{
    padding-bottom: 52px;
}
.content_list .c_tc_show .c_show_one .c_show_one_upper{
    min-height: 188px;
    background:linear-gradient(180deg,rgba(240,253,255,0.9),rgba(255,255,255,0));
    padding:37px 17px 0;
}
.content_list .c_tc_show .c_show_one .c_show_one_floor{
    margin-top:50px;
    padding-left:50px;
    line-height:48px;
}
.content_list .c_tc_show .c_show_one .c_show_one_floor p{
    position: relative;
}
.content_list .c_tc_show .c_show_one .c_show_one_floor p span{
    position:absolute;
    top:40%;
    left:10%;
    color:#999999;
    font-size: 12px;
}

.content_list .c_tc_show .c_show_one .c_show_one_middle .li{
    float:left;
    text-align: center;
    line-height:36px;
}
.content_list .c_tc_show .c_show_one .c_show_one_middle .li span{
    color:#3CC1D3;
}

.content_list .c_tc_show .c_show_one .c_show_one_upper .c_one_tit span{
    display: inline-block;
    padding-top: 13px;
    float: left;
    width: 0;
    height: 18px;
    margin-right:10px;
    border:1.5px solid #3CC1D3;
}

.content_list .c_tc_show .c_show_one .c_show_one_upper .dl .dt{
    width: 50%;
    text-align: right;
}
.content_list .c_tc_show .c_show_one .c_show_one_upper .dl .dd .c_btn{
    margin:30px auto 0;
}

.content_list .c_tc_show .c_show_one .c_show_one_upper .dl .dt p{
    width: 100%;
}
.content_list .c_tc_show .c_show_one .c_show_one_upper .dl .dt .num{
    padding-right:55px;
    float:left;
    color:#3CC1D3;
    font-size: 22px;
}

.content_list .c_tc_show .c_show_two{
    margin-right:0;
}

.c_show_one_middle{
    padding-top:39px;
}


 #buy_resume.c_module_6 .c_cont .dl{
     height: 68px;
     line-height: 68px;
     text-align: center;
     font-size: 12px;
 }

#buy_resume.c_module_6 .c_cont .dl:hover{
    box-shadow:1px 2px 9px 0px rgba(4,0,0,0.31);
}

 #buy_resume.c_module_6 .c_cont .dl .dd img{
     margin-top:3px;
 }


 .c_module_6 .c_cont .dl .dd .c_send_code{
     color:#3CC1D3;
     font-size: 12px;
     position: absolute;
     right:10px;
     top:6px;
     z-index:200;
     cursor: pointer;
 }

#c_shade .c_true_module .c_module.c_module_4.c_module_6 .c_cont{
    padding-bottom:20px;
}
.no_hover_text .blocks{
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-left: 0;
}
.block{
    flex: 1;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}
.block:nth-child(3){
    margin-right: 0;
}
.block .sp1{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    display: block;
    text-align: center;
}
.block .sp1 span{
    color: #3CC1D3;
    font-size: 14px;
}
.block .sp2{
    display: block;
    text-align: center;
    color: #666666;
}
.block .sp2 span{
    font-size: 28px;
    color: #FC746E;
    margin: 0 23px;
}
.block>div{
    display: flex;
    padding: 0 24px 22px 30px;
    justify-content: space-between;
}
.block>div span{
    color: #999;
    font-size: 12px;
}
.box1{
    width: 416px;
    height: 100px;
    padding: 22px 18px 16px;
    display: flex;
    position: relative;
    margin: 15px auto;
    border: #53D4E5 1px solid;
    overflow: hidden;
}
.box1 .left{
    border-right: #53D4E5 solid 1px;
    padding-right: 4px;
    margin-right: 20px;
}
.box1 .left span{
    display: block;
    text-align: center;
}
.box1 .left span:nth-child(1){
    line-height: 35px;
    color: #3CC1D3;
}
.box1 .left span:nth-child(2){
    font-size: 12px;
    color: #999;
    width: 96px;
}
.box1 .right{
    padding-right: 18px;
    width: 258px;
}
.box1 .right>span{
    display: block;
}
.box1 .right>span:nth-child(1){
    color: #999;
    font-size: 12px;
}
.box1 .right>span:nth-child(2){
    color: #FC746E;
    font-size: 24px;
    text-align: right;
    padding-right: 22px;
}
.box1 .right>span:nth-child(2) span{
    font-size: 14px;
}
.box1 .right>span:nth-child(3){
    color: #999;
    font-size: 12px;
    text-align: right;
}
.box1 .corner{
    color: #fff;
    font-size: 12px;
    position: absolute;
    transform: rotateZ(45deg);
    top: -20px;
    left: 359px;
    width: 90px;
    padding: 40px 20px 5px;

}
.box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:1px 2px 6px 0px rgba(4,0,0,0.11);
    width: 472px;
    height: 68px;
    margin-top: 20px;
}
.box2:hover{
    box-shadow:1px 2px 9px 0px rgba(4,0,0,0.31);
}
.box2>span:nth-child(1){
    color: #3CC1D3;
    font-weight: 600;
}
.box2>span:nth-child(2){
    color: #999;
}
.box2>div:nth-child(3){
    text-align: center;
}
.box2>div>span:nth-child(1){
    color: #FC746E;
}
.box2>div>span:nth-child(2){
    color: #999;
}
.agreeBox{
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 25px 0 0;
}
.agreeBox input{
    cursor: pointer;
    margin-right: 5px;
}
.agreeBox label{
    cursor: pointer;
    margin: 0;
}
.agreeBox a{
    color: #3CC1D3;
    cursor: pointer;
}
.agreementMask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    display: none;
}
.agreementBox{
    width: 756px;
    margin: 74px auto 0;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 30px;
}
.box3{
    padding: 0px 60px 25px;
    color: #333;
    text-align: left;
}
.box3>span{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box3>div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.box3 .end_right{
    margin-right: 50px;
}
.box3 .end_right input{
    margin-right: 10px;
}
.univalent{
    margin: 29px 30px 15px;
}
.univalent span{
    color: #FC746E;
}
.box3 .times{
    display: flex;
    align-items: center;
}
.box3 .times>div{
    width: 90px;
    height: 27px;
    justify-content: space-around;
    align-items: center;
    color: #000;
    border: 1px solid #eee;
    display: inline-flex;
}
.add,.sub{
    cursor: pointer;
    font-size: 24px;
}
.total{
    margin-left: 30px;
}
.total span{
    color: #FC746E;
}
.sp4{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 37px;
    text-align: left;
    display: block;
}
.amTitle{
    padding-left: 38px;
    padding-top: 57px;
    padding-bottom: 46px;
    display: flex;
    align-items: center;
}
.amClose{
    float: right;
    margin: 14px;
    cursor: pointer;
    display: block;
}
.am{
    margin: 0 50px 42px;
    height: 614px;
    overflow-y: scroll;
    line-height: 26px;
    font-size: 14px;
    color: #333;
}
.am b{
    font-size: 16px;
    line-height: 48px;
}
.agreementBox .btn{
    width: 129px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.sp5{
    display: block;
    margin-top: 15px;
    color: #666;
    font-size: 12px;
    text-align: left;
}