@charset "gb2312";
/* CSS Document */
img{ vertical-align:middle}
* {
	margin: 0 auto;
	padding: 0;
}
.resume_gjbody {
	font-family:微软雅黑;
	font-size:14px;
	background:#f4f4f4 url(../images/bg.png) no-repeat top center
}
a {
	color: #666666;
	text-decoration: none;
}
img {
	border: medium none;
}
body, ul, ol, li, dl, dt, dd, div, span, b, form, img, p, pre {
	border: 0 none;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.resumegj_container {
	margin: 0 auto;
	text-align: left;
	width: 850px;
}
.head {
	text-align: right;
	float:left;
	background:#fff;
	width:100%;
	position:relative
}
.resume_gj {
	width:141px;
	height:30px;
	position:absolute;
	right:0px;
	bottom:0px;
}
.none{ display:none}
.logo_1 {
	float: left;
	padding:20px 20px;
}
.header_right {
	float:right;
	margin-top:5px;
	margin-right:10px;
}
.menu1Content {
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
}
.menu1_top div {
	color: #666666;
	font-size: 16px;
	height: 66px;
	line-height:66px;
	margin: 0 auto;
	text-align: center;
	width: 100%
}
.menu1_top p {
	background: none repeat scroll 0 0 #2C7ED2;
	color: #FFFFFF;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: center;
	font-size:16px;
	width:100%;
}
.note {
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding-bottom:10px;
	
}
.note span {
	margin: 0 20px;
}
.btn{width:100%; text-align:center; padding:20px 0;}
.btn_1 {
	background:#0d8bd7;
	border: medium none;
	color: #fff;
	cursor: pointer;
	height: 33px;
	width:130px;
	font-weight:bold
}
.btn a {
	margin: 0 5px;
}
.btn_1:hover{color:#fff}
/*下载简历提示*/
.Download_resume_tips{width:500px; background:#fff; padding:20px; font-size:14px;}
.Download_resume_tips_h1{border-bottom:1px solid #ddd; padding-bottom:20px; font-size:16px; font-weight:bold}
.Download_resume_tips_h1 .Download_resume_tips_h1_s{ font-size:18px;color:#f60; font-style:normal; font-weight:bold}
.Download_resume_con_list{width:100%;}
.Download_resume_tips_p{ line-height:30px; text-align:left; padding:10px 0;}
.Download_resume_tips_p .Download_resume_tips_p_span{ display:inline-block; word-spacing:normal}
.Download_resume_cont{width:500px;height:380px; overflow:auto}
.Download_resume_tips_c{color:#093; font-style:normal; font-weight:bold}
.Download_resume_tips_f{color:#f60; font-style:normal; font-weight:bold}
.Download_resume_tips_cf{color:#999; font-style:normal; }
.Download_resume_tips_rad{width:13px;height:13px; overflow:hidden; vertical-align:middle; margin-right:5px; margin-left:5px;}
.Download_resume_tips_cur{background:#f8f8f8;}
.Download_resume_tips_yhq{width:100%; padding:5px 0}
.Download_resume_tips_yhq a{color:#f60;}
.Download_resume_tips_jine{width:100%; padding:10px 0; font-size:14px; font-weight:bold; text-align:center}
.Download_resume_tips_jine .Download_resume_tips_f{ font-size:20px;}
.Download_resume_tips_bth{width:100%;padding:10px 0; text-align:center}
.Download_resume_tips_sub{width:110px;height:40px; background:#f60;color:#fff;border:none; font-size:14px; font-weight:bold; cursor:pointer;font-family:microsoft yahei,宋体;}
.Download_resume_cont_list{width:100%; float:left}

.resume_jl_box_t2 img{float:left;}
.resume_beizu_text{border:1px solid #ddd;width:340px;height:90px;}
.resume_beizu_bth{width:80px;height:30px; background:#1369c0;border:none;color:#fff; cursor:pointer}
.btn_1{width:85px;height:30px; line-height:30px;border:none; background:#456dab;color:#fff; cursor:pointer; font-family:微软雅黑; margin-right:10px; display:inline-block}


.resume_job_tag{ background:#faf3eb; margin-right:5px; display:inline-block; padding:0px 18px 0px 5px; line-height:23px;border:1px solid #fbd7c3; position:relative; white-space:nowrap; font-size:12px;color:#f60}
.resume_job_tag_icon{width:6px;height:6px;border:1px solid #fbd7c3;  border-radius:50%; background:#fff; display:inline-block; position:absolute;right:5px;top:8px; overflow:hidden}
.resume_user_bq{background:#FFC url(../images/yxz.png) no-repeat right bottom;padding:0px 11px;cursor:default;height:28px;line-height:28px;border:1px solid #FC9;  display:inline-block; margin-left:10px;} 
.yun_resume_jobtime6{ line-height:30px;color:#f00; display:inline-block; margin-left:30px; background:url(../images/resumetime.png) no-repeat left center; padding-left:22px;}

.gj_resume_bj{width:100%;height:40px; line-height:40px; font-size:20px;color:#FF0; font-weight:bold; background:#e80606; text-align:center; position:relative;}
.gj_resume_bj_left{width:9px;height:47px; background:url(../images/gj_left.gif) no-repeat; display:inline-block; position:absolute;left:-9px;top:0px;}
.gj_resume_bj_right{width:9px;height:47px; background:url(../images/gj_right.gif) no-repeat; display:inline-block; position:absolute;right:-9px;top:0px;}

/*购买
*/
.Value_added{width:848px; float:left; background:#f8f8f8;border:1px solid #eae7e7}
.Value_added_mune{width:180px; float:left}
.Value_added_mune_left{width:180px; float:left}
.Value_added_mune_left li{width:157px; padding-left:20px;height:50px; line-height:50px; font-size:12px; font-weight:bold;border-bottom:1px solid #eae7e7;border-left:3px solid #f8f8f8; position:relative}
.Value_added_mune_left .Value_added_mune_cur{ background:#fff;border-left:3px solid #f60}
.Value_added_bg{ display:none;}
.Value_added_mune_left .Value_added_mune_cur .Value_added_bg{ width:3px;height:50px; background:#fff; display:block; position:absolute;right:-1px;top:0px;}
.Value_added_box{width:647px;height:500px; float:left; background:#fff;border-left:1px solid #eae7e7; padding:10px;}
.Value_added_box_av{width:100%;height:500px; overflow:auto}
.added_de_box_table{width:100%; background:#ddd; font-size:14px}
.added_de_box_table th{ background:#f8f8f8; padding:10px 5px;font-weight:normal; font-size:14px}
.added_de_box_table td{ background:#fff; padding:14px 10px; font-size:14px;border-bottom:1px solid #dcdcdc}
.added_de_box_table .added_de_box_table_cur td{ background:#f7f7f7}
.added_de_box_table_jg{color:#f60; font-size:16px; }
.added_de_box_table_jgyh{color:#999}
.added_de_box_fk{  padding:20px 0px 10px 10px;}
.added_de_box_fk_je{color:#f60; font-size:24px; }
.added_de_box_bth{width:190px;height:45px; line-height:45px; text-align:center; background:#F60;color:#fff;border:none; cursor:pointer; font-size:16px; display:inline-block}
.added_de_box_bth:hover{ background:#f30;color:#fff; text-decoration:none}
.added_cont_b{ width:380px;padding-left:20px; position:relative; line-height:28px;}
.added_cont_radio{width:13px;height:13px; overflow:hidden; position:absolute;left:0px ;top:8px}
.added_cont_s{ display:inline-block; }
.com_dt_rage{color:#f60;font-weight:bold;font-style:normal;}
.job_redpack_jy_list{width:105px; float:left; padding-left:25px; padding-top:10px; position:relative}
.job_redpack_cz{width:100%; float:left; margin-top:10px;border-top:1px dashed #ddd}
.job_redpack_pay{ float:left;width:150px;height:35px; line-height:35px;}
.job_redpack_pay img{ float:left; margin-right:10px;}
.job_redpack_pay_n{width:100%; float:left}
.job_redpack_list_name{width:80px; float:left; text-align:left; padding-left:10px; line-height:35px;}
.added_de_box_tip{ background:#fceded;color:#f00; text-align:center;padding:20px 0;}
.wx_payment{width:250px; padding:10px 20px 0px 20px;}
  .wx_payment_h1{width:100%; text-align:center; font-size:16px; padding:20px 0;}
  .wx_payment_cont{width:248px;height:230px;border:1px solid #dedede;}
  .wx_payment_h2{width:248px; padding:10px 0; border:1px solid #dedede;border-top:none; background:#f7f7f7; text-align:center}
  .wx_payment_ewm{width:100%;  text-align:center;}
  .wx_payment_ewm img{ width:210px;height:210px; margin-top:10px;}
  .wx_payment_tip{width:164px; margin-top:10px; padding-bottom:20px; float:left; margin-left:20px;}
  .wx_payment_tip_left{width:28px;height:28px; float:left;border:2px solid #32bcaf; position:relative}
  .wx_payment_tip_line1{ display:inline-block;width:12px;height:34px; position:absolute;left:10px;top:-2px; background:#fff; z-index:10}
  .wx_payment_tip_line2{ display:inline-block;width:34px;height:12px; position:absolute;left:-2px;top:10px; background:#fff; z-index:11}
  .wx_payment_tip_line3{ display:inline-block;width:32px;height:2px; position:absolute;left:-2px;top:14px; background:#32bcaf; z-index:11}
  .wx_payment_tip_right{ padding-left:20px; float:left;color:#666}
  .payment_tip{width:; padding:35px 15px 15px 15px; font-size:14px; line-height:30px;color:#333;}
.payment_bottom{background-color: #fcfcfc;padding: 20px 0 20px 0;text-align: center;border-top: #e6e6e6 1px solid; margin-top:50px;}
  .payment_tip_s{color:#f60; font-size:18px;}
.payment_bottombutt{ display:inline-block;width:122px;height:34px; line-height:34px; text-align:center; font-size:14px; background:#f60;color:#fff;border-radius:3px; margin-right:10px;}
.payment_bottombutt:hover{ background:#C30;color:#fff; text-decoration:none}
.payment_bottom_bth2{display:inline-block;width:122px;height:34px; line-height:34px; text-align:center; font-size:14px; background:#ddd;color:#333;border-radius:3px;}
.payment_bottom_bth2:hover{ background:#ccc;color:#333; text-decoration:none}
