    <link rel="stylesheet" href="/app/public/css/global.css">

</head>
<body class="no_hover_text">
<header id="c_header">
    <div class="header_nav clearall">
        <img class="fll" src="/app/public/imgs/logo.png" alt="" class="logo" width="240">
        <div class="nav_ul fll clearall">
            <a href="/" class="li current">首页<i></i></a>
            <a href="/" class="li">简历管理<i></i></a>
            <a href="/" class="li">职位管理<i></i></a>
            <a href="/" class="li">套餐中心<i></i></a>
            <a href="/" class="li">发布职位<i></i></a>
        </div>
        <div class="attention flr">
            <div class="att fll"><img src="/app/public/imgs/notice.png" alt=""> 通知</div>
            <div class="center fll">个人中心<img src="/app/public/imgs/more.png" alt="">
                <div class="more_list clearall">
                    <a href="#">企业资料</a>
                    <a href="#">更换手机</a>
                    <a href="#">修改密码</a>
                    <a href="#">退出</a>
                </div>
            </div>
        </div>
    </div>
</header>