<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/span; charset=gb2312"/>
    <meta http-equiv=X-UA-Compatible content="IE=edge"/>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js"></script>
    <script src="/app/public/js/base.js?ver={yun:}time(){/yun}"></script>
    <link href="{yun:}$style{/yun}/style/css.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/app/public/css/base.css?ver={yun:}time(){/yun}">
    <script src="/app/public/js/paging.js"></script>
    <link rel="stylesheet" href="/app/public/css/paging.css">
    <link rel="stylesheet" href="/app/public/css/base.css">
    <link rel="stylesheet" href="/app/public/css/header.css">
    <script src="/app/public/js/base.js"></script>