<div class="clear"></div>
<style>
      .hp_foot {
            width: 100%;
            text-align: center;
            background: #fafafa;
            margin-top: 20px;
            border-top: 1px solid #e6e6e6;
      }
      .hp_foot_wt {
            padding: 30px 0px;
      }
      .hp_foot_wh {
            border-right: 1px solid #eeeded;
            padding-right: 60px;
      }
      .hp_foot_wx {
            margin-top: 30px;
            width: 119px;
            text-align: center;
      }
      .fr {
            float: right;
      }
      .linkitem{
            margin-right: 10px;
      }
      .shuxian{
            color: #ddd;
            margin-left: 10px;
            margin-right: 10px;
      }
      .hp_foot_bt P {
            color: #816e74;
      }
      .hp_foot_bt {
            padding-bottom: 15px;
            line-height: 30px;
      }
</style>
<div class="hp_foot fl" style="width: 100%;">
      <div class="w1000" style="width: 1200px;margin: 0 auto;">
            <div class="hp_foot_wt fl" style="padding:30px 0;">
                  <!--<div class="hp_foot_pho fl">-->
                  <!--<dl>-->
                  <!--<dt></dt>-->
                  <!--<dd>客服服务热线</dd>-->
                  <!--<dd class="hp_foot_pho_nmb">{yun:}$config.sy_freewebtel{/yun}</dd>-->
                  <!--<dd>工作日 9:00-19:00</dd>-->
                  <!--</dl>-->
                  <!--</div>-->
                  <div class="hp_foot_wh fl" style="border-left: none;width: 880px;padding-left: 0;text-align: left">

                        <div>友情链接：
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <a href="http://www.nfxhlt.com" target="_blank" class="linkitem">南方新华</a>
                              <label style="float: right;">
                                    <a href="/index.php?c=aboutus">关于我们</a>
                                    <span class="shuxian">|</span>
                                    <a href="/index.php?c=linkus">联系我们</a>
                                    <span class="shuxian">|</span>
                                    <a href="/article/">慧猎资讯</a>
                              </label>
                        </div>
                        <div style="margin-top: 30px;">
                              <label>服务热线：{yun:}$config.sy_freewebtel{/yun}</label>
                              <i class="hp_foot_bt_cr" style="margin-left: 50px;">{yun:}$config.sy_webrecord{/yun}</i></div>

                        <!--<dl>-->
                        <!--<dt>关于我们</dt>-->
                        <!--<dd>-->
                        <!--<ul>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/index.php?c=aboutus">关于我们</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/index.php?c=linkus">联系我们</a></li>-->
                        <!--</ul>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                        <!--<dt>热门链接</dt>-->
                        <!--<dd>-->
                        <!--<ul>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/job/">高薪职位</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/resume/">高端人才</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/company/">名企招聘</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/article/">慧猎资讯</a></li>-->
                        <!--</ul>-->
                        <!--</dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                        <!--<dt>咨询反馈</dt>-->
                        <!--<dd>-->
                        <!--<ul>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/index.php?m=announcement">网站公告</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/index.php?m=advice">意见反馈</a></li>-->
                        <!--<li><a href="{yun:}$config.sy_weburl{/yun}/index.php?m=link">友情链接</a></li>-->
                        <!--</ul>-->
                        <!--</dd>-->
                        <!--</dl>-->

                        <div class="hp_foot_bt" style="background: none;padding-top: 0;">
                              <p>{yun:}$config.sy_webcopyright{/yun}</p>
                              <!--<p>地址:{yun:}$config.sy_webadd{/yun} 电话(Tel):{yun:}$config.sy_freewebtel{/yun} EMAIL:{yun:}$config.sy_webemail{/yun}{yun:}$config.sy_webtongji{/yun}</p>-->
                              <!--<p>Powered By <a target="_blank" href="http://www.phpyun.com">PHPYun.</a></p>-->

                        </div>

                  </div>
            </div>

            <div class="hp_foot_wx fr">
                  <dl>
                        <dt style="width: 99px;height: 99px;"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_wx_qcode{/yun}"  width="90" height="90"></dt>
                        <dd style="width: 99px;">官方微信</dd>
                  </dl>
            </div>
      </div>
      <div class="clear"></div>
      <div class="hp_foot_bt" style="display: none;">
            <p>{yun:}$config.sy_webcopyright{/yun} <i class="hp_foot_bt_cr">{yun:}$config.sy_webrecord{/yun}</i></p>
            <p>地址:{yun:}$config.sy_webadd{/yun} 电话(Tel):{yun:}$config.sy_freewebtel{/yun} EMAIL:{yun:}$config.sy_webemail{/yun}{yun:}$config.sy_webtongji{/yun}</p>
            <!--<p>Powered By <a target="_blank" href="http://www.phpyun.com">PHPYun.</a></p>-->

      </div>
</div>
<div class="go-top dn" id="go-top">
      <a href="javascript:;" class="uc-2vm"></a>
      <div class="uc-2vm-pop dn">
            <h2 class="title-2wm">用微信扫一扫</h2>
            <div class="logo-2wm-box">
                  <img  src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_wx_qcode{/yun}"   width="120" height="120">
            </div>
      </div>
      <a href="{yun:}url m=advice{/yun}" target="_blank" class="feedback"></a>
      <a href="javascript:;" class="go"></a>
</div>
<div class="clear"></div>
<div id="bg" {yun:}if $company.hy=="" && ($smarty.get.c=="index" || $smarty.get.c=="") {/yun}style="display:block"{yun:}/if{/yun}></div> 
<div id="uclogin" style="display:none"></div>
<div class="clear"></div>
<script>
    $(function(){

        $(window).on('scroll',function(){
            var st = $(document).scrollTop();
            if( st>0 ){
                if( $('#main-container').length != 0  ){
                    var w = $(window).width(),mw = $('#main-container').width();
                    if( (w-mw)/2 > 70 )
                        $('#go-top').css({'left':(w-mw)/2+mw+20});
                    else{
                        $('#go-top').css({'left':'auto'});
                    }
                }
                $('#go-top').fadeIn(function(){
                    $(this).removeClass('dn');
                });
            }else{
                $('#go-top').fadeOut(function(){
                    $(this).addClass('dn');
                });
            }
        });
        $('#go-top .go').on('click',function(){
            $('html,body').animate({'scrollTop':0},500);
        });

        $('#go-top .uc-2vm').hover(function(){
            $('#go-top .uc-2vm-pop').removeClass('dn');
        },function(){
            $('#go-top .uc-2vm-pop').addClass('dn');
        });
    });
</script>
</body>
</html>