{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/index/index.css">
<div class="ba"></div>
<div class="indexBox">
	<div class="infoBox">
		<div class="left">
			<img src="/app/public/imgs/9_03.png" class="comLogo" alt="">
			<div class="comName">
				<span class="gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧猎认证</span><br>
			</div>
			<div class="div1">
				<span class="hy"><img src="/app/public/imgs/9_18.png" alt=""></span>
				<span class="addr"><img src="/app/public/imgs/9_23.png" alt=""></span>
			</div>
			<div class="account">
				<div style="padding-left: 0;">
					<span class="resume_payd">0</span>
					<span>慧沟通初级</span>
				</div>
				<div>
					<span class="resume_high">0</span>
					<span>慧沟通高级</span>
				</div>
				<div>
					<span class="interview_payd">0</span>
					<span>慧面试余额</span>
				</div>
				<div onclick='gt(event)' link='/member/index.php?c=paylog&c_tpu=2'>
					<img src="/app/public/imgs/ind_17.png" alt="">
					<span>套餐使用记录</span>
				</div>
				<div style="border-right: none" onclick='gt(event)' link='/member/index.php?c=paylog'>
					<img src="/app/public/imgs/ind_19.png" alt="">
					<span>购买套餐</span>
				</div>
			</div>
		</div>
		<div class="right">
			<span class="tel"><img src="/app/public/imgs/ind_45.png" alt="">
				客服电话：023-6366-8816
			</span>
			<span class="wt">（工作日：9:00——18:00）</span>
			<span>您的专属BD：<span class="bdname"></span></span>
			<span>BD联系方式：<span class="telephone"></span></span>
		</div>
	</div>
	<div class="sec1">
		<div style='display:none'>
			<span>快捷入口</span>
		</div>
		<div class="blocks">
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_25.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					简历
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=resume'>
					<span>新简历</span>
					<span class="new_resumes">0</span>
					<span>></span>
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=resume&c_type=8'>
					<span>邀约面试的简历</span>
					<span class="interview_resumes">0</span>
					<span>></span>
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=resume&c_type=4'>
					<span>已购买的简历</span>
					<span class="buy_resumes">0</span>
					<span>></span>
				</div>
			</div>
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_26.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					面试
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=resume&c_type=8'>
					<span>待面试</span>
					<span class="wait_interview_count">0</span>
					<span>></span>
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=resume&c_type=8'>
					<span>待确认到场</span>
					<span class="wait_present_count">0</span>
					<span>></span>
				</div>
			</div>
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_27.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					职位
				</div>
				<div class="box1" onclick='gt(event)' link='/member/index.php?c=job'>
					<span>招聘中的职位</span>
					<span class="job_count">0</span>
					<span>></span>
				</div>
				<div class="toPublish" onclick='gt(event)' link='/member/index.php?c=jobadd'>去发布职位&nbsp;&nbsp;<img
						src="/app/public/imgs/back.png" alt=""></div>
			</div>
		</div>
	</div>
	<span class="sp1">产品优势</span>
	<div class="ads">
		<div>
			<span>质量高</span>
			<div class="divide"></div>
			<span>5千万高端人才数据库</span>
			<span>推荐前必调研及沟通</span>
		</div>
		<div>
			<span>速度快</span>
			<div class="divide"></div>
			<span>推荐流程服务快</span>
			<span>最快24小时闪电交付</span>
		</div>
		<div>
			<span>服务好</span>
			<div class="divide"></div>
			<span>自建10年猎头团队</span>
			<span>一对一专业服务保障</span>
		</div>
	</div>
</div>

<script>
	function gt(ev) {
		window.location.href = $(ev.currentTarget).attr('link')
	}
	$(document).ready(function () {

		Post('{yun:}url m=member c=resume_api act=companyInfo{/yun}', {}).then(function (res) {
			var res = res.info;
			$('.comName').prepend(res.name);
			$('.hy').append(res.hy);
			$('.addr').append(res.province);
			$('.bdname').html(res.bd_name);
			$('.telephone').html(res.bd_telephone);
			$('.interview_payd').html(res.interview_payd);
			$('.resume_payd').html(res.resume_payd);
			$('.new_resumes').html(res.new_resumes);
			$('.interview_resumes').html(res.interview_resumes);
			$('.buy_resumes').html(res.buy_resumes);
			$('.wait_interview_count').html(res.wait_interview_count);
			$('.wait_present_count').html(res.wait_present_count);
			$('.job_count').html(res.job_count);
			$('.resume_high').html(res.resume_payd_high);
			$('.comLogo').attr('src',res.wt_yy_photo);

			if (res.is_cert ==0) {
				alert_notice({
					title: '您还未认证哦~',
					content: '请先填写认证资料，审核通过后即可获得极速猎头服务',
					btn: '知道了',
					type: '/app/public/imgs/rz_03.png',
					src: '/member/index.php?c=info'
				})
			}
		});
	});
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}