{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/index/index.css">
<div class="ba"></div>
<div class="indexBox">
	<div class="infoBox">
		<div class="left">
			<img src="/app/public/imgs/9_03.png" class="comLogo" alt="">
			<div class="comName">
				重庆南方新华企业管理咨询有限公司
				<span class="gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧猎认证</span><br>
			</div>
			<div class="div1">
				<span><img src="/app/public/imgs/9_18.png" alt="">广告·传媒·教育·文化</span>
				<span><img src="/app/public/imgs/9_23.png" alt="">重庆</span>
			</div>
			<div class="account">
				<div style="padding-left: 0;">
					<span>5</span>
					<span>慧沟通余量</span>
				</div>
				<div>
					<span>5</span>
					<span>慧面试余量</span>
				</div>
				<div>
					<img src="/app/public/imgs/ind_17.png" alt="">
					<span>套餐使用记录</span>
				</div>
				<div style="border-right: none">
					<img src="/app/public/imgs/ind_19.png" alt="">
					<span>购买套餐</span>
				</div>
			</div>
		</div>
		<div class="right">
			<span class="tel"><img src="/app/public/imgs/ind_45.png" alt="">
				客服电话：023-6366-8816
			</span>
			<span class="wt">（工作日：9:00——18:00）</span>
			<span>您的专属BD：Linda</span>
			<span>BD联系方式：19928256347</span>
		</div>
	</div>
	<div class="sec1">
		<div>
			<span>快捷入口</span>
		</div>
		<div class="blocks">
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_25.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					简历
				</div>
				<div class="box1">
					<span>新简历</span>
					<span>12</span>
					<span>></span>
				</div>
				<div class="box1">
					<span>邀约面试的简历</span>
					<span>12</span>
					<span>></span>
				</div>
				<div class="box1">
					<span>已购买的简历</span>
					<span>12</span>
					<span>></span>
				</div>
			</div>
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_26.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					面试
				</div>
				<div class="box1">
					<span>待面试</span>
					<span>12</span>
					<span>></span>
				</div>
				<div class="box1">
					<span>待确认到场</span>
					<span>12</span>
					<span>></span>
				</div>
			</div>
			<div>
				<div class="title_" style="background: url(/app/public/imgs/ind_27.png) 0 0 repeat/100% 100%">
					<div class="line_1"></div>
					职位
				</div>
				<div class="box1">
					<span>招聘中的职位</span>
					<span>12</span>
					<span>></span>
				</div>
				<div class="toPublish">去发布职位&nbsp;&nbsp;<img src="/app/public/imgs/back.png" alt=""></div>
			</div>
		</div>
	</div>
	<span class="sp1">产品优势</span>
	<div class="ads">
		<div>
			<span>质量高</span>
			<div class="divide"></div>
			<span>5千万高端人才数据库</span>
			<span>推荐前必调研及沟通</span>
		</div>
		<div>
			<span>速度快</span>
			<div class="divide"></div>
			<span>5千万高端人才数据库</span>
			<span>推荐前必调研及沟通</span>
		</div>
		<div>
			<span>服务好</span>
			<div class="divide"></div>
			<span>自建10年猎头团队</span>
			<span>一对一专业服务保障</span>
		</div>
	</div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}