{yun:}include file="$comstyle/header.htm"{/yun}
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/index.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lssave.js" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/imgareaselect.css" type="text/css" />
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/jquery.imgareaselect.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/ajaxfileupload.js"></script>

<link rel="stylesheet" href="/app/public/css/base.css">
<link rel="stylesheet" href="/app/public/css/cmInfo/cmInfo.css">
<style>

    .c_table{
        display: none;
    }
    .sec3>span{
        float: left;
        margin-bottom: 35px;
        margin-top: 20px;
    }
</style>
<script>
    $(function () {

        var _stat = '{yun:}$cert.status{/yun}';
        if(_stat==='0'){
            $('.c_table').hide();
            $('.c_table').eq(1).show();
        }else if(_stat==='2'){
            $('.c_table').hide();
            $('.c_table').eq(_stat).show();
        }else if(_stat==='1'){
            location.href="{yun:}$config.sy_weburl{/yun}/member/index.php";
        }else if(_stat==='99'){
            $('.c_table').eq(0).show();
        }else{
            location.href="{yun:}$config.sy_weburl{/yun}/member/index.php";
        }
    })
</script>
<div class="infoFi">
    <div class="title">
        <div class="line_1"></div>
        企业认证
    </div>
    <div class="c_table sec">
        <div class="upBox">
            <span class="sp1">营业执照：</span>
            <div class="uploadBox" id="testy" onclick="$('#image').click()">
                +<br>
                <span class="upload">点击上传</span>
            </div>
            <span class='sp2'>1、图片必须清晰、完整<br>2、不能带有无关的水印、标记</span>
            <input id="image" style="display:none;" type="file" name="image" onchange="ajaxfile();">
        </div>
        <div class="upBox imageprview" style="max-height:100px;display: none;" title="点击查看大图" alt="点击查看大图">
            <span class="sp1">图片预览：</span>
            <a target="_blank" href="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_rz_default.png">
                <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_rz_default.png" alt="" height="75">
            </a>
        </div>
        <form id="certify_from">
            <div class="inputBox">
                <span class="sp1">企业名称：</span>
                <input type="hidden" name="c_type" value="save">
                <!-- 营业执照-->
                <input type="hidden" name="business_license" id="business_license" value="">
                <input type="text" class="verTel input_nomorl" id="business_name" name="business_name" placeholder="请输入正确的企业名称，如重庆XX公司">
            </div>
            <div style="width:1000px" class="inputBox">
                <span class="sp1">企业地址：</span>
                <div class="input_min selectBox" style="z-index: 101">
                    <input name="provincename" class="SpFormLBut text_seclet_w158" readonly="readonly"
                           id="province" {yun:}if $row.provinceid{/yun}
                    value="{yun:}$city_name[$row.provinceid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="province"
                    onclick="search_show('job_province');">
                    <input type="hidden" id="provinceid" name="business_province" value="" />
                    <div id="job_province" class="cus-sel-opt-panel" style="display:none">
                        <div style="width:100%;  overflow:auto; overflow-x:hidden">
                            <ul class="Search_Condition_box_list">
                                {yun:}foreach from=$city_index key=j item=v{/yun}
                                <li><a href="javascript:;"
                                       onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');">
                                    {yun:}$city_name[$v]{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input_min selectBox" style="z-index: 101">
                    <input class="SpFormLBut text_seclet_w158" readonly="readonly" name="cityname" id="citys"
                           {yun:}if $row.cityid{/yun}
                    value="{yun:}$city_name[$row.cityid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="citys"
                    onclick="search_show('job_citys');">
                    <input type="hidden" id="citysid" name="business_city" value="" />
                    <div id="job_citys" class="cus-sel-opt-panel" style="display:none">
                        <div style="width:100%;  overflow:auto; overflow-x:hidden">
                            <ul class="Search_Condition_box_list">
                                {yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
                                <li><a href="javascript:;"
                                       onclick="select_city('{yun:}$v{/yun}','citys','{yun:}$city_name[$v]{/yun}','three_city','city');">
                                    {yun:}$city_name[$v]{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input_min selectBox"
                     id="cityshowth">
                    <input class="SpFormLBut text_seclet_w158" name="three_cityname" readonly="readonly" {yun:}if $row.three_cityid{/yun}
                    value="{yun:}$city_name[$row.three_cityid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="three_city"
                    onclick="three_city_show('job_three_city');">
                    <input type="hidden" id="three_cityid" name="business_districts" value="" />
                    <div id="job_three_city" class="cus-sel-opt-panel" style="display:none">
                        <ul class="Search_Condition_box_list">
                            {yun:}foreach from=$com key=j item=v{/yun}
                            <li><a href="javascript:;"
                                   onclick="selects('{yun:}$v{/yun}','three_city','{yun:}$city_name[$v]{/yun}');">
                                {yun:}$city_name[$v]{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="inputBox">
                <span class="sp1">详细地址：</span>
                <input type="text" name="business_addr" class="verTel input_nomorl" id="business_addr" placeholder="请输入正确的公司地址">
            </div>
            <div class="inputBox">
                <span class="sp1">行业：</span>
                <!-- <input type="text" class="verTel input_nomorl" id="business_industry" placeholder="请输入正确的企业行业"> -->
                <div class="input_nomorl selectBox2">
                    <input name="hyname" class="SpFormLBut text_seclet_w250 " readonly="readonly" {yun:}if $row.hy{/yun}
                    value="{yun:}$industry_name[$row.hy]{/yun}" {yun:}else{/yun} value="请选择行业" {yun:}/if{/yun} id="hy"
                    onclick="search_show('job_hy');">
                    <input type="hidden" id="hyid" name="business_industry">
                    <div id="job_hy" class="cus-sel-opt-panel" style="display:none; z-index:301">
                        <div style="width:100%;  overflow:auto; overflow-x:hidden">
                            <ul>
                                {yun:}foreach item=v from=$industry_index key=k{/yun}
                                <li><a href="javascript:;"
                                       onclick="selects('{yun:}$v{/yun}','hy','{yun:}$industry_name[$v]{/yun}');">
                                    {yun:}$industry_name[$v]{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputBox">
                <span class="sp1">联系人：</span>
                <input type="text" name="business_uname" class="verTel input_nomorl" id="business_uname" placeholder="联系人姓名">
            </div>
            <div class="inputBox">
                <span class="sp1">联系电话：</span>
                <input type="num" class="verTel input_nomorl" id="linktel" placeholder="请输入联系电话">
            </div>
            <span class="notice"><span class="sp1"></span>企业认证执审核通过后，信息将无法修改，请您核对无误后提交</span>
            <div style='padding-left:70px'></span><button id="onsubmit" type="button" class="button_1 gradient_1 submit">提交认证</button>
            </div>
        </form>

    </div>
    <div class="c_table sec2">
        <span><span class="sp3">资料提交成功！</span>工作人员会在1个工作日内对您提交的信息进行审核，请您保持电话畅通，慧猎会派专属BD与您对接，</span>
        <span>审核通过后即可享受24小时极速猎头服务</span>
        <div class="imgBox">
            <span class="sp4">营业执照：</span>
            <img id="photo" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_rz_default.png" alt="">
        </div>
        <div class="business_name" style="width: 650px;">
            <span class="sp4" >企业名称：</span><label>获取中...</label>
        </div>
        <div class="business_addr">
            <span class="sp4" >企业地址：</span><label>获取中...</label>
        </div>
        <div class="business_industry">
            <span class="sp4" >行业：</span><label>获取中...</label>
        </div>
        <div class="business_uname">
            <span class="sp4" >联系人：</span><label>获取中...</label>
        </div>
        <div class="linktel">
            <span class="sp4" >联系电话：</span><label>获取中...</label>
        </div>
        <div style="margin-top: 70px;"></span><button type="button" class="button_1 gradient_1 reset">修改资料</button>
        </div>
    </div>
    <div class="c_table sec3" style="height:505px;">
        <span class="li_title"><span>审核未通过！</span>
        请修改企业资料重新提交审核信息。
    </span>
        <div>
            <span>未通过原因：</span>
            <span class="reson">
            {yun:}$cert.statusbody{/yun}
        </span>
        </div>
        <button type="button" class="button_1 gradient_1 reset">修改资料</button>
    </div>
</div>
<script>

    function ajaxfile() {
        if($("#image").val() != '') {
            layer.load(1, {
                shade: [0.3,'#000']
            });
            $.ajaxFileUpload({
                url: 'index.php?c=uppic&act=ajaxfileupload',
                secureuri: false,
                fileElementId: 'image',
                dataType: 'json',
                success: function (data, status){


                    layer.closeAll('loading');
                    layer.msg(data.message);
                    if (data.code==200) {
                        if(data.url){
                            $('.imageprview a').attr('href',data.url);
                            $('.imageprview img').attr('src',data.url);
                            $('.imageprview').show();
                            $('#business_license').val(data.url);
                        }
                    }
                }
            })
        }
    }

</script>
<script src="/app/public/js/base.js"></script>
<script>

    $(function () {
        var _json;
        $('#onsubmit').click(function () {

            $.post('{yun:}url m=login c=certify{/yun}',$('#certify_from').serialize(),function(res){
                res = JSON.parse(res);
                if(res.code==200){
                    _json={title:'温馨提示',content:res.message,type:'success',btn:'返回'};
                    setTimeout(function () {
                        location.href=location.href;
                    },1000)
                }else{
                    _json={title:'温馨提示',content:res.message,type:'warning',btn:'返回'};
                }
                alert_notice(_json);
            })
        })


        /****/
        $.post('{yun:}url m=login c=certify{/yun}',{c_type: 'search'},function(res){
            res = JSON.parse(res);
            if (res.data) {
                lastData = res.data;
                $('#photo').attr('src', res.data.wt_yy_photo);
                $('.business_name label').text(res.data.name);
                $('.linktel label').text(res.data.linktel);
                $('.business_addr label').text(res.data.address);
                $('.business_industry label').text(res.data.hyname);
                $('.business_uname label').text(res.data.linkman);
                $('#business_name').val(lastData.name);
                $('#business_addr').val(lastData.address);
                $('#hyid').val(lastData.hy);
                $('#business_uname').val(lastData.linkman);
                $('#linktel').val(lastData.linktel);
                $('#provinceid').val(lastData.provinceid);
                $('#citysid').val(lastData.cityid);
                $('#three_cityid').val(lastData.three_cityid);

                if(lastData.wt_yy_photo){
                    $('#business_license').val(lastData.wt_yy_photo);
                    $('.imageprview a').attr('href',lastData.wt_yy_photo);
                    $('.imageprview img').attr('src',lastData.wt_yy_photo);
                    $('.imageprview').show();
                }

            }


        })
        /****/
        $('.reset').click(function () {

            $('.c_table').hide();
            $('.c_table').eq(0).show();
        })
    })

</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}