{yun:}include file="$comstyle/header.htm"{/yun} 
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script> 
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script> 
<script type="text/javascript" src="{yun:}$style{/yun}/js/index.js"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lssave.js" type="text/javascript"></script> 
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css" type="text/css">  
<script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/imgareaselect.css" type="text/css"/>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/jquery.imgareaselect.js"></script>  
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/imgareaselect/ajaxfileupload.js"></script>  
<script src="{yun:}$config.mapurl{/yun}"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/map.js"></script>
<link rel="stylesheet" href="/app/public/css/base.css">
<link rel="stylesheet" href="/app/public/css/cmInfo/cmInfo.css">
<div class="infoFi">
    <div class="title">
        <div class="line_1"></div>
        企业认证
    </div>
    <div class="sec" >
        <div class="upBox">
            <span class="sp1">营业执照：</span>
            <div class="uploadBox">
                +<br>
                <span class="upload">点击上传</span>
            </div>
            <span class='sp2'>1、图片必须清晰、完整<br>2、不能带有无关的水印、标记</span>
        </div>
        <div>
            <span class="sp1">企业名称：</span>
            <input type="text" class="verTel input_nomorl" id="business_name" placeholder="请输入正确的企业名称，如重庆XX公司">
        </div>
        <div style="width:1000px">
            <span class="sp1">企业地址：</span>
            <div class="input_min selectBox">
                    <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.provinceid{/yun}
                        value="{yun:}$city_name[$row.provinceid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="province"
                        onclick="search_show('job_province');">
                    <input type="hidden" id="provinceid" name="provinceid" value="{yun:}$row.provinceid{/yun}" />
                    <div id="job_province" class="cus-sel-opt-panel" style="display:none">
                        <div style="width:100%;  overflow:auto; overflow-x:hidden">
                            <ul class="Search_Condition_box_list">
                                {yun:}foreach from=$city_index key=j item=v{/yun}
                                <li><a href="javascript:;"
                                        onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');">
                                        {yun:}$city_name[$v]{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input_min selectBox">
                    <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.cityid{/yun}
                        value="{yun:}$city_name[$row.cityid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="citys"
                        onclick="search_show('job_citys');">
                    <input type="hidden" id="citysid" name="cityid" value="{yun:}$row.cityid{/yun}" />
                    <div id="job_citys" class="cus-sel-opt-panel" style="display:none">
                        <div style="width:100%;  overflow:auto; overflow-x:hidden">
                            <ul class="Search_Condition_box_list">
                                {yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
                                <li><a href="javascript:;"
                                        onclick="select_city('{yun:}$v{/yun}','citys','{yun:}$city_name[$v]{/yun}','three_city','city');">
                                        {yun:}$city_name[$v]{/yun}</a></li>
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input_min selectBox" {yun:}if $row.three_cityid<1{/yun}style="display:none"{yun:}/if{/yun}
                    id="cityshowth">
                    <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.three_cityid{/yun}
                        value="{yun:}$city_name[$row.three_cityid]{/yun}" {yun:}else{/yun}value="请选择"{yun:}/if{/yun} id="three_city"
                        onclick="three_city_show('job_three_city');">
                    <input type="hidden" id="three_cityid" name="three_cityid" value="{yun:}$row.three_cityid{/yun}" />
                    <div id="job_three_city" class="cus-sel-opt-panel" style="display:none">
                        <ul class="Search_Condition_box_list">
                            {yun:}foreach from=$com key=j item=v{/yun}
                            <li><a href="javascript:;"
                                    onclick="selects('{yun:}$v{/yun}','three_city','{yun:}$city_name[$v]{/yun}');">
                                    {yun:}$city_name[$v]{/yun}</a></li>
                            {yun:}/foreach{/yun}
                        </ul>
                    </div>
                </div>
        </div>
        <div>
            <span class="sp1">详细地址：</span>
            <input type="text" class="verTel input_nomorl" id="business_province" placeholder="请输入正确的公司地址">
        </div>
        <div>
            <span class="sp1">行业：</span>
            <input type="text" class="verTel input_nomorl" id="business_industry" placeholder="请输入正确的企业行业">
        </div>
        <div>
            <span class="sp1">联系人：</span>
            <input type="text" class="verTel input_nomorl" id="business_uname" placeholder="联系人姓名">
        </div>
        <div>
            <span class="sp1">联系电话：</span>
            <input type="num" class="verTel input_nomorl" id="linktel" placeholder="请输入联系电话">
        </div>
        <span class="notice"><span class="sp1"></span>企业认证执审核通过后，信息将无法修改，请您核对无误后提交</span>
        <div style='padding-left:70px'></span><button type="button" class="button_1 gradient_1 submit">提交认证</button></div>
    </div>
    <div class="sec2" style="display: none">
        <span><span class="sp3">资料提交成功！</span>工作人员会在1个工作日内对您提交的信息进行审核，请您保持电话畅通，慧猎会派专属BD与您对接，</span>
        <span>审核通过后即可享受24小时极速猎头服务</span>
        <div class="imgBox">
            <span class="sp4">营业执照：</span>
            <img id="photo" src="" alt="">
        </div>
        <div>
            <span class="sp4">企业名称：</span>
            重庆南方新华管理咨询有限公司
            <span id="business_name"></span>
        </div>
        <div>
            <span class="sp4">企业地址：</span>
            重庆市渝中区五一路平安国际金融中心36层
            <span id="business_addr"></span>
        </div>
        <div>
            <span class="sp4">行业：</span>
            互联网
            <span id="business_industry"></span>
        </div>
        <div>
            <span class="sp4">联系人：</span>
            航宝宝
            <span id="business_uname"></span>
        </div>
        <div>
            <span class="sp4">联系电话：</span>
            13112756365
            <span id="linktel"></span>
        </div>
        <div style="margin-top: 70px;"></span><button type="button" class="button_1 gradient_1 reset">修改资料</button></div>
    </div>
</div>
<script src="/app/public/js/base.js">

</script>
<script>
    $(document).ready(function () {
        //提交认证资料
        $('.submit').click(function () {
            var business_name = $('#business_name').val();
            var business_addr = $('#business_addr').val();
            var business_province = $('#business_province').val();
            var business_industry = $('#business_industry').val();
            var business_uname = $('#business_uname').val();
            var linktel = $('#linktel').val();
            Post('{yun:}url m=login c=certify{/yun}',{c_type:'save',business_license:'license',business_name:business_name,business_addr:business_addr,
                business_province:business_province,business_city:'city',business_districts:'districts', business_industry:business_industry,
                business_uname:business_uname,linktel:linktel}).then(function (res) {
                alert(res.message);
                window.location.reload();
            }).catch(function (res) {
                alert(res.message);
            });
        });

        //  编辑认证资料
        $('.reset').click(function () {
            $('#business_name').val($('#business_name').html());
            $('#business_addr').val($('#business_addr').html());
            $('#business_province').val($('#business_name').html());
            $('#business_industry').val($('#business_industry').html());
            $('#business_uname').val($('#business_name').html());
            $('#linktel').val($('#linktel').html());
        });

        //展示认证资料
        Post('{yun:}url m=login c=certify{/yun}',{c_type:'search'}).then(function (res) {
            console.log(111)
            if(res.data.length!=0){
                $('#photo').attr('src',res.data.wt_yy_photo);
                $('#business_name').html(res.data.username);
                $('#linktel').html(res.data.linkman);
                $('#business_addr').html(res.data.address);
                $('#business_industry').html(res.data.hy);
                $('.sec2').css('display','block')
                $('.sec').css('display','none')
            }else {
                $('.sec2').css('display','none')
                $('.sec').css('display','block')
            }
        }).catch(function (res) {
            alert(res.message);
        });
        //上传
        $('.upload').click(ev=>{
            upload({
                type:'png,jpg,gif',
                uploadStart(file,res){
                    console.log('开始上传',res)
                },
                uploadProgress(file,res){
                    console.log('正在上传',file,res)
                },
                uploadSuccess(file,res){
                    console.log('上传成功',file,res)
                },
                uploadSuccess(file,res){
                    console.log('上传失败',file,res)
                },
            })
        })
    });
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}