{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/job/job.css">
<div class="ba"></div>
<div class="job">
  <div class="tabBox">
    <span class="tab choosed">招聘中的职位<span>（12）</span></span>
    <span class="tab">已下线的职位<span>（12）</span></span>
    <div class="line1"></div>
  </div>
  <div class="searchBox">
    <input type="text" class="searchInput" placeholder="请输入职位关键字" style="padding-left: 15px;">
    <span class="searchBtn gradient_1">搜索</span>
  </div>
  <div class="list">
    <div class="listBox">
      <div class="listLeft">
        <span class="postName">运营总监</span>
        <span class="postType gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧沟通</span><br>
        <span class="salary">20w-30w</span>
        <span class="adviser">专属顾问：小西</span><br>
        <span class="createTime">发布于2019-7-12</span>
      </div>
      <div class="listMid">
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
      </div>
      <div class="listRight">
        <span>修改</span>
        <span>上线</span>
      </div>
    </div>
    <div class="listBox">
      <div class="listLeft">
        <span class="postName">运营总监</span>
        <span class="postType gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧沟通</span><br>
        <span class="salary">20w-30w</span>
        <span class="adviser">专属顾问：小西</span><br>
        <span class="createTime">发布于2019-7-12</span>
      </div>
      <div class="listMid">
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
      </div>
      <div class="listRight">
        <span>修改</span>
        <span>上线</span>
      </div>
    </div>
    <div class="listBox">
      <div class="listLeft">
        <span class="postName">运营总监</span>
        <span class="postType gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧沟通</span><br>
        <span class="salary">20w-30w</span>
        <span class="adviser">专属顾问：小西</span><br>
        <span class="createTime">发布于2019-7-12</span>
      </div>
      <div class="listMid">
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
      </div>
      <div class="listRight">
        <span>修改</span>
        <span>上线</span>
      </div>
    </div>
    <div class="listBox">
      <div class="listLeft">
        <span class="postName">运营总监</span>
        <span class="postType gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧沟通</span><br>
        <span class="salary">20w-30w</span>
        <span class="adviser">专属顾问：小西</span><br>
        <span class="createTime">发布于2019-7-12</span>
      </div>
      <div class="listMid">
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
      </div>
      <div class="listRight">
        <span>修改</span>
        <span>上线</span>
      </div>
    </div>
    <div class="listBox">
      <div class="listLeft">
        <span class="postName">运营总监</span>
        <span class="postType gradient_1"><img src="/app/public/imgs/vw.png" alt="">慧沟通</span><br>
        <span class="salary">20w-30w</span>
        <span class="adviser">专属顾问：小西</span><br>
        <span class="createTime">发布于2019-7-12</span>
      </div>
      <div class="listMid">
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
        <div>
          <span>5</span>
          收到简历
        </div>
      </div>
      <div class="listRight">
        <span>修改</span>
        <span>上线</span>
      </div>
    </div>
  </div>
  <div id="pager" class="pagger-box pagger"></div>
</div>
<script>
  $(function () {
    $('.tab').click(ev => {
      $('.tab').toggleClass('choosed');
      if ($('.line1').css('left') == '100px') {
        $('.line1').css('left', '290px')
      } else {
        $('.line1').css('left', '100px')
      }
    })
    $('#pager').paging({
      initPageNo: 1, // 初始页码
      totalPages: 32, //总页数
      totalCount: '共' + 222 + '条数据', // 条目总数
      slideSpeed: 300, // 缓动速度。单位毫秒
      jump: true, //是否支持跳转
      callback: function (page,size) { // 回调函数
      }
    });
  })
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}