{yun:}include file="$comstyle/header.htm"{/yun}
<link rel="stylesheet" href="/app/public/css/job/job.css">
<div class="ba"></div>
<div class="job">
  <div class="tabBox">
    <span class="tab choosed" dtype='1'>招聘中的职位<span></span></span>
    <span class="tab" dtype='2'>已下线的职位<span></span></span>
    <div class="line1"></div>
  </div>
  <div class="searchBox">
    <input type="text" class="searchInput" placeholder="请输入职位关键字" style="padding-left: 15px;">
    <span class="searchBtn gradient_1">搜索</span>
  </div>
  <div class="list">
  </div>
  <div id="pager" class="pagger-box pagger"></div>
</div>
<script>
  $(function () {
    // getData(1,5)
    $('.tab').click(ev => {
      $('.tab').toggleClass('choosed');
      if ($('.line1').css('left') == '100px') {
        $('.line1').css('left', '290px')
      } else {
        $('.line1').css('left', '100px')
      }
      $('.pagersel').change();
    })
    let pager = $('#pager').paging({
      initPageNo: 1, // 初始页码
      totalPages: 1, //总页数
      totalCount: '共' + 0 + '条', // 条目总数
      slideSpeed: 200, // 缓动速度。单位毫秒
      jump: true, //是否支持跳转
      callback: getData // 回调函数
    });
    $('.searchInput').keydown(ev => {
      if (ev.keyCode == 13) {
        $('.pagersel').change();
      }
    })
    $('.searchBtn').click(ev => {
      $('.pagersel').change();
    })
    function getData(page, size) {
      Post('{yun:}$config.sy_weburl{/yun}/login/index.php?c=job_show', {
        c_type:$('.tabBox .choosed').attr('dtype'),
        page,
        size,
        kwd: $('.searchInput').val()
      }).then(res => {
        $('.list').empty();
        res.datas.map(val => {
          $('.list').append(`<div class="listBox">
      <div class="listLeft">
        <span class="postName"><a href='/job/index.php?c=comapply&id=${val.id}'>${val.name}</a></span>
        <span class="postType  ${val.service_type==0?'gradient_1':'gradient_2'}"><img src="/app/public/imgs/vw.png" alt="">${val.service_type==0?'慧沟通':'慧面试'}</span><br>
        <span class="salary">${val.minsalary+'-'+val.maxsalary}</span>
        <span class="edate">
          ${val.status==1?"到期时间："+Math.floor((val.edate-val.add_time)/86400)+"天":''}
         <br>
        专属顾问：${val.joiner_name}</span><br>
        <span class="createTime">发布于${get_time(val.add_time)}</span>
      </div>
      <div class="listMid">
        <div>
          <span>${val.all_total}</span>
          收到简历
        </div>
        <div>
          <span>${val.new_total}</span>
          新简历
        </div>
        <div style='display:${val.service_type==1?'none':'inline-block'};border-right:none'>
          <span>${val.buy_total}</span>
          下载简历
        </div>
        <div style='display:${val.service_type==1?'inline-block':'none'}'>
          <span>${val.waiting_interview}</span>
          待面试
        </div>
        <div style='display:${val.service_type==1?'inline-block':'none'};border-right:none'>
          <span>${val.already_arrive}</span>
          已到场
        </div>
      </div>
      <div class="listRight">
        <span onclick='toreset(${val.id})'>修改</span>
        <span onclick='changeStatus(${val.id},${val.status})'>${val.status==1?'下线':'上线'}</span>
      </div>
    </div>`)
        })
        pager.options.pageNo = res.data.page;
        pager.options.totalPages = res.data.totalPage;
        pager.options.totalCount = '共' + res.data.totalSize + '条';
        pager.options.callback = function () {};
        pager.init();
        pager.options.callback = getData;
      }).catch(res => {
        $('.list').html(
          '<img src="/app/public/imgs/c_no_data.png" class="nodataImg"/><span class="nodataSp">暂无数据</span>')
      })
    }
  })
  function toreset(id) {
    window.location.href = '/member/index.php?c=jobadd&id=' + id
  }

  function changeStatus(id, status) {
    alert_notice({
      title: '确认要' + (status == 1 ? "下线" : "上线") + '职位？',
      type: 'warning',
      confirm(ev) {
        Post('{yun:}$config.sy_weburl{/yun}/login/index.php?c=change_status', {
          id:id,
          status:Math.abs(status-3),
          ctype:1
        }).then(res => {
          $(ev.target).parent().parent('.mask').remove();
          alert_notice({title:'操作成功'})
      $('.pagersel').change();
        }).catch(res=>{
          $(ev.target).parent().parent('.mask').remove();
          alert_notice({title:'操作失败',type:'error',content:res.message})
        });
      }
    })
  }
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}