{yun:}include file="$comstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<script src="/js/search.js"></script>
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js" type="text/javascript"></script>
<link rel="stylesheet" href="/app/public/css/jobadd/jobadd.css">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js" type="text/javascript"></script>
<div class="jobadd">
    <div class="title_">发布职位</div>
    <div class="line_2"></div>
    <div class="typeBox box1">
        <span class="sp1" style="float:left;margin-top: 50px;"><span>*</span>服务方式：</span>
        <div class="choosed">
            <div class="hgt">
                为您推荐专属顾问已沟通过的简历，您获取简历则扣除相应的余量
            </div>
            <span class="sp2">√</span>
            <span class="left">
                慧沟通余量
            </span>
        </div>
        <div>
            <div class="hms">
                专属顾问为您筛选优质候选人，候选人到场面试扣除相应的余量，不到场则不扣除
            </div>
            <span class="sp2">√</span>
            <span class="left">
                慧面试余量
            </span>
        </div>
    </div>
    <div class="box1">
        <span class="sp1"><span>*</span>
            职位名称：
        </span>
        <input class="input_min" name="" id="" placeholder="填写职位名称">
    </div>
    <div class="box1">
        <span class="sp1"><span>*</span>职位类别：</span>
        <div class="input_min selectBox" style="z-index:100">
            <input type="hidden" name="job_post" id="job_post" value="{yun:}$row.job_post{/yun}" />
            <input class="SpFormLBut text_seclet_w250 " type="button"
                value="{yun:}if $job_name[$row.job_post]{/yun}{yun:}$job_name[$row.job_post]{/yun}{yun:}else{/yun}请选择职位类别{yun:}/if{/yun}"
                onclick="index_job(3,'#workadds_job','#job_post','left:100px;top:100px; position:absolute;','{yun:}$row.job_post{/yun}');"
                id="workadds_job">
            <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/js/datepicker/css/font-awesome.min.css"
                type="text/css">
            <script src="{yun:}$config.sy_weburl{/yun}/js/datepicker/foundation-datepicker.min.js"></script>
            <script type="text/javascript">
                $('#edate').fdatepicker({
                    format: 'yyyy-mm-dd',
                    startView: 4,
                    minView: 2
                });
            </script>
        </div>
    </div>
    <div class="box1" style="width:1000px">
        <span class="sp1">
            <span>*</span>
            工作地点：
        </span>
        <div class="input_min selectBox" style="z-index: 101">
            <input class="SpFormLBut text_seclet_w158" type="button" value="请选择" id="province"
                onclick="search_show('job_province');">
            <input type="hidden" id="provinceid" name="provinceid" value="" />
            <div id="job_province" class="cus-sel-opt-panel" style="display:none">
                <div style="width:100%;  overflow:auto; overflow-x:hidden">
                    <ul class="Search_Condition_box_list">
                        {yun:}foreach from=$city_index key=j item=v{/yun}
                        <li><a href="javascript:;"
                                onclick="select_city('{yun:}$v{/yun}','province','{yun:}$city_name[$v]{/yun}','citys','city');">
                                {yun:}$city_name[$v]{/yun}</a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </div>
        </div>
        <div class="input_min selectBox" style="z-index: 101">
            <input class="SpFormLBut text_seclet_w158" type="button" value="请选择" id="citys"
                onclick="search_show('job_citys');">
            <input type="hidden" id="citysid" name="cityid" value="" />
            <div id="job_citys" class="cus-sel-opt-panel" style="display:none">
                <div style="width:100%;  overflow:auto; overflow-x:hidden">
                    <ul class="Search_Condition_box_list">
                        {yun:}foreach from=$city_type[$row.provinceid] key=j item=v{/yun}
                        <li><a href="javascript:;"
                                onclick="select_city('{yun:}$v{/yun}','citys','{yun:}$city_name[$v]{/yun}','three_city','city');">
                                {yun:}$city_name[$v]{/yun}</a></li>
                        {yun:}/foreach{/yun}
                    </ul>
                </div>
            </div>
        </div>
        <div class="input_min selectBox" style="display:none" id="cityshowth">
            <input class="SpFormLBut text_seclet_w158" type="button" value="请选择" id="three_city"
                onclick="three_city_show('job_three_city');">
            <input type="hidden" id="three_cityid" name="three_cityid" value="" />
            <div id="job_three_city" class="cus-sel-opt-panel" style="display:none">
                <ul class="Search_Condition_box_list">
                    {yun:}foreach from=$com key=j item=v{/yun}
                    <li><a href="javascript:;"
                            onclick="selects('{yun:}$v{/yun}','three_city','{yun:}$city_name[$v]{/yun}');">
                            {yun:}$city_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                </ul>
            </div>
        </div>
    </div>
    <div class="box1">
        <span class="sp1"><span>*</span>
            职位有效期：
        </span>
        <input type="text" class="endtime input_min" placeholder="填写职位有效时间">&nbsp;&nbsp;天
    </div>
    <div class="box1">
        <span class="sp1"><span>*</span>
            薪资待遇：
        </span>
        <input type="text" class="base_money input_min" placeholder="最低薪资"><span class="sp3">元/月</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="base_money input_min" placeholder="最高薪资"><span class="sp3">元/月</span>
    </div>
    <div class="box1">
        <span class="sp1"><span>*</span>
            发放月数：
        </span>
        <input type="text" class="mouthes input_min" placeholder="填写发放月数">
    </div>
    <div class="box1" style="width: 800px">
        <span class="sp1" style="float: left"><span>*</span>
            职位描述：
        </span>
        <textarea id="description" cols="30" rows="10"></textarea>
    </div>
    <div class="box1">
        <span class="sp1">
            汇报对象：
        </span>
        <input type="text" class="leader input_min">
    </div>
    <div class="box1">
        <span class="sp1">
            下属人数：
        </span>
        <input type="text" class="worker input_min">
    </div>
    <div class="title_">对候选人有什么需求？（选填项）
        <span>?</span>
        <span>填写详细信息，有助于您招聘精准人才！</span>
    </div>
    <div class="line_2"></div>
    <div class="box1">
        <span class="sp6">
            从事行业：
        </span>
        <div class="input_min selectBox" style="z-index:400">
            <input class="SpFormLBut text_seclet_w250 " type="button" {yun:}if $row.hy{/yun}
                value="{yun:}$industry_name[$row.hy]{/yun}" {yun:}else{/yun} value="请选择行业" {yun:}/if{/yun} id="hy"
                onclick="search_show('job_hy');">
            <input type="hidden" id="hyid" name="hy" {yun:}if $row.hy {/yun} value="{yun:}$row.hy{/yun}"
                {yun:}/if{/yun}/> <div id="job_hy" class="cus-sel-opt-panel" style="display:none; z-index:301">
            <div style="width:100%;  overflow:auto; overflow-x:hidden">
                <ul>
                    {yun:}foreach item=v from=$industry_index key=k{/yun}
                    <li><a href="javascript:;"
                            onclick="selects('{yun:}$v{/yun}','hy','{yun:}$industry_name[$v]{/yun}');">
                            {yun:}$industry_name[$v]{/yun}</a></li>
                    {yun:}/foreach{/yun}
                </ul>
            </div>
        </div>
    </div>
    <span class="sp6">
        招聘人数：
    </span>
    <input type="text" class="input_min inputMin" placeholder="输入招聘人数">
</div>
<div class="box1">
    <span class="sp6">
        到岗时间：
    </span>
    <div class="input_min selectBox">
        <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.report{/yun}
            value="{yun:}$comclass_name[$row.report]{/yun}" {yun:}else{/yun} value="请选择到岗时间" {yun:}/if{/yun} id="report"
            onclick="search_show('job_report');">
        <input type="hidden" id="reportid" name="report" {yun:}if $row.report{/yun} value="{yun:}$row.report{/yun}"
            {yun:}/if{/yun} />
        <div id="job_report" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
            <ul class="Search_Condition_box_list">
                {yun:}foreach from=$comdata.job_report key=j item=v{/yun}
                <li><a href="javascript:;"
                        onclick="selects('{yun:}$v{/yun}','report','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
        </div>
    </div>
    <span class="sp6">
        工作经验：
    </span>
    <div class="input_min selectBox">
        <input id="exp" class="SpFormLBut text_seclet_w158" type="button" onclick="search_show('job_exp');" {yun:}if
            $row.exp{/yun} value="{yun:}$comclass_name[$row.exp]{/yun}" {yun:}else{/yun} value="请选择工作经验"
            {yun:}/if{/yun}> <input id="expid" type="hidden" name="exp" {yun:}if $row.exp {/yun}
            value="{yun:}$row.exp{/yun}" {yun:}/if{/yun}> <div id="job_exp"
            class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
        <ul class="Search_Condition_box_list">
            {yun:}foreach from=$comdata.job_exp key=j item=v{/yun}
            <li><a href="javascript:;"
                    onclick="selects('{yun:}$v{/yun}','exp','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
            </li>
            {yun:}/foreach{/yun}
        </ul>
    </div>
</div>
</div>
<div class="box1">
    <span class="sp6">
        性别要求：
    </span>
    <div class="input_min selectBox">
        <input type="button"
            value="{yun:}if $arr_data.sex[$row.sex]{/yun}{yun:}$arr_data.sex[$row.sex]{/yun}{yun:}else{/yun}不限{yun:}/if{/yun}"
            class="SpFormLBut text_seclet_w158" id="sex" onClick="search_show('job_sex');">
        <input name="sex" type="hidden" id="sexid"
            value="{yun:}if $row.sex{/yun}{yun:}$row.sex{/yun}{yun:}else{/yun}3{yun:}/if{/yun}">
        <div id="job_sex" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
            <ul class="Search_Condition_box_list">
                {yun:}foreach from=$arr_data.sex key=j item=v{/yun}
                <li><a href="javascript:;" onClick="selects('{yun:}$j{/yun}','sex','{yun:}$v{/yun}')">{yun:}$v{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
        </div>
    </div>
    <span class="sp6">
        年龄要求：
    </span>
    <div class="input_min selectBox">
        <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.age{/yun}
            value="{yun:}$comclass_name[$row.age]{/yun}" {yun:}else{/yun} value="请选择年龄要求" {yun:}/if{/yun} id="age"
            onclick="search_show('job_age');">
        <input type="hidden" id="ageid" name="age" {yun:}if $row.age{/yun} value="{yun:}$row.age{/yun}"
            {yun:}/if{/yun} />
        <div id="job_age" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
            <ul class="Search_Condition_box_list">
                {yun:}foreach from=$comdata.job_age key=j item=v{/yun}
                <li><a href="javascript:;"
                        onclick="selects('{yun:}$v{/yun}','age','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
        </div>
    </div>
</div>
<div class="box1">
    <span class="sp6">
        婚姻状况：
    </span>
    <div class="input_min selectBox">
        <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.marriage{/yun}
            value="{yun:}$comclass_name[$row.marriage]{/yun}" {yun:}else{/yun} value="请选择婚姻状况" {yun:}/if{/yun}
            id="marriage" onclick="search_show('job_marriage');">
        <input type="hidden" id="marriageid" name="marriage" {yun:}if $row.marriage{/yun}
            value="{yun:}$row.marriage{/yun}" {yun:}/if{/yun} />
        <div id="job_marriage" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
            <ul class="Search_Condition_box_list">
                {yun:}foreach from=$comdata.job_marriage key=j item=v{/yun}
                <li><a href="javascript:;"
                        onclick="selects('{yun:}$v{/yun}','marriage','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
        </div>
    </div>
    <span class="sp6">
        教育程度：
    </span>
    <div class="input_min selectBox">
        <input class="SpFormLBut text_seclet_w158" type="button" {yun:}if $row.edu{/yun}
            value="{yun:}$comclass_name[$row.edu]{/yun}" {yun:}else{/yun} value="请选择教育程度" {yun:}/if{/yun} id="edu"
            onclick="search_show('job_edu');">
        <input type="hidden" id="eduid" name="edu" {yun:}if $row.edu{/yun} value="{yun:}$row.edu{/yun}"
            {yun:}/if{/yun} />
        <div id="job_edu" class="cus-sel-opt-panel cus-sel-opt-panel-w156" style="display: none;">
            <ul class="Search_Condition_box_list">
                {yun:}foreach from=$comdata.job_edu key=j item=v{/yun}
                <li><a href="javascript:;"
                        onclick="selects('{yun:}$v{/yun}','edu','{yun:}$comclass_name[$v]{/yun}');">{yun:}$comclass_name[$v]{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
        </div>
    </div>
</div>
<div class="box1">
    <span class="sp6">
        语言要求：
    </span>
    <div class="selectBox_">
        <div class="select choosed">
            普通话
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            英语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            日语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            韩语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            德语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            法语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            粤语
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            其它
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
    </div>
</div>
<div class="box1" style="margin-bottom: 40px;">
    <span class="sp6">
        福利待遇：
    </span>
    <div class="selectBox_2">
        <div class="select choosed">
            奖励计划
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            年终奖金
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            五险一金
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            三险一金
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            员工体检
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            销售奖金
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            带薪年假
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            交通补贴
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select">
            定期旅游
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
    </div>
</div>
<div class="title_">联系方式</div>
<div class="line_2"></div>
<div class="box1">
    <span class="sp6">联系方式</span>
    <div class="selectBox_3">
        <div class="select choosed">
            使用企业联系方式（胡汉三12345678901）
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="select ">
            使用新联系方式
            <div class="triangle"></div>
            <span class="gou">√</span>
        </div>
        <div class="newTel">
            <p>使用新联系方式</p>
            <input type="text" class="input_min inputMin" placeholder="请输入联系人">
            <input type="text" class="input_min" placeholder="请输入联系电话">
            <div class="switch">
                <div></div>
            </div>
            <span>同步到所有职位</span>
        </div>
    </div>
</div>
<button type="button" class="button_1 gradient_1 reset">发布职位</button>
</div>
</div>
<script>
    $(function () {
        $('.typeBox>div').click(ev => {
            $('.typeBox>div').removeClass('choosed');
            $(ev.currentTarget).addClass('choosed');
        })
        $('.selectBox_ .select,.selectBox_2 .select').click(ev=>{
            $(ev.currentTarget).toggleClass('choosed');
        })
        $('.selectBox_3 .select').click(ev=>{
            $(ev.currentTarget).toggleClass('choosed');
            if($(ev.currentTarget).siblings('.select').hasClass('choosed')){
                $(ev.currentTarget).siblings('.select').removeClass('choosed');
            }
            if($('.selectBox_3 .select:nth-child(2)').hasClass('choosed')){
                $('.newTel').css('display','flex');
            }else{
                $('.newTel').css('display','none');
            }
        })
        $('.switch').click(ev=>{
            if($('.switch div').css('left')=='0px'){
                $('.switch div').css('left','20px')
                $('.switch').css('background','#3cc1d3')
            }else{
                $('.switch div').css('left','0px')
                $('.switch').css('background','#ededed')
            }
        })
    })
</script>
{yun:}include file="$comstyle/jobserver.htm"{/yun}
{yun:}include file="$tplstyle/footer.htm"{/yun}