<!--头部 start -->
{yun:}include file="$comstyle/c_header.htm"{/yun}
{yun:}include file="$comstyle/c_header_nav.htm"{/yun}
<!--头部 end -->
<!--inner header start-->
<title>在线充值</title>
<link rel="stylesheet" href="/app/public/css/resume/resume.css">
<link rel="stylesheet" href="/app/public/css/paylog/paylog.css">
<script src="/app/public/js/resume/resume.js"></script>
<script src="/app/public/js/resume/jquery.resize.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/public.js"></script>
<script>
    $(function () {
        var _layer_msg = $('#layer_msg').val();
        var _layer_time = $('#layer_time').val();
        var _layer_st = $('#layer_st').val();
        if(_layer_msg){
            layer.msg(_layer_msg,_layer_time,_layer_st);return false;
        }
    })
</script>
<style>
    input.input-normal{
        width: 300px;
        height: 40px;
    }
</style>
<script>
    var weburl = '{yun:}$config.sy_weburl{/yun}';
</script>
<div class="inner_header">
    <div class="container">
        <div class="ul clearall">
            <span class="li current">支付订单<i></i></span>
        </div>
    </div>
</div>
<!--inner header end-->
<div class="content_detail">
    <div class="c_detail_cont mb_80">
        <form name="alipayment" id="c_alipayment" target="fdingdan" action="index.php?c=pay&act=dingdan" method="post">
            <input type="hidden" name="dingdan" value="{yun:}$order.order_id{/yun}"/>
            <input type="hidden" name="price" size="10"  id="com_true_price">
            <div class="dl clearall">
                <div class="dt">充值金额：</div>
                <div class="dd c_money"><input type="text" class="input-normal" name="price_int" id="price_int" size="20" value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');$('#com_true_price').val(this.value)" maxlength='8'></div>
            </div>
            <div class="dl clearall">
                <div class="dt">充值方式：</div>
                <div class="dd">
                    <input id="pay_bank" type="hidden" name="pay_bank" value="directPay">
                    <label class="pay_type fll show_hands current" for="alipay_logo">
                        <i></i>
                        <img id="alipay_logo" data-fatasy="directPay" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_alipay_logo.jpg" alt="" onclick="paycheck('alipay');light_up(this);">
                    </label>
                </div>
            </div>
            <div class="dl mt_30 clearall">
                <div class="dt">&nbsp;</div>
                <div class="dd"><input class="c_btn c_btn_lg c_btn_light_bg btn_01" name="nextstep" id="dingdan_submit" type="button" value="下一步"></div>
            </div>
        </form>
        <div class="tips_more">
            <p class="tips_title">温馨提示：</p>
            <p class="tips_cont">1. 充值成功后，余额可能存在延迟现象，一般1到5分钟内到账，如有问题，请咨询客服，客服电话：<span style="color:#f60;font-size: 18px;">{yun:}$config.sy_freewebtel{/yun}</span>；</p>
            <p class="tips_cont">2. 充值金额输入值必须是正整数；</p>
            <p class="tips_cont">3. 目前只能使用支付宝充值方式，其他充值方式会陆续上线，如果您想使用其他支付方式充值，请联系客服；</p>
            <p class="tips_cont">4. 付款完成后，您可以进入套餐中心页面进行查看余额充值状态。</p>
        </div>
    </div>
</div>
<script>
    /***
     * 验证
     * @param name
     * @returns {boolean}
     */
    function pay_form(name){

        if($("#price_int").length!=0&&$("#price_int").val()<1){
            layer.msg(name,2,8);return false;
        }

    }
    $(function(){
        $('#dingdan_submit').click(function () {

            pay_form('请输入充值数量！');
            var _json={};
            $.post('index.php?c=pay&act=dingdan',$('#c_alipayment').serialize(),function (data) {
                data = JSON.parse(data);
                console.log(data.url);
                if(data.code==200){
                    _json = {title:'温馨提示',content:data.message,type:'success',src:data.url,btn:'前往付款'};
                    //默认2秒自动跳转
                    setTimeout(function(){
                        location.href=data.url;
                    },1200);
                }else{
                    _json = {title:'温馨提示',content:data.message,type:'error',src:data.url,btn:'确定'};
                }
                alert_notice(_json);
            })
        })
    })
</script>
<!--尾巴 start-->
{yun:}include file="$tplstyle/footer.htm"{/yun}
<!--尾巴 end-->

</body>
</html>