<!--头部 start -->
{yun:}include file="$comstyle/c_header.htm"{/yun}
{yun:}include file="$comstyle/c_header_nav.htm"{/yun}
<!--头部 end -->
<title>我的套餐</title>
<!--inner header start-->
<link rel="stylesheet" href="/app/public/css/resume/resume.css">
<link rel="stylesheet" href="/app/public/css/paylog/paylog.css">
<script src="/app/public/js/resume/resume.js"></script>
<style>
    .c_btn{
        text-align: center;
    }
    .screen_list{
        color:rgba(153,153,153,1);
    }
    .screen_list img{
        margin-top:16px;
        margin-right:30px;
    }
    .screen_list .money{
        font-size: 12px;
    }
    .screen_list .money span{
        color:#000;
        font-size: 20px;
        margin:0 4px;
    }
</style>
<div class="inner_header">
    <div class="container">
        <div class="ul clearall">
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=1"><span class="li {yun:}if $c_tpu==1{/yun}current{yun:}/if{/yun}">我的套餐<i></i></span></a>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=2"><span class="li {yun:}if $c_tpu==2{/yun}current{yun:}/if{/yun}">套餐使用记录<i></i></span></a>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=3"><span class="li {yun:}if $c_tpu==3{/yun}current{yun:}/if{/yun}">消费记录<i></i></span></a>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=4"><span class="li {yun:}if $c_tpu==4{/yun}current{yun:}/if{/yun}">充值记录<i></i></span></a>
        </div>
    </div>
</div>
<!--inner header end-->
<!--content-list start-->
<div class="content_list no_hover_text">
    <div class="screen_list mt_10 clearall">
        <img class="fll" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_my_money.png" alt="" width="32">
        <div class="money fll  mr_20">我的余额：<span>20000.00</span>元</div>
        <a href="index.php?c=pay" class="c_btn_square c_btn_light">充值</a>
    </div>
    <div class="c_tc_show clearall">
        <div class="c_show_one fll">
            <div class="c_show_one_upper">
                <div class="c_one_tit"><span></span>慧沟通</div>
                <div class="dl mt_50 clearall">
                    <div class="dt mr_20">
                        <p class="num">12</p>
                        <p class="fll color-999999">可买简历数（份）</p>
                    </div>
                    <div class="dd"><a href="javascript:show_module();" class="c_btn c_btn_light_bg"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step1.png" alt=""></p>
                    <p>发布职位<span> → </span></p>
                </div>
                <div class="li wid40p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step2.png" alt=""></p>
                    <p>猎头推荐沟通过简历<span> → </span></p>
                </div>

                <div class="li wid20p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step3.png" alt=""></p>
                    <p>查看简历<span> → </span></p>
                </div>
                <div class="li wid20p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step4.png" alt=""></p>
                    <p>满意再付费</p>
                </div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid40p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid40p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
            </div>
            <div class="c_show_one_floor">
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_l1.png" alt="">慧沟通是市场上性价比最高的简历套餐</p>
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_l2.png" alt="">推荐前必沟通，确保人才质量</p>
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_l3.png" alt="">专业专注的工作风格，每位猎头只为同行业同区域服务</p>
            </div>
        </div>
        <div class="c_show_one c_show_two fll">
            <div class="c_show_one_upper">
                <div class="c_one_tit"><span></span>慧面试</div>
                <div class="dl mt_50 clearall">
                    <div class="dt mr_20">
                        <p class="num">12</p>
                        <p class="fll color-999999">剩余邀约面试（次）</p>
                    </div>
                    <div class="dd"><a href="javascript:show_module();" class="c_btn c_btn_light"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car_bg.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step1.png" alt=""></p>
                    <p>发布职位<span> → </span></p>
                </div>
                <div class="li wid30p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step2.png" alt=""></p>
                    <p>猎头推荐沟通过简历<span> → </span></p>
                </div>

                <div class="li wid20p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step3.png" alt=""></p>
                    <p>查看简历<span> → </span></p>
                </div>
                <div class="li wid30p">
                    <p><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_step4.png" alt=""></p>
                    <p>选择满意并邀约面试</p>
                </div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid30p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid30p color-3CC1D3">↓</div>
            </div>
            <div class="c_show_one_middle clearall">
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid30p">&nbsp;</div>
                <div class="li wid20p">&nbsp;</div>
                <div class="li wid30p">候选人到场即扣费</div>
            </div>
            <div class="c_show_one_floor">
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_r1.png" alt="">及时有效的流程反馈<span>您所操作的每一步会有专属猎头进行跟踪，并得到及时反馈</span></p>
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_r2.png" alt="">无结果，不收费<span>候选人到场面试才收费，不到场不面试不收费</span></p>
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_r3.png" alt="">确保人才质量<span>推荐前必沟通、面试、细致背景调查</span></p>
                <p><img class="mr_20" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_r4.png" alt="">自建猎头团队8年，保障一对一专业服务</p>
            </div>
        </div>
    </div>
</div>
<!--content-list end-->

<!--尾巴 start-->
{yun:}include file="$comstyle/c_footer.htm"{/yun}
<!--尾巴 end-->
<!--相关简历列表页的弹框module   start -->
<div id="c_shade" class="c_hide">
    <div class="c_true_module">
        <div id="buy_resume" class="c_module c_module_2 c_module_6 c_hide">
            <i onclick="m_close(this)"></i>
            <div class="c_title"><span></span>套餐购买</div>
            <div class="c_cont c_hide">
                <div class="dl clearall">
                    <div class="dd wid20p">慧沟通</div>
                    <div class="dd wid40p">100份+赠送慧面试1次</div>
                    <div class="dd wid20p">1000元</div>
                    <div class="dd wid20p te_lgl"><a href="javascript:buy_now(1);" class="c_btn c_btn_light no_mg"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car_bg.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
                <div class="dl clearall">
                    <div class="dd wid20p">慧沟通</div>
                    <div class="dd wid40p">100份+赠送慧面试1次</div>
                    <div class="dd wid20p">1000元</div>
                    <div class="dd wid20p te_lgl"><a href="javascript:buy_now(1);" class="c_btn c_btn_light no_mg"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car_bg.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
                <div class="dl clearall">
                    <div class="dd wid20p">慧沟通</div>
                    <div class="dd wid40p">100份+赠送慧面试1次</div>
                    <div class="dd wid20p">1000元</div>
                    <div class="dd wid20p te_lgl"><a href="javascript:buy_now(1);" class="c_btn c_btn_light no_mg"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car_bg.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
                <div class="dl clearall">
                    <div class="dd wid20p color-EBCB66">慧面试</div>
                    <div class="dd wid40p">5次</div>
                    <div class="dd wid20p">1000元</div>
                    <div class="dd wid20p te_lgl"><a href="javascript:buy_now(1);" class="c_btn c_btn_light no_mg"><img class="fll mt_3" src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_buy_car_bg.png" alt="">&nbsp;&nbsp;购买</a></div>
                </div>
            </div>
<!--    余额不足显示   start  做php判断   -->
            <div class="nomoney c_hide">
                <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/bz_03.png" alt="">
                <p>套餐余额不足啦！</p>
                <div class="cont">您的套餐余额不足，请前往充值</div>
                <a href="index.php?c=pay" class="c_btn c_btn_md c_btn_light_bg mt_30">去充值</a>
            </div>
<!--    余额不足显示   end  做php判断   -->
        </div>

        <!-- 确认到场 start -->
        <!-- 购买确认 start -->
        <div id="invite_interview" class="c_module c_module_2 c_module_4 c_module_6 c_hide">
            <i onclick="m_close(this)"></i>
            <div class="c_title"><span></span>购买确认</div>
            <div class="c_cont pb_20">
                <div class="dl mt_10 clearall">
                    <div class="dt">套餐类型：</div>
                    <div class="dd color-3CC1D3">慧沟通</div>
                </div>
                <div class="dl mt_10 clearall">
                    <div class="dt">套餐权益：</div>
                    <div class="dd color-3CC1D3">100份+赠送慧面试1次</div>
                </div>
                <div class="dl mt_10 clearall">
                    <div class="dt">套餐价格：</div>
                    <div class="dd color-3CC1D3">1000元</div>
                </div>
                <div class="dl mt_10 clearall">
                    <div class="dt">验证码：</div>
                    <div class="dd c_rela"><input class="input-normal" type="text" name="verify_code" id="verify_code" value="" placeholder="请输入验证码" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"><span onclick="send_code(this)" class="c_send_code">点击获取验证码</span><div class="fllow_tips">已发送验证码到手机号128****1111</div></div>
                </div>
            </div>

            <div class="btnner">
                <div class="mt_20"><a href="#" class="c_btn c_btn_md c_btn_light mr_60">取&nbsp;&nbsp;消</a><a id="c_addorder" data-id="0" href="javascript:;" class="c_btn c_btn_md c_btn_light_bg">下一步</a></div>
            </div>
        </div>
        <!-- 购买确认 end -->
    </div>
</div>

<!--相关简历列表页的弹框module   end -->
<script>
    $(function(){
        $('#c_addorder').click(function () {
            var _json={};
            //检测验证码是否正确
            var _v_code = $('#verify_code').val();
            if(parseInt(_v_code)==0){
                //疑问  弹框是否会刷新页面？
                _json = {title:'温馨提示',content:'请输入正确格式的验证码',type:'error',src:'',btn:'确定'};
                alert_notice(_json);return;
            }

            $.post('index.php?c=pay&act=dingdan',{comservice:_id,},function(data){
                data = JSON.parse(data);
                if(data.code==200){
                    _json = {title:'温馨提示',content:data.message,type:'success',src:data.url,btn:'前往付款'};
                    //默认2秒自动跳转
                    setTimeout(function(){
                        location.href=data.url;
                    },2000);
                }else{
                    _json = {title:'温馨提示',content:data.message,type:'error',src:data.url,btn:'确定'};
                }
                alert_notice(_json);
            })
        })
    })
    /**
     *传套餐id
     */
    function buy_now(_id) {
        //先切换显示弹窗
        $('.c_module').addClass('c_hide');
        $('#invite_interview').removeClass('c_hide');
        $('#c_addorder').attr('data-id',_id);

    }
    function show_module() {
       // re.diff 比较余额和套餐最低价格，余额不足返回0，余额充足，返回1，并且继续查询返回套餐列表data.list

        //layer的加载中
        /* var _loading = layer.load(2, {
            shade: [0.5,'#000']
        });*/
        $.post('',{},function(re){
            re = {code:200,diff:1};//模拟测试数据
            //re = {code:200,diff:0};//模拟测试数据
            if(re.code==200){
                // layer.close(_loading);//关闭加载中
                //获取数据成功，显示弹框
                $('#c_shade').removeClass('c_hide');
                $('.c_module').addClass('c_hide');
                $('#buy_resume').removeClass('c_hide');
                if(re.diff){
                    $('#buy_resume .c_cont').removeClass('c_hide');
                }else{
                    $('#buy_resume .nomoney').removeClass('c_hide');
                }
            }
        })

    }
    /**获取验证码**/
    function send_code(obj) {
        $.post('',{},function (data) {
            if(data.code==200){
                countdown(obj);
            }
        })
    }
    /*倒计时function**/
    function countdown(obj){
        var obj = $(obj);
        var s = 60;/*倒计时时间*/
        //改变按钮状态
        obj.attr('onclick','');
        //添加样式
        obj.addClass('color-grey');
        callback();
        //循环定时器
        var T = window.setInterval(callback,1000);
        function callback()
        {
            if(s <= 0){
                window.clearInterval(T);
                obj.removeClass('color-grey');
                obj.text('点击重新获取');
                obj.attr('onclick','send_code(this)');
            }else{
                obj.text(--s + '秒后再获取');
            }
        }
    }
</script>
</body>
</html>