<!--头部 start -->
<!-- {yun:}include file="$comstyle/c_header.htm"{/yun} -->
<!-- {yun:}include file="$comstyle/c_header_nav.htm"{/yun} -->
{yun:}include file="$comstyle/header.htm"{/yun}
<!--头部 end -->
<title>简历列表</title>
<!--inner header start-->
<link rel="stylesheet" href="/app/public/css/resume/resume.css">
<script src="/app/public/js/resume/resume.js"></script>
<div class="inner_header">
    <div class="container">
        <div class="ul clearall">
            <span class="li current" link='/member/index.php?c=resume'>收到的简历<i></i></span>
            <span class="li" link='/member/index.php?c=resume&c_type=4'>已下载的简历<i></i></span>
            <span class="li" link='/member/index.php?c=resume&c_type=8'>待面试<i></i></span>
            <span class="li" link='/member/index.php?c=resume&c_type=99'>所有简历<i></i></span>
        </div>
        <div class="search">
            <div class="inp clearall"><input class="fll" type="text" name="kwd" oninput="change(event)" id="kwd"
                    placeholder="请输入关键字"><a href="void:0" class="sou">搜索</a></div>
        </div>
    </div>
</div>
<!--inner header end-->
<!--content-list start-->
<div class="content_list no_hover_text">
    <div class="screen_list mt_10">
        <div class="screen clearall">
            <span class="head_tit">筛选：</span>
            <div class="select_box">
                <input type="button" value="全部职位" class="select_box_text fll" id="business_name"
                    onclick="select_click('business');">
                <input name="business" type="hidden" id="business_val" value="0">
                <div class="select_box_list_box dn" id="business_select">
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('business','0','全部职位')">全部职位</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('business','1','招有梦想的咸鱼')">招有梦想的咸鱼</a>
                    </div>

                </div>
            </div>
            <div class="select_box">
                <input type="button" value="所有类型" class="select_box_text fll" id="at_name"
                    onclick="select_click('at');">
                <input name="at" type="hidden" id="at_val" value="0">
                <div class="select_box_list_box dn" id="at_select">
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','0','所有类型')">所有类型</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','1','慧沟通')">慧沟通</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','2','慧面试')">慧面试</a>
                    </div>
                </div>
            </div>
            <div class="end_right fll"><input type="checkbox" class="c_check" name="is_look" onchange="che()" id="is_look"> 未查看</div>
        </div>
    </div>
    <!--  收到的简历 start -->
    <div class="c_table mt_28 clearall resumeList">
        <div class="c_th clearall">
            <div class="c_td">候选人</div>
            <div class="c_td">学历</div>
            <div class="c_td">工作年限</div>
            <div class="c_td">意向职位</div>
            <div class="c_td">类型</div>
            <div class="c_td">顾问</div>
            <div class="c_td">推荐时间</div>
            <div class="c_td">操作</div>
        </div>
    </div>
    <div id="pager" class="pagger-box pagger"></div>
    <!--  收到的简历 end -->
</div>
<!--content-list end-->

<!--尾巴 start-->
{yun:}include file="$tplstyle/footer.htm"{/yun}
<!--尾巴 end-->
<!--相关简历列表页的弹框module   start -->
{yun:}include file="$comstyle/c_resume_module.htm"{/yun}
<!--相关简历列表页的弹框module   end -->
</body>
<script>
    var tp_status = 1;
    $(function () {
        let pager = $('#pager').paging({
            initPageNo: 1, // 初始页码
            totalPages: 1, //总页数
            totalCount: '共' + 0 + '条', // 条目总数
            slideSpeed: 200, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: getData // 回调函数
        });
        $('#business_val').bind('myev', change)
        $('#at_val').bind('myev', change)
        function getData(page, size) {
            Post('{yun:}$config.sy_weburl{/yun}/login/index.php?c=resume_show', {
                c_type: 1,
                job_id: $('#business_val').val() != 0 ? $('#business_val').val() : void 0,
                job_type: $('#at_val').val() != 0 ? $('#at_val').val() : void 0,
                kwd: $('#kwd').val() ? $('#kwd').val() : void 0,
                page,
                size,
                islook: $('#is_look').attr('checked') ? 1 : void 0
            }).then(res => {
                $('.resumeList').html(`<div class="c_th clearall">
            <div class="c_td">候选人</div>
            <div class="c_td">学历</div>
            <div class="c_td">工作年限</div>
            <div class="c_td">意向职位</div>
            <div class="c_td">类型</div>
            <div class="c_td">顾问</div>
            <div class="c_td">推荐时间</div>
            <div class="c_td">操作</div>
        </div>`);
                res.datas.map(val => {
                    $('.resumeList').append(`
                        <div class="c_tr clearall">
            <div class="c_td"><a href='/member/index.php?c=resume&act=detail&resume_id=${val.resume_id}&project_id=${val.project_id}'>${val.name}</a></div>
            <div class="c_td">${val.edu?val.edu:'&nbsp;'}</div>
            <div class="c_td">${val.work_year}年</div>
            <div class="c_td"><a href='/job/index.php?c=comapply&id=${val.project_id}'>${val.job_class}</a></div>
            <div class="c_td">${val.service_type==0?'慧沟通':'慧简历'}</div>
            <div class="c_td">${val.tj_namer}</div>
            <div class="c_td">${get_time(val.tjaddtime,3)}</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 fll" href="javascript:void(0);"
                    onclick="show_module('${val.service_type==0?'c_module_2':'c_module_4'},${val.resume_id},${val.project_id}')">${val.service_type==0?'购买简历':'邀约面试'}</a>
                    <a class="not_fit" href="javascript:void(0)" onclick='bhs(${val.resume_id},${val.project_id})'>不合适</a></div>
        </div>
                        `)
                })
                pager.options.pageNo = res.data.page;
                pager.options.totalPages = res.data.totalPage;
                pager.options.totalCount = '共' + res.data.totalSize + '条';
                pager.options.callback = function () {};
                pager.init();
                pager.options.callback = getData;
            }).catch(res => {
                $('.resumeList').html('<div class="c_no_data"><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_no_data.png" alt=""><p>暂无数据</p></div>')
                pager.options.pageNo = 1;
                pager.options.totalPages = 1;
                pager.options.totalCount = '共' + 0 + '条';
                pager.options.callback = function () {};
                pager.init();
                pager.options.callback = getData;
            })
        }
        $('#kwd').keydown(ev=>{
            if(ev.keyCode==13){
                $('.pagersel').change();
            }
        })
        $('.sou').click(ev=>{
            $('.pagersel').change();

        })
    })
    function che(){
        $('.pagersel').change();
    }
    function change(ev, before, after) {
        let name = $(ev.target).attr('name');
        if (before != after) {
            switch (name) {
                case 'business':
                    $('#at_select>div:nth-child(1) a').click();
                    $('#kwd').val('')
                    break
                case 'at':
                    $('#business_select>div:nth-child(1) a').click();
                    $('#kwd').val('')
                    break
            }
        $('.pagersel').change();
        } else if (name == 'kwd') {
            $('#business_select>div:nth-child(1) a').click();
            $('#at_select>div:nth-child(1) a').click();
        }
    }
</script>

</html>