<!--头部 start -->
<!-- {yun:}include file="$comstyle/c_header.htm"{/yun} -->
<!-- {yun:}include file="$comstyle/c_header_nav.htm"{/yun} -->
{yun:}include file="$comstyle/header.htm"{/yun}
<!--头部 end -->
<title>简历列表</title>
<!--inner header start-->
<link rel="stylesheet" href="/app/public/css/resume/resume.css">
<script src="/app/public/js/resume/resume.js"></script>
<div class="inner_header">
    <div class="container">
        <div class="ul clearall">
            <span class="li current">收到的简历（4）<i></i></span>
            <span class="li">已下载的简历（12）<i></i></span>
            <span class="li">待面试（12）<i></i></span>
            <span class="li">所有简历（12）<i></i></span>
        </div>
        <div class="search">
            <div class="inp clearall"><input class="fll" type="text" name="kwd" id="kwd" placeholder="请输入关键字"><a href="" class="sou">搜索</a></div>
        </div>
    </div>
</div>
<!--inner header end-->
<!--content-list start-->
<div class="content_list no_hover_text">
    <div class="screen_list mt_10">
        <div class="screen clearall">
            <span class="head_tit">筛选：</span>
            <div class="select_box">
                <input type="button" value="全部职位" class="select_box_text fll" id="business_name" onclick="select_click('business');">
                <input name="business" type="hidden" id="business_val" value="0">
                <div class="select_box_list_box dn" id="business_select">
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('business','0','全部职位')">全部职位</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('business','1','招有梦想的咸鱼')">招有梦想的咸鱼</a>
                    </div>

                </div>
            </div>
            <div class="select_box">
                <input type="button" value="所有类型" class="select_box_text fll" id="at_name" onclick="select_click('at');">
                <input name="at" type="hidden" id="at_val" value="0">
                <div class="select_box_list_box dn" id="at_select">
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','0','所有类型')">所有类型</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','1','慧沟通')">慧沟通</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','1','慧面试')">慧面试</a>
                    </div>
                </div>
            </div>
            <div class="end_right fll"><input type="checkbox" class="c_check" name="is_look" id="is_look"> 未查看</div>
        </div>
    </div>
<!--  收到的简历 start -->
    <div class="c_table mt_28 clearall">
        <div class="c_th clearall">
            <div class="c_td">候选人</div>
            <div class="c_td">学历</div>
            <div class="c_td">工作年限</div>
            <div class="c_td">意向职位</div>
            <div class="c_td">类型</div>
            <div class="c_td">顾问</div>
            <div class="c_td">推荐时间</div>
            <div class="c_td">操作</div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 fll" href="javascript:void(0);" onclick="show_module('c_module_1')">购买简历</a><a class="not_fit" href="">不合适</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 fll" href="javascript:void(0);" onclick="show_module('c_module_2')">MODULE2</a><a class="not_fit" href="">不合适</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 fll" href="javascript:void(0);" onclick="show_module('c_module_3')">MODULE3</a><a class="not_fit" href="">不合适</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 fll" href="javascript:void(0);" onclick="show_module('c_module_4')">MODULE4</a><a class="not_fit" href="">不合适</a></div>
        </div>

    </div>
<!--  收到的简历 end -->
<!--  已下载的简历 start -->
    <div class="c_table c_hide mt_28 clearall">
        <div class="c_th clearall">
            <div class="c_td">候选人</div>
            <div class="c_td">学历</div>
            <div class="c_td">工作年限</div>
            <div class="c_td">意向职位</div>
            <div class="c_td">顾问</div>
            <div class="c_td">推荐时间</div>
            <div class="c_td new_tips show_hands" alt="点我查看详情" title="点我查看详情">顾问确认 <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_clickme.png" alt=""></div>
            <div class="c_td">操作</div>
            <div class="c_jsshow show_tips">最终面试时间以顾问确认后的信息为准</div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td show_hands que_tips" alt="点我查看详情" title="点我查看详情">待确认 <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_holding.png" alt=""></div>
            <div class="c_td"><a class="c_btn c_btn_light " href="">到场确认</a></div>
            <div class="c_jsshow show_que">
                <p class="que_title">等待顾问最终确认面试信息</p>
                <p>我发起的面试邀请</p>
                <div class="dl clearall">
                    <div class="dt">面试时间：</div>
                    <div class="dd">2019-07-24 14:30</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">面试地点：</div>
                    <div class="dd">重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">面试人：</div>
                    <div class="dd">BOSS老板</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">备注：</div>
                    <div class="dd">麻烦带上一份个人详细简历资料，带上身份证</div>
                </div>
            </div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td show_hands que_tips" alt="点我查看详情" title="点我查看详情">已拒绝 <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_holding.png" alt=""></div>
            <div class="c_td"><a class="c_btn c_btn_light" href="">移除</a></div>
            <div class="c_jsshow show_que">
                <p class="que_title">候选人拒绝</p>
                <div class="dl clearall">
                    <div class="dt">拒绝原因：</div>
                    <div class="dd">离家太远，暂不考虑</div>
                </div>
            </div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td show_hands que_tips" alt="点我查看详情" title="点我查看详情">已确认 <img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_holding.png" alt=""></div>
            <div class="c_td"><a class="c_btn c_btn_grey_bg" href="">等待面试</a></div>
            <div class="c_jsshow show_que">
                <p class="que_title">顾问已确认</p>
                <p>等待候选人面试</p>
                <div class="dl clearall">
                    <div class="dt">面试时间：</div>
                    <div class="dd">2019-07-24 14:30</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">面试地点：</div>
                    <div class="dd">重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头重庆市渝中区朝天门卡卡头</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">面试人：</div>
                    <div class="dd">BOSS老板</div>
                </div>
                <div class="dl clearall">
                    <div class="dt">备注：</div>
                    <div class="dd">麻烦带上一份个人详细简历资料，带上身份证</div>
                </div>
            </div>
        </div>

    </div>
<!--  已下载的简历 end  -->
<!--  待面试  -->
    <div class="c_table c_hide mt_28 clearall">
        <div class="c_no_data"><img src="{yun:}$config.sy_weburl{/yun}/app/public/imgs/c_no_data.png" alt=""><p>暂无数据</p></div>
    </div>
<!--  待面试  -->
<!--  所有简历 start  -->
    <div class="c_table mt_28 clearall c_hide">
        <div class="c_th clearall">
            <div class="c_td">候选人</div>
            <div class="c_td">学历</div>
            <div class="c_td">工作年限</div>
            <div class="c_td">意向职位</div>
            <div class="c_td">类型</div>
            <div class="c_td">顾问</div>
            <div class="c_td">推荐时间</div>
            <div class="c_td">操作</div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 hide_hands" href="javascript:void(0);">未查看</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 hide_hands" href="javascript:void(0);">已查看</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 hide_hands" href="javascript:void(0);">待面试</a></div>
        </div>
        <div class="c_tr clearall">
            <div class="c_td">王大锤</div>
            <div class="c_td">砖士</div>
            <div class="c_td">10年</div>
            <div class="c_td">跑龙套</div>
            <div class="c_td">慧沟通</div>
            <div class="c_td">冯小刚冯小刚冯小刚冯小刚冯小刚冯小刚</div>
            <div class="c_td">219-07-24</div>
            <div class="c_td"><a class="c_btn c_btn_light_bg mr_6 hide_hands" href="javascript:void(0);">已到场</a></div>
        </div>

    </div>
<!--  所有简历 end  -->
</div>
<!--content-list end-->

<!--尾巴 start-->
{yun:}include file="$tplstyle/footer.htm"{/yun}
<!--尾巴 end-->
<!--相关简历列表页的弹框module   start -->
{yun:}include file="$comstyle/c_resume_module.htm"{/yun}
<!--相关简历列表页的弹框module   end -->
</body>
<script>
    var tp_status = 1;
    $(function(){
        getData(1,5)
        function getData(page,size){
            Post('{yun:}$config.sy_weburl{/yun}/login/index.php?c=resume_show',{
                job_id:/*$('#business_val').val()*/96,
                // job_type:$('#at_val').val(),
                // kwd:$('#kwd').val(),
                page,
                size,
                islook:$('#is_look').attr('checked')?1:void 0
            }).then(res=>{
                if(tp_status==1){
                    res.datas.map(val=>{
                        
                    })
                }
            }).catch(res=>{

            })
        }
    })
</script>
</html>