<!--头部 start -->
{yun:}include file="$comstyle/c_header.htm"{/yun}
{yun:}include file="$comstyle/c_header_nav.htm"{/yun}
<!--头部 end -->
<title>消费记录++</title>
<!--inner header start-->
<link rel="stylesheet" href="/app/public/css/resume/resume.css">
<link rel="stylesheet" href="/app/public/css/paylog/paylog.css">
<script src="/app/public/js/resume/resume.js"></script>
<div class="inner_header">
    <div class="container">
        <div class="ul clearall">
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=1"><span class="li {yun:}if $c_tpu==1{/yun}current{yun:}/if{/yun}">我的套餐<i></i></span></a>
            <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=2"><span class="li {yun:}if $c_tpu==2{/yun}current{yun:}/if{/yun}">套餐使用记录<i></i></span>
                <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=3"><span class="li {yun:}if $c_tpu==3{/yun}current{yun:}/if{/yun}">消费记录<i></i></span>
                    <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=paylog&c_tpu=4"><span class="li {yun:}if $c_tpu==4{/yun}current{yun:}/if{/yun}">充值记录<i></i></span>
        </div>
    </div>
</div>
<!--inner header end-->
<!--content-list start-->
<div class="content_list no_hover_text">
    <div class="screen_list mt_10">
        <div class="screen clearall">
            <span class="head_tit">筛选：</span>

            <div class="select_box">
                <input type="button" value="所有类型" class="select_box_text fll" id="at_name" onclick="select_click('at');">
                <input name="at" type="hidden" id="at_val" value="0">
                <div class="select_box_list_box dn" id="at_select">
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','0','所有类型')">所有类型</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','1','慧沟通')">慧沟通</a>
                    </div>
                    <div class="select_box_list">
                        <a href="javascript:void(0);" onclick="select_new('at','1','慧面试')">慧面试</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  收到的简历 start -->
    <div class="c_table mt_28 clearall">
        <div class="c_th clearall">
            <div class="c_td">服务方式</div>
            <div class="c_td">套餐</div>
            <div class="c_td">价格</div>
            <div class="c_td">余额</div>
            <div class="c_td">状态</div>
            <div class="c_td">时间</div>
        </div>
        <div class="list">

        </div>
        <div id="pager" class="pagger-box pagger"></div>

    </div>
    <!--  收到的简历 end -->
</div>
<!--content-list end-->
<script>
    let pager = $('#pager').paging({
        initPageNo: 1, // 初始页码
        totalPages: 1, //总页数
        totalCount: '共' + 0 + '条', // 条目总数
        slideSpeed: 200, // 缓动速度。单位毫秒
        jump: true, //是否支持跳转
        callback: getData(1,5) // 回调函数
    });

    function getData(page,size){
        $.post('{yun:}$config.sy_weburl{/yun}/member/index.php?c=order_api&act=serviceList',{'page':page,'page_size':size},function(re){
            re = JSON.parse(re);
            var _html = '';
            if(re.code==200){
                for (var i in re.info.list) {
                    _html +='<div class="c_tr clearall">\n' +
                        '            <div class="c_td">&nbsp;'+re.info.list[i].rating+'</div>\n' +
                        '            <div class="c_td">&nbsp;'+re.info.list[i].rating2+'</div>\n' +
                        '            <div class="c_td">&nbsp;'+re.info.list[i].order_price+'</div>\n' +
                        '            <div class="c_td">-'+re.info.list[i].order_price+'</div>\n' +
                        '            <div class="c_td">购买成功</div>\n' +
                        '            <div class="c_td">&nbsp;'+re.info.list[i].order_time+'</div>\n' +
                        '        </div>';

                }
                $('.c_table .list').html(_html);//输出数据列表
                pager.options.pageNo = re.info.current_page;
                pager.options.totalPages = re.info.counts / re.info.page_size;
                pager.options.totalCount = '共' + re.info.counts + '条';
                pager.options.callback = function () {};
                pager.init();
                pager.options.callback = getData;
            }else{
                alert_notice({title:'温馨提示',content:'获取套餐列表失败',type:'error',src:'',btn:'确定',else:''});
            }
        })
    }

</script>
<!--尾巴 start-->
{yun:}include file="$comstyle/c_footer.htm"{/yun}
<!--尾巴 end-->
<!--相关简历列表页的弹框module   start -->
{yun:}include file="$comstyle/c_resume_module.htm"{/yun}
<!--相关简历列表页的弹框module   end -->
</body>
</html>